[2015-03-24 17:43] anindya opened #10 "One-Page Scroll for the website"
As of now, the website is using a very primitive UI. I think that the data on every page can be compressed down and put into something more elegant like one-page scroll. Something like this www.thepetedesign.com/demos/onepage_scroll_demo.html

[2015-10-13 09:48] samdroid-apps opened #11 "Spam in prod version of www.slo"
https://github.com/walterbender/www-sugarlabs/blob/4c7fb0a642120b6d9d9acf3abf69b861954dc984/index.php#L45

Is there any other copy of www.sugarlabs.org source code that does not have spam in it?

[2015-10-13 13:28] walterbender commented on #11
Wonder when that got in there. Not sure we have another copy. Will
investigate.
On Oct 13, 2015 5:48 AM, "Sam" <notifications@github.com> wrote:

[2015-12-09 03:22] shadowninjazx opened #13 "Assets for bootsoas.html"
These can be uploaded to the asset section of the website for the bootsoas.html to show properly.

![boot1](https://cloud.githubusercontent.com/assets/10959463/11675720/0d349be4-9dfa-11e5-9b46-a779e6c92cbd.jpg)
![boot2](https://cloud.githubusercontent.com/assets/10959463/11675722/0d3856f8-9dfa-11e5-9719-0f6aa4a5329f.jpg)
![boot3](https://cloud.githubusercontent.com/assets/10959463/11675721/0d36400

[2015-12-10 02:13] #13 closed

[2016-04-01 15:12] #11 closed

[2016-04-02 11:10] samdroid-apps commented on #10
Sorry, I'm not 100% sure what you mean in this ticket.  You seem to talk about 2 separate things:

1.  Compressing the content down:  content suggestions are always welcome.  I think that the home page is pretty compressed and that we need more extra content (eg. getting started guides), but if you want to work on the home page feel free to!
2.  Using the funny scrolling things:  trends pass by fa

[2016-04-02 12:59] walterbender commented on #10
scrolljacking is a terrible UI experience and since we are not beholden to advertisers, no reason to do it.

[2016-04-13 00:58] davelab6 commented on #10
@walterbender I suggest closing this issue if you won't accept any pull request to implement this, no matter how well crafted :)

[2016-04-13 00:59] davelab6 commented on #10
@anindya thanks for posting this - I think its a fun idea but perhaps the same intent of separating each section of the homepage can be done with CSS (use of color and element positioning) rather than JavaScript

[2016-04-13 03:43] davelab6 opened #18 "LICENSE?"
Why is this site licensed under CC-BY-NC? That means this is not a "free work" per https://creativecommons.org/freeworks/ :(

[2016-04-13 03:50] davelab6 opened #20 "Consolidating https://github.com/sugarlabs/sugar-docs here"
I would like to make a PR to import https://github.com/sugarlabs/sugar-docs into this repo, and that repo closed. Will such a PR be accepted?

[2016-04-13 11:34] walterbender commented on #10
@davelab6 Seems to be two different ideas expressed here: how to represent the page(s) internally and how to interact with the page. I'd like to let the former play out.

[2016-04-13 14:30] davelab6 commented on #10
@walterbender ok :)

@anindya , could you explain more what you meant by

[2016-04-14 03:05] anindya commented on #10
@davelab6 I think I wrote that for the amount of content. Content on every page is very, content can be cut down to bare bones, just to show the crux of what we want to say on every page.
Also, 1 year after opening the issue, I also feel that scrolljacking is not the way to go.

[2016-04-20 15:43] davelab6 commented on #18
Ping :)

[2016-04-20 15:56] davelab6 opened #22 "Add list of good introductions to libre software culture"
Since Sugar attracts many people who are new to libre software, and per https://wiki.sugarlabs.org/go/File:Education-needs-free-software.pdf onboarding people to the movement is a primary purpose of Sugar Labs, the website should provide a curated list of good introductions.

I see 3 main areas:

Philosophy / Concepts
- www.gnu.org/philosophy/free-sw.html
- www.gnu.org/gnu/manifesto.en.html
- www.

[2016-04-20 18:11] walterbender commented on #18
The "old" website was CC-by-Attribution 3.0. Not sure when/why the switch
was made.

On Wed, Apr 20, 2016 at 11:43 AM, Dave Crossland <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-04-20 18:23] davelab6 commented on #18
BY or BY-SA would be great!

[2016-04-21 15:22] sdalybe opened #23 "No mention of OLPC"
It's important to mention SL's roots in OLPC, for SEO.

Text in the What is Sugar Labs? section should be:

"a volunteer-driven, non-profit organization, had its origins in the One Laptop Per Child project and is now a member project of the Software Freedom Conservancy."

[2016-04-21 15:23] sdalybe opened #24 "typo on homepage"
Under the Join the Conversation section:

"We strive to create software that work well"

should be

"We strive to create software that works well"

[2016-04-21 15:25] sdalybe opened #25 "Intro doesn't mention nonprofit/volunteer"
We have always been assumed to be a for-profit startup.

Intro text should be:

"At Sugar Labs, we make a collection of tools that learners use to explore, discover, create, and reflect. We are nonprofit and staffed by volunteers. We distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning."

[2016-04-21 15:28] sdalybe opened #26 "the word "Activities" should always be capitalized"
The Activities section should read:

"from the hundreds of Activities available"

We always capitalize the word Activities, to stress their importance, and to differentiate them from mere "apps"

[2016-04-21 15:35] sdalybe opened #27 "Copyright missing symbol, trademark statement lacking"
The footer should say:

"Sugar Labs(R) is a registered trademark of the Software Freedom Conservancy."

the (R) here should be the HTML entity for registered trademark, and not the literal character
' &reg; '

The copyright statement should have the symbol after the word 'Copyright', HTML entity
' &copy; '

[2016-04-21 15:40] davelab6 commented on #18
In fact I see the https://github.com/sugarlabs/www-sugarlabs/blob/master/LICENSE file contains the GPLv3.... Looking at https://github.com/sugarlabs/www-sugarlabs/graphs/contributors it seems there are 6 contributors: 2 have trivial patches that are probably not subject to copyright - https://github.com/sugarlabs/www-sugarlabs/commit/808085eb3948399cc4237e490e010380ae4e00b1 and https://github.com/

[2016-04-21 15:48] sdalybe opened #29 "no school server mention"
Teachers and school IT admins will want to know about the school server offering available.

This could go under "What is Sugar Labs", a hyperlink with text
School Server Resources
and URL
http://schoolserver.org/

[2016-04-21 16:41] walterbender commented on #18
OK with me.

On Thu, Apr 21, 2016 at 11:40 AM, Dave Crossland <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-04-21 16:43] davelab6 opened #32 "Information Architecture Plan"
In http://lists.sugarlabs.org/archive/sugar-devel/2016-April/052163.html I wrote,

I'll make a pull request with a proposal to be improved by us all :)

[2016-04-21 20:41] davelab6 commented on #25
With the new translations manager being paid monthly, while SLOBs are all unpaid, I suggest replacing

with

[2016-04-21 20:42] davelab6 commented on #23
I suggest adding the acronym after the name, eg from

to

[2016-04-21 21:22] samdroid-apps commented on #18
Hello,

So the JS is already under AGPLv3+.  https://github.com/sugarlabs/www-sugarlabs/commit/115dd7a52f8712b21346ce0f0e158cc397a5ebd3  AGPL is the GPL, but the idea of "distributing software" includes putting it up on a web server for the public.  It's the GPL of the web.

At the bottom of the site, it says "Created by the Sugar Labs community, available under the CC BY NC 4.".  I can't full rem

[2016-04-21 21:25] davelab6 commented on #18
If you have a doubt about reaching all the copyright holders, then I
suggest we throw the whole thing away and start with something that is
cleanly licensed.

AGPL is useful for server-side code, so clientside JS under AGPL doesn't
make sense.

[2016-04-21 21:26] samdroid-apps commented on #18
Well, AGPL does no harm vs GPL.  Don't worry mate, I've already done the license for that.

[2016-04-21 22:59] sdalybe commented on #25
hee hee that makes three dozen leaders and 1 worker
it's not just the SLOBs who are unpaid, it's everyone else... until now
I guess "led by volunteers" is OK but later on we will bump into why some members will get contracts and others not.
Fully support cjl by the way.

[2016-04-21 23:00] sdalybe commented on #25
discovering that posting a comment means closing it... except it's not

[2016-04-21 23:01] davelab6 commented on #25
Admins have 2 buttons, close and command, and comment :)

[2016-04-21 23:02] davelab6 commented on #25
And, I don't mean to imply any lack of support for CJL! I'm very happy when any free software project pays for labour.

[2016-04-21 23:02] sdalybe commented on #23
Heartily agree, even better for SEO
I disdain acronyms in general, but this will be helpful.

[2016-04-23 00:22] davelab6 opened #36 "Source for XO Laptop In The Classroom Book"
Does anyone have a copy of the source files for http://etoysillinois.org/files/The-XO-Laptop-in-the-Classroom.pdf ? :)

[2016-04-23 13:06] walterbender commented on #36
I will find a copy.

On Fri, Apr 22, 2016 at 8:22 PM, Dave Crossland <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-04-23 19:33] davelab6 commented on #36
Thank you Walter! :)

[2016-04-23 19:41] walterbender commented on #36
https://wiki.sugarlabs.org/images/3/32/La-laptop-xo-en-el-aula.pdf

On Sat, Apr 23, 2016 at 9:06 AM, Walter Bender <walter.bender@gmail.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-04-23 20:02] davelab6 commented on #36
Spanish version is awesome!! :D

[2016-04-26 21:54] #26 closed

[2016-04-28 18:45] davelab6 opened #38 "Write email mini-course"
In https://github.com/sugarlabs/www-sugarlabs/pull/33/files#r61170562 @samdroid-apps wrote,

https://copyhackers.com/2015/10/copywriting-formula/ has some good structures for these

[2016-05-01 16:09] #27 closed

[2016-05-02 03:58] davelab6 opened #41 "Verify Facebook Account"
Making an issue to track this :)

[2016-05-02 11:58] khanstark commented on #41
@davelab6 whats with the fb account?

[2016-05-02 12:19] davelab6 commented on #41
Its not yet verified

[2016-05-02 12:21] davelab6 commented on #41
BTW I have reached out to the owner of https://www.facebook.com/sugarlabs and they were not willing to transfer the username immediately, but said they would get back to me

[2016-05-02 12:51] khanstark commented on #24
imo this ticket needs to be closed now!

[2016-05-02 12:54] davelab6 commented on #24
Thanks!

[2016-05-02 12:54] #24 closed

[2016-05-02 12:54] #23 closed

[2016-05-02 12:55] #29 closed

[2016-05-02 12:56] #25 closed

[2016-05-02 12:58] davelab6 commented on #36
@walterbender any luck finding the source for this?

[2016-05-02 13:02] davelab6 commented on #18
It may strain our relationship with sponsors who accept GPL but not AGPL.

[2016-05-02 13:02] davelab6 commented on #18
@tradzik and @shadowninjazx please comment :)

[2016-05-02 14:01] walterbender commented on #38
We should try to get some of the great Sugar teachers engaged. Rosamel from .UY, for example.

[2016-05-02 14:30] walterbender commented on #20
What exactly is the goal? Would these .md files be found in a developer section of www.sl.o?

[2016-05-02 15:05] davelab6 commented on #20
The goal is consolidation: put the website sources together into a single repo, so that the pull request reviewing community is consolidated and to show more activity to attract more contributors.

The integration of the design and intertwining of content can happen without this consolidation, but will be a little easier if they are in a single repo :)

[2016-05-10 23:54] shadowninjazx commented on #18
@davelab6 Sorry for being late. I agree on the CC license of the pictures I uploaded.

[2016-05-14 21:55] davelab6 opened #43 "people.sl.o"
I think this should be sunset; I started a thread to discuss it in http://lists.sugarlabs.org/archive/systems/2016-May/004988.html

Before turning it off,
- [ ] Apache should be configured to send no-index headers for all pages
- [ ] All prominent links pointing visitors to content there should be redirected elsewhere

[2016-05-15 04:13] davelab6 opened #44 "meeting.sl.o"
http://meeting.sugarlabs.org needs a quick refresh of the homepage to
- [ ] use visual design to show which channels are most likely to be relevant, based on 2016 activity, and
- [ ] channels without 2016 activity should have the log bot cancelled and their obsolete status made visible

[2016-05-15 23:26] davelab6 commented on #22
@samdroid-apps any good introduction text you are aware of, stuff like git ?

[2016-05-15 23:51] davelab6 opened #46 "Point to multi-seat possibilities"
Thanks to systemd, its now pretty simple to get a multi-seat setup going:

https://bluehatrecord.wordpress.com/2015/01/15/multiseat-configuration-in-fedora-21/

It would be great to have a page showing this off with Sugar

[2016-05-16 12:38] venky18 commented on #22
have a look at
- [Code School's Try Git](https://try.github.io/levels/1/challenges/1)
- [Git-it](https://github.com/jlord/git-it)
- [GitHubGuides](https://www.youtube.com/user/GitHubGuides) - GitHub Training & Guides on YouTube.
- https://github.com/phillipadsmith/awesome-github

[2016-05-16 16:33] davelab6 opened #47 "Add a page measuring Sugar against the LF CII Best Practices"
https://github.com/linuxfoundation/cii-best-practices-badge

[2016-05-16 16:56] walterbender commented on #47
Sound like another goal for 2016.

On Mon, May 16, 2016 at 12:33 PM, Dave Crossland <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-05-16 17:26] davelab6 commented on #47
Done

[2016-05-16 20:55] davelab6 commented on #20
I propose moving the sugar-docs content to sugarlabs.org/develop/

[2016-05-16 20:57] davelab6 commented on #18
@shadowninjazx thanks!

@tradzik what do you think?

[2016-05-16 20:59] davelab6 commented on #10
I agree the content needs work, and to address this I've made a information architecture plan, https://github.com/sugarlabs/www-sugarlabs/blob/master/STRUCTURE.md

Since you now think scrolljacking is not ideal, I'll close this :)

Thanks for participating :)

[2016-05-16 20:59] #10 closed

[2016-05-16 21:12] davelab6 opened #48 "How to do Localization"
Since the majority of sugar users speak Spanish or other languages than English, we will need to localize the site from English to Spanish and others.

Sadly, Jekyll doesn't support l10n well (although this might change in the future, per https://github.com/github/mentorships/issues/106) so there are 2 ways to do it that I can see:
1. Put all content in IETF language code directories, and develop

[2016-05-16 21:42] walterbender commented on #48
I don't know Jekyll or grow very well, but i18n is pretty fundamental for our audience. A proper PO solution  would seem to make the most sense.

[2016-05-17 00:46] davelab6 commented on #38
Concretely, what does them being engaged mean?

[2016-05-17 01:54] davelab6 opened #49 "[planet.sl.o] Add syndication request info to sidebar"
The [Planet syndication request info](https://wiki.sugarlabs.org/go/Infrastructure_Team/FAQ) contents should be moved to the sidebar of the planet theme, where I would have seen it earlier ;)

The visual design should be refreshed

[2016-05-29 22:42] davelab6 opened #51 "Add testing docs install instructions"
Something like:

---

For testing v0.109 (development release) on Fedora 23, Fedora 24 or Fedora Rawhide, we have a COPR repository that you can install very quickly:

https://copr.fedorainfracloud.org/coprs/samtoday/sugar

If you already have Sugar installed on F23+, to upgrade your sugar to .you can just run the following commands:

[code]

To try out the cutting edge developer's versions, check

[2016-06-09 01:00] #32 closed

[2016-06-09 01:01] davelab6 commented on #22
http://vlsicad.ucsd.edu/Research/Advice/network.html is not directly relevant to libre culture but is important for young people to learn how to use the net effectively

[2016-06-14 19:37] davelab6 opened #54 "Add people to https://www.google.com/webmasters/"
I've added some people to the Google Webmasters Tools area for www.sugarlabs.org

![screen shot 2016-06-14 at 15 36 47](https://cloud.githubusercontent.com/assets/261579/16056998/e63e828a-3245-11e6-9903-f41216b1db86.png)

[2016-06-14 19:37] #54 closed

[2016-06-15 13:25] samswag opened #55 "SL needs to have Knowledge Graph enabled in the www.sugarlabs.org"
I was making a research yesterday, so i found at that www.sugarlabs.org doesn't have knowledge graph enabled see  https://en.wikipedia.org/wiki/Knowledge_Graph  . So i think it will be a great deal for  someone who google sugarlabs and see information quicker with the help of the knowledge graph. So here is the link  to get started. https://developers.google.com/search/docs/guides/enhance-site#reg

[2016-06-17 04:33] davelab6 opened #56 "Harvest old copy for new site"
http://web.archive.org/*/https://www.sugarlabs.org has archived copies of previous generations of the website.

In IAEP thread "Sugar Labs Vision Discussion in 6 hours", Sean suggested going over these to find useful copywriting that could be considered.

[2016-06-17 04:39] samdroid-apps commented on #56
It is in here, see 4c7fb0a

[2016-06-17 04:42] davelab6 commented on #56
Does it go back to 2010?

[2016-06-17 04:42] davelab6 commented on #56
(Assigning to myself to close)

[2016-06-17 05:31] samdroid-apps commented on #56
That is the 2010 site... It just got imported into git 5 years late.

[2016-12-08 23:19] #55 closed

[2017-01-07 16:26] EmilyOng opened #61 "Revamping the New Sugar Site"
![screen shot 2017-01-08 at 12 23 47 am](https://cloud.githubusercontent.com/assets/21200681/21743227/d474d0f4-d538-11e6-9c54-3973c527c71c.png)

The social media icons are too small and are placed at the footer [_includes/footer.html], which makes it easily missed by the audiences. They are not visible enough, so perhaps there could be an icon in place, or make the icons/words larger. There could

[2017-01-07 16:30] samswag commented on #61
Great idea Emily..

On 7 Jan 2017 17:27, "Emily Ong" <notifications@github.com> wrote:

[2017-01-07 16:31] EmilyOng commented on #61
It may be able to improve marketing and publicity for Sugar

[2017-01-07 16:35] samswag commented on #61
Can you look into it?

On 7 Jan 2017 17:32, "Emily Ong" <notifications@github.com> wrote:

[2017-01-07 16:35] EmilyOng commented on #61
Sure

[2017-01-15 15:02] EmilyOng commented on #61
https://emilyong.github.io/sugar-web/

[2017-01-15 16:11] samswag commented on #61
Great..nice. i just viewed it on my phone.. i will look into it on my
macbook.

On 15 Jan 2017 4:02 p.m., "Emily Ong" <notifications@github.com> wrote:

[2017-01-15 16:30] EmilyOng commented on #61
Thanks... i will have to resize the twitter feed as it is way too "long".
Im missing a footer with copyright infos plus i am thinking of adding some
kind of "slider" or bs carousel that shows users' reviews about
activities/sugar

On Mon, 16 Jan 2017 at 00:11, Samson Goddy <notifications@github.com> wrote:

[2017-01-15 19:40] samswag commented on #61
Can you draw inspiration from this! this is our proposed plan for the site. https://github.com/sugarlabs/www-sugarlabs/blob/master/STRUCTURE.md

This is how we intend to see or even do better!

http://haxe.org

https://learningequality.org

Can i have your personal mail, so that we can work on this together! But i like your proposed plan! Fantastic with the pop-up thingy!

[2017-01-15 22:05] EmilyOng commented on #61
No problem :)

On Mon, 16 Jan 2017 at 03:40, Samson Goddy <notifications@github.com> wrote:

[2017-01-16 08:33] EmilyOng commented on #61
https://github.com/sugarlabs/www-sugarlabs/blob/master/STRUCTURE.md#conversion-funnel

[2017-01-16 08:36] EmilyOng commented on #61
hmm i dont really understand the conversion funnel and my impression is:

there is a homepage. like the links that you have provided, probably it will be nice for it to kind of "fit to screen". so when you open up the website, there is like this one background.

in the middle, there will be buttons for the conversion funnel (probably this is how we use it) and when we hover over the buttons, there

[2017-01-16 08:38] EmilyOng commented on #61
probably like learningquality.org

[2017-01-16 08:39] samswag commented on #61
I dont really know much! But you can ask Dave Crossland, he proposed the
site.

On 16 Jan 2017 9:36 a.m., "Emily Ong" <notifications@github.com> wrote:

hmm i dont really understand the conversion funnel and my impression is:

there is a homepage. like the links that you have provided, probably it
will be nice for it to kind of "fit to screen". so when you open up the
website, there is like this o

[2017-01-16 08:40] samswag commented on #61
I prefer the other site when it comes to the headings and features.

On 16 Jan 2017 9:38 a.m., "Samson Goddy" <samsongoddy@sugarlabs.org> wrote:

[2017-01-16 08:41] EmilyOng commented on #61
@davelab6 i dont really agree with https://github.com/sugarlabs/www-sugarlabs/blob/master/STRUCTURE.md#tertiary-elements . having them at the footer means lesser exposure and  outreach

[2017-01-16 08:58] EmilyOng commented on #61
yes, i do agree as well! :smile:

[2017-01-16 08:58] EmilyOng commented on #61
btw does sugar have this official instagram account: sugarlabsforall? what if we include a chat box in our website?

[2017-01-16 09:03] samswag commented on #61
Yes! That is the official instagram. Can we chat via irc?

On 16 Jan 2017 9:59 a.m., "Emily Ong" <notifications@github.com> wrote:

btw does sugar have this official instagram account: sugarlabsforall? what
if we include a chat box in our website?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/sugarlabs/www-sugarlabs/issues/61#i

[2017-01-16 11:44] EmilyOng commented on #61
No problem. I have followed you on twitter. @emilyo11_
On Mon, 16 Jan 2017 at 17:04, Samson Goddy <notifications@github.com> wrote:

[2017-01-16 15:57] davelab6 commented on #61
Emily, i checked your github quickly and looking at https://emilyong.github.io you sefini

[2017-01-16 16:00] davelab6 commented on #61
Emily, i checked your github quickly and looking at https://emilyong.github.io you definitely have the practical web design skills to develop the site. If you disagree with anything that I propose on the structure doc, I am happy for you to implement what you think is best :)

A conversion funnel is actually an abstract concept and doesn't manifest directly on the oage. It is instead an "informati

[2017-01-20 14:27] EmilyOng commented on #61
https://gist.github.com/EmilyOng/4b09c9d396856ced7e6e2b8f1eea06c0
emilyong.github.io/sugar-web
its supposed to look like this: but github.io is not showing it well.

![screen shot 2017-01-20 at 10 21 35 pm](https://cloud.githubusercontent.com/assets/21200681/22152776/56059790-df5f-11e6-82ef-721e5410ca60.png)
![screen shot 2017-01-20 at 10 24 27 pm](https://cloud.githubusercontent.com/assets/212006

[2017-01-20 14:30] EmilyOng commented on #61
i cant seem to load the designs for w3.css buttons (learn more, download, try it now), image gallery, and everything seems jumbled up and messy. the page is not divided into two columns in the parts where i have indicated it to be.

[2017-01-20 14:34] EmilyOng commented on #61
its all right, solved the careless problem. but the w3 css tool doesnt appear?

[2017-01-20 20:10] samswag commented on #61
I will look into it.

Samson Goddy

On 20 Jan 2017 3:34 p.m., "Emily Ong" <notifications@github.com> wrote:

[2017-01-21 07:43] EmilyOng commented on #61
All right, thank you. But how is it?
On Sat, 21 Jan 2017 at 04:10, Samson Goddy <notifications@github.com> wrote:

[2017-01-21 08:26] samswag commented on #61
Nice concept, but low colours

On 21 Jan 2017 8:45 a.m., "Emily Ong" <notifications@github.com> wrote:

[2017-01-21 08:29] EmilyOng commented on #61
Oh...what about colors for each section like previously?

On Sat, 21 Jan 2017 at 16:26, Samson Goddy <notifications@github.com> wrote:

[2017-01-21 08:33] samswag commented on #61
Yeah. But not the exact colours, we can come up with something else.

On 21 Jan 2017 9:30 a.m., "Emily Ong" <notifications@github.com> wrote:

[2017-01-26 14:24] EmilyOng commented on #61
what does this mean?

[2017-01-26 22:55] quozl commented on #61
@EmilyOng, it may have something to do with a book by @walterbender, _Learning to Change the World_, published in 2012.  Full text may imply either an e-book or the text only.  Liberated may mean a licensing change.  You might ask who wrote that; `git blame` says it came from @davelab6 in 812e3690b362fa263e18d1f06948216e.

[2017-01-27 00:38] walterbender commented on #61
Emily, Dave asked me to ask my publisher to let us publish the book on line for free access. I've not heard back yet. But we can by the laws of fair use publish the Sugar chapter (See http://people.sugarlabs.org/walter/docs/Learning-to-Change-the-World-Chapter-4.pdf) already.

[2017-01-27 14:34] EmilyOng commented on #61
![screen shot 2017-01-27 at 10 32 21 pm](https://cloud.githubusercontent.com/assets/21200681/22374312/b0806566-e4e0-11e6-9741-7c4f4653e691.png)
![screen shot 2017-01-27 at 10 32 44 pm](https://cloud.githubusercontent.com/assets/21200681/22374316/b083aea6-e4e0-11e6-8c68-758b639ddd00.png)
![screen shot 2017-01-27 at 10 32 51 pm](https://cloud.githubusercontent.com/assets/21200681/22374311/b07f10bc-e

[2017-01-27 14:38] EmilyOng commented on #61
im actually quite confused with:
1. the navigation bar should appear as red but it doesnt
2. the sugarlabsbg.jpeg doesnt show up as a background image for web in the first part
3. i wonder if pdfs embed are actually compatible across devices
4. it kinda got messed up on my phone 😢

[2017-01-27 15:22] davelab6 commented on #61
Use the chrome Web inspector to debug 🏁

On Jan 27, 2017 9:38 AM, "Emily Ong" <notifications@github.com> wrote:

[2017-01-27 16:42] EmilyOng commented on #61
Is the concept fine?
On Fri, 27 Jan 2017 at 23:23, Dave Crossland <notifications@github.com>
wrote:

[2017-01-28 05:42] EmilyOng commented on #61
2(index):1 Mixed Content: The page at 'https://emilyong.github.io/sugar-web/' was loaded over HTTPS, but requested an insecure plugin resource 'http://people.sugarlabs.org/walter/docs/Learning-to-Change-the-World-Chapter-4.pdf'. This request has been blocked; the content must be served over HTTPS.
https://emilyong.github.io/favicon.ico Failed to load resource: the server responded with a status of

[2017-02-28 17:12] technomoda opened #62 "site redesign idea"
![sugarlabs](https://cloud.githubusercontent.com/assets/11223564/23415917/a752e734-fd95-11e6-879d-fe6bb8c505b7.png)

Hi! this is a redesign idea for the site project for Outreachy. Any tips or suggestions would be greatly appreciated. I'm also trying to get in contact with the mentors for this project, I've already joined the IRC channel (nicnkame: dalia)

[2017-02-28 18:28] samswag commented on #62
Nice concept, but did you take a look at the structure of the idea on
www-sugarlabs. There are two recommended websites that we should draw
inspiration on. I also think that this one is similar to the current
website.

Thanks

Samson

On 28 Feb 2017 6:13 pm, "Dalia" <notifications@github.com> wrote:

[2017-02-28 20:10] diaxdo commented on #62
Is there a color scheme to follow? I was using the colors from the previous site.

[2017-03-01 06:46] samswag commented on #62
http://sugarizer.org/

https://learningequality.org/

http://haxe.org/

I think this will do, but we will still retain the white color.

[2017-03-02 13:22] geekrypter opened #63 "Regarding "Giving Sugar Labs Website a New Look""
Hi,

I am new to the sugar labs community and I am really looking forward to contribute to this community. I have come across the "Giving Sugar Labs Website a New Look" idea posted on "https://wiki.sugarlabs.org/go/Summer_of_Code/2017". Being a UI/UX designer and developer, I am really excited to draft my proposal based on this idea for GSOC 2017. But I have few queries which I wish would be answe

[2017-03-02 19:29] samswag commented on #63
Thanks for reaching out, i am one of the mentors of the project.

Here is how you can get in touch with the community of developers
http://lists.sugarlabs.org/listinfo/sugar-devel

I don't really understand the other questions you asked.

Hoping to hear from you soon.

Samson G

On Thu, Mar 2, 2017 at 2:22 PM, GeeKrypter <notifications@github.com> wrote:

[2017-03-03 05:12] geekrypter commented on #63
Hi @samswag,

I apologise for not phrasing my queries in a proper way. Below the rephrased queries:

1. As per the requirement of "Giving Sugar Labs Website a New Look", one has to redesign sugar labs website, so should I be providing the UI design mockups which I have in mind in this issue thread [so that you or any other mentors can have a look at it and provide feedback] or is there any other p

[2017-03-03 10:27] samswag commented on #63
You can share your designs here. Maybe send images from screenshots.

First the if you take a look at the proposed plan, you will see that this website mentioned gives you examples of what we would like the website to be or become. Unlike our current website, most of the information have been outdated, birth of new projects like the sugarizer. So we basically need a interactive website where both

[2017-03-03 10:35] geekrypter commented on #63
Thank you @samswag, I will start working on the design and keep you updated.

[2017-03-03 10:36] samswag commented on #63
Sure, may the force be with you.

[2017-03-03 18:31] quozl commented on #63
Thanks for looking into this.

Please ensure the web site works with Sugar itself.  The Sugar browser; the Browse activity, contains a [link to www.sugarlabs.org](https://github.com/sugarlabs/browse-activity/blob/master/data/index.html#L55), and so the result must be successfully rendered and responsive; **or** the site should identify Browse and redirect to a simpler site.  Most users of Sugar ar

[2017-03-03 18:35] samswag commented on #63
Duly noted, thanks for the tips.

On Fri, Mar 3, 2017 at 7:31 PM, James Cameron <notifications@github.com>
wrote:

[2017-03-04 15:09] geekrypter commented on #63
Thank you for the advice @quozl . Will take it into consideration.

[2017-03-08 18:02] geekrypter commented on #63
Hi  @samswag,
I apologise for the delayed response. In the meantime, I redesigned the Sugar website and integrated my design into the original Sugar website source code in my local machine. I have considered to use parallax scrolling as a design feature and would like to know if I could get any background images that could be used for the website?
Note:
Once I get the background images, I just hav

[2017-03-12 14:20] geekrypter commented on #63
Hi @samswag, I have added background images taken from "http://planet.sugarlabs.org" and also logo was taken from "https://wiki.sugarlabs.org/go/Marketing_Team/Logo" for the redesigned website.
If possible do suggest any other background images that I could use for the website.
I took a screen recording showcasing the website and below is the link to view it:
https://drive.google.com/open?id=0B4Wv

[2017-03-12 14:41] samswag commented on #63
Can you host in github? That would be better.

On 12 Mar 2017 3:21 pm, "GeeKrypter" <notifications@github.com> wrote:

Hi @samswag <https://github.com/samswag>, I have added background images
taken from "http://planet.sugarlabs.org" and also logo was taken from "
https://wiki.sugarlabs.org/go/Marketing_Team/Logo" for the redesigned
website.
If possible do suggest any other background images that I

[2017-03-13 06:10] samswag commented on #63
I like the concept of the website, but if you can host it in github pages that would be awesome for me and my fellow mentors  to have a better view and possible land some comments and suggestions.
https://render.bitstrips.com/v2/cpanel/10215973-263707750_2-s1-v1.png?transparent=1&palette=1

[2017-03-13 19:03] geekrypter commented on #63
Hi @samswag,

I again apologise for the late reply. Based on your suggestion, I have hosted my redesign of "SugarLabs" website using Github Pages.

URL:
https://geekrypter.github.io/sugarLabsWebsiteRedesign/

I would be looking forward for feedback from you and the rest of the mentors. Would be open to any modifications and keep improving my design.

Thanks,
Raju.

[2017-03-13 19:40] quozl commented on #63
Thanks, very interesting.

On a slow data link the page loaded very slowly; total of 6MB, mostly caused by bg3.png a 3.42 MB image, but also because of the number of requests made (35).  Photographic images may be better in JPEG format.  Some assets may be better encapsulated in the HTML to lower the number of requests.

On Ubuntu 16.04 with Browse-200.1 the page rendered and scrolled without prob

[2017-03-15 04:25] geekrypter commented on #63
Hi @quozl,

Thank you for your feedback. I have made the following changes to improve the website speed:

1.Replaced bg3.png with another image taken from "http://planet.sugarlabs.org"
2.Replaced bg1,bg2,bg3,bg4 images with their JPEG versions.
3.Replaced bg1,bg2,bg3,bg4,logo images with their compressed versions so that it reduces their sizes.
4.Replaced walter@sugarlas.org to walter@sugarlabs.or

[2017-03-15 04:26] geekrypter commented on #63
@quozl and @samswag, should I start working on my proposal too?

[2017-03-15 20:53] samswag commented on #63
First, i am going to send you better pictures for the website.

In my end, I tested the website using the updated version of Chrome from my Macbook, it pretty fine here but not too good with safari. But have some issues about the logo of the website. If you look at the current website, you will notice that the logo changes also with the favicon. We intend to keep that in check. Also speaking the c

[2017-03-15 21:30] quozl commented on #63
Well, if you are deprecating the Sugar desktop environment in favour of Sugarizer, because of ease of installation, then I've no further need to be involved in the web site design.  You can also;

- [ ] remove activity library (these are only compatible with the desktop environment),

- [ ] remove downloads,

- [ ] remove social help (it is a desktop environment feature only).

[2017-03-15 21:37] samswag commented on #63
Nope don't get me wrong, i was only making some suggestions. There is no point for you to leave, i am speaking based on this line  "Leads: Consideration, Try Outs, Action Flows" based on the https://github.com/sugarlabs/www-sugarlabs/blob/master/STRUCTURE.md, there is a plan to add "try now" on the website since Sugarizer is the taste of Sugar (not full Sugar experince like that of the Python vers

[2017-03-15 21:42] samswag commented on #63
I was giving a glance on how the "try now" which is the "Sugarizer" for people(new comers) who knows nothing about sugar. Your work is really helpful especially in the area of testing the site on Ubuntu and xo browsers.

[2017-03-15 21:47] davelab6 commented on #63
basically i agree with quozl
its too heavy for an XO

I recommend:

zero JS
zero images
just html and CSS

[2017-03-15 21:51] davelab6 commented on #63
a core idea of design
is that for follows function
since the site must be functioning for very low end computers
that will determine the form of the website
how it looks
it is not good to then design a website that cant function
with another form

eg, the XO is bright green
because the function is to look fun for kids and not like an adult's
computer
so the form follows that
and it becomes an impo

[2017-03-15 22:24] quozl commented on #63
@geekrypter, to answer your questions;

It would depend on the context; you decide.  Where the context is referring to the organisation, the registered name of the organisation has been "One Laptop per Child Association Inc", and is now "OLPC, Inc".  We use "One Laptop per Child" in new source code copyright statements.  Where the context is referring to an idea of one laptop for every child, it m

[2017-03-15 22:36] samswag commented on #63
+1 @quozl for the clearance

[2017-03-15 22:49] quozl commented on #63
Only mentioned copyright statements because that's where I fix it most.  But for this new work, any copyright can be either yours, or assign it to Sugar Labs.  License should probably be one of the Creative Commons.

[2017-03-16 02:18] davelab6 commented on #63
License ought to be BY or BY-SA

On Mar 15, 2017 6:49 PM, "James Cameron" <notifications@github.com> wrote:

Only mentioned copyright statements because that's where I fix it most. But
for this new work, any copyright can be either yours, or assign it to Sugar
Labs. License should probably be one of the Creative Commons.

—
You are receiving this because you commented.

Reply to this email directl

[2017-03-16 18:50] geekrypter commented on #63
Thank you @samswag, @davelab6, @quozl, for spending time in involving in the discussion and helping me. Since it was a long and interactive discussion, I would like to break it up and respond in parts.

1.Thanks @quozl for giving clarification to my queries.
2. @davelab6 and @quozl, I have added the following license related information to the footer of the website.(Screenshot below). I hope this

[2017-03-16 22:04] samswag commented on #63
i will come up with a better explanation later.

[2017-03-16 22:16] samswag commented on #63
On you To-Do list, you mentioned "detect Sugar as browser and disable animations, or reduce the animation frame rate" if you are done with this task then we can talk about the possibility of what i mention. But it is important for the OLPC machine to access the website freely. I am open for a hangout call to explain further.

[2017-03-17 03:03] quozl commented on #63
@samswag, may I suggest de-emphasising Sugarizer.  As can be seen from https://github.com/zhirzh/sugarizer-activity-moon/issues/12 activities made for Sugarizer are not going to be portable enough to bring back into desktop Sugar.  I was hoping to use the javascript port of the Moon activity so that I could drop the Gtk2 dependency, but it looks like I'll have to schedule a port to Gtk3 or fork th

[2017-03-17 03:10] quozl commented on #63
Not without some specifics of what part you don't understand.  If you can't understand any of it, then I guess I should be talking to someone else.  :grin:

[2017-03-17 03:23] davelab6 commented on #63
James is saying that JS activities can't run on XOs, and too much emphasis
by SL on JS is a break in technical alignment with OLPC which is
political.

[2017-03-17 03:26] quozl commented on #63
Well, maybe it's not that bad, maybe it's only one activity; I've not checked them all.  The Gears activity for instance continues to work fine inside Sugar, and it is JS.

[2017-03-17 03:38] samswag commented on #63
Oh i see, first i don't see reason why anyone using XO would want to try Sugarizer. Basically Sugarizer was design to run on non-linux platforms. Linux version have more control of sugar especially when using the XOs and I don't know if it is political.

[2017-03-17 03:46] quozl commented on #63
That's not how I remember it, but plans may have changed, or I may have misunderstood.  Sugar web activities were to be built for both Sugar desktop and also Sugarizer.  Now it would appear they are only to be built for Sugarizer?  @llaske would be the person to confirm that.

@samswag, perhaps changes to the content or emphasis of www.sugarlabs.org would be better discussed by SLOB than included

[2017-03-17 03:49] samswag commented on #63
+1

[2017-03-17 04:57] geekrypter commented on #63
I will complete the task "detect Sugar as browser and disable animations, or reduce the animation frame rate" and get back.
Could anyone please explain what is finally expected in terms of the website because the discussion seems unclear. This would help me to develop the website on the lines of what is expected.

Thank you.

[2017-03-17 05:23] quozl commented on #63
You need the skill "analyse and resolve conflicting software requirements."  :grin:

If there's anything unclear about the discussion, be more specific.  Ask questions.

[2017-03-17 13:25] davelab6 commented on #63
On Mar 17, 2017 12:57 AM, "GeeKrypter" <notifications@github.com> wrote:

I will complete the task "detect Sugar as browser and disable animations,
or reduce the animation frame rate" and get back.

My suggestion is to eliminate animations entirely, and use only css2 rules
and zero js

Could anyone please explain what is finally expected in terms of the
website because the discussion seems unclear

[2017-03-17 13:25] davelab6 commented on #63
On Mar 16, 2017 11:46 PM, "James Cameron" <notifications@github.com> wrote:

That's not how I remember it, but plans may have changed, or I may have
misunderstood. Sugar web activities were to be built for both Sugar desktop
and also Sugarizer.

If they don't use advanced js features, then they can be packaged for sugar
desktop and sugarizer! But such packages for s.d. may not run usably on XOs
ev

[2017-03-17 21:17] quozl commented on #63
@davelab, thanks for your reply.

Yes, I won't package such an activity for those models.  But the NL3 is an N2940 quad-core, so if an activity has a performance problem on that, then it will have a performance problem in general.

Yes, I won't package such an activity for those models.  But the NL3 is using Ubuntu 16.04 and later, and the WebKit there is quite modern.

There's also the generic De

[2017-03-18 21:20] davelab6 commented on #63
I believe that the core Sugar Desktop experience must run on XO-1s, and
thus this website

[2017-03-19 04:55] geekrypter commented on #63
@quozl  and @davelab6, thanks for your advices.

@davelab6, I would be making similar prototype of this website with no js, no animations and get back. But do you think adapting to css2 is critical?

[2017-04-06 05:06] geekrypter commented on #63
Hi everyone,

I made the following changes:
1.Changed the background images.(Took images from Sugar Labs Facebook page)
2.Changed the font to "Lato"(Google Font).

Please have a look at the website and provide your feedback.

Thank you.

[2017-04-06 12:59] davelab6 commented on #63
On 19 March 2017 at 05:55, GeeKrypter <notifications@github.com> wrote:

I'm not sure devices running sugar that are in childrens hands have
browsers that handle a lot of what is in css3

[2017-04-06 23:07] quozl commented on #63
@geekrypter, it is easy to test; install a Fedora 18 Virtual Machine, then open the site in the Epiphany browser.  I'll be testing your site soon, but don't let that stop you testing with your own tools and equipment.

[2017-04-07 05:54] geekrypter commented on #63
Thank you @davelab6 for clarifying my doubt.

@quozl, I will try to follow the testing mentioned by you.

In the meanwhile, I have made the following changes to the website for better optimization:
1.Replaced 2 images with their optimized versions.
2.Placed the "Google Knowledge Graph card" script tag at the end of the header.
3.Mentioned the dimensions for the Creative commons image present in th

[2017-04-07 09:54] samswag commented on #63
Sorry, i haven't been online much lately for some personal reasons. So what
i would like to point out is that the website is not responsive on mobile
phones. I tested it on my Samsung Galaxy running Android nougat (Latest
version of Chrome), i it you should also take a closer look at it.

On Fri, Apr 7, 2017 at 6:54 AM, GeeKrypter <notifications@github.com> wrote:

[2017-04-07 10:01] samswag commented on #63
Also, i still have some issues with the design, i don't know if you will be available for a video call, so that we can talk more about it. Everyone is welcome to join, but i am not really feeling the (website) design. So feel free to tell me when you will be available. @geekrypter

[2017-04-07 21:58] quozl commented on #63
Can you describe your problems with the design here?  I don't know what you mean by _not responsive_; just sounds like you try to scroll it and it doesn't, which is what we saw with XO-1 on an earlier design, but perhaps you mean something more.  I don't know what you mean by _not really feeling the design_ either.

Don't like the idea of switching to a video call, because that will exclude others

[2017-04-07 22:58] samswag commented on #63
I think i was misunderstood, the reason why i proposed a video call was not make things practical. But if that would be an issue as you stated out. Then i see no reason for it, since it will affect others. My plan was to get the us set up a video call with the students to further explain things. Which i have been seeing in other projects, done by other mentors.

Secondly, as much as we tend to mak

[2017-04-08 04:42] geekrypter commented on #63
Thank you @samswag for your thoughts. I am happy for any kind of modifications to the design. Let's have a discussion where we all can discuss the design prototype so that I can start implementing the required design. Once, the required design is implemented then I think it will be better if I start working on the mobile responsiveness part. Please provide your opinion.

I have a small query: By t

[2017-04-08 05:13] quozl commented on #63
That's an important point; for me, design means the process by which the requirements are translated into a planned implementation, but I'm wondering if for @samswag it means appearance or responsiveness.  We need to use the right words.

[2017-04-08 13:57] samswag commented on #63
Again, sorry for not going straight to the point. @geekrypter i meant both the structure of the website and the design(Not the responsiveness). First, my observation of the website is bit zoommy(it all in my face), the colors are too bright for the eyes. The intro of the homepage is not presentable, for example you said "Sugar Labs is a learning software for children" i believe you meant 'Sugar',

[2017-04-08 20:05] geekrypter commented on #63
Thank you @samswag for clarifying my doubt and mentioning your modifications.

I think it is better if we all decide on a particular time period and discuss together the required design modifications like what was mentioned by @samswag earlier such as changing the overall colour selection, etc. I hope that through this way, the final requirements will be satisfied more quickly and easily. Please p

[2017-04-08 20:06] geekrypter commented on #63
As soon as the required modifications are noted down, I will start implementing them.

[2017-04-20 10:12] geekrypter commented on #63
Hi everyone,

I have made major changes to the design of the website. Pleaee take a look at the website and provide your feedback.

Thank you.

[2017-04-21 13:41] davelab6 commented on #63
Thanks for your perseverance with this project :)

On Apr 20, 2017 6:13 AM, "GeeKrypter" <notifications@github.com> wrote:

[2017-04-22 23:25] lovemehta commented on #63
Hey @geekrypter ,
There are several things that I would like to share my opinion on as a fellow community member and a UI/UX enthusiast that might help you in completing this project.

To create a great interface, we the UI designers need to rely on information from the user experience angle, such as identifying which problems need to be solved, how the user flow will play out, and determining key

[2017-04-23 00:05] samswag commented on #63
+1 @lovemehta I think you made a pretty decent points there.

[2017-04-23 00:46] lovemehta commented on #63
@samswag Thank you. Happy to help. I have project submissions going on in college so was not able to participate in the discussion much.

I have explored some available Jekyll based websites which could be good inspiration for the project -
https://phlow.github.io/feeling-responsive/
https://jekyll-demos.github.io/Ion-Jekyll-Theme/
http://aronbordin.com/neo-hpstr-jekyll-theme/
https://jekyll-demos

[2017-04-23 01:03] samswag commented on #63
Yeah you are right, also those websites are interesting. We can draw inspiration from it, maybe use one or two features from some of the websites.

[2017-04-24 02:37] davelab6 commented on #63
The Non Designers Design Book, may be good quick background reading on this
subject :)

On Apr 22, 2017 9:03 PM, "Samson Goddy" <notifications@github.com> wrote:

[2017-04-24 11:12] geekrypter commented on #63
Sorry guys, for not being active in the recent few days.

Thank you @davelab6 for your compliment and I will try to look into the book suggested by you for further improvements.

Thank you @lovemehta for your valuable feedback and suggestions. I will try to improve the website further based on your key point outs.

Thank you.

[2017-04-24 19:03] lovemehta commented on #63
Anytime !! @geekrypter , I would like to help on this project irrespective of the results of google summer of code. I am really excited to work on a website with such a big user base and impact, it will be a real test for us to come up with a great design for something of this scale. Best of Luck.

@davelab6 Thanks for the recommendation!! Just downloaded it. Great Book!! 👍

[2017-04-25 10:17] geekrypter commented on #63
I agree with you @lovemehta that this project has a lot of potential and can create a lof of impact. It was a great learning experience for me for being involved with this project all these days and would also be continuosly involved with the project irrespective of the result of GSOC.

[2017-04-26 09:13] tony37 opened #65 "Get Sugar"
This should be a pull request, but I am jsst too lazy.

The idea is to make the ability to install Sugar on personal computers more visible.

This involves a change to

nav.html

<nav>
  <div>
    <a class="aqua" href="http://wiki.sugarlabs.org/go/Get sugar">Get Sugar</a>
    <a class="red" href="https://activities.sugarlabs.org/">Activities</a>
    <a class="orange" href="http://wiki.sugarlabs.or

[2017-05-11 13:58] geekrypter commented on #63
In the interest of changing the whole design of the website, I have looked upon @lovemehta  suggestions and have thought of the following changes:

1. I don't think the color scheme selection should be based only on a single developer view, so I thought it would be better if we all could decide on what colors to go for.

2. I have explored the various themes suggested in the above thread. There ar

[2017-05-11 19:09] samswag commented on #63
You made some interesting suggestions, which is healthy. The design for the social media link is great and would be awesome to feature it on the proposed website. Secondly, i agree on the footer area too from the other jekyll site. Whoever, i have no issues with the navigation on both sites. I think what is really important is to get the menu right and the sub-menu as love mehta did on his propose

[2017-05-12 09:24] geekrypter commented on #63
Thanks @samswag, I will start designing the website. Regarding the background image do you have any good images or should I go with the images in Sugar Labs facebook page?

[2017-05-12 13:42] samswag commented on #63
<img width="1280" alt="screen shot 2017-04-17 at 11 10 04 pm" src="https://cloud.githubusercontent.com/assets/6048601/26000418/ccd71dbc-3720-11e7-9cbf-3313c16c2a27.png">
<img width="1067" alt="screen shot 2017-04-20 at 10 24 57 am" src="https://cloud.githubusercontent.com/assets/6048601/26000471/ff2a4e88-3720-11e7-9d8b-08abed6daf23.png">
<img width="1067" alt="screen shot 2017-04-20 at 10 27 19 am

[2017-05-15 08:53] geekrypter commented on #63
Hi, I have made a basic design prototype of the proposed website.

Link:
https://geekrypter.github.io/sugarLabsWebsiteRedesign/

Here is what I have done:
1. Used the current existing jekyll environment of the original website.
2.Used the airspacetheme as the base and used the navigation bar design of  https://lovemehta.github.io/sugarlabswithairspacetheme/.
3.On top of it added the below design e

[2017-05-15 22:50] samswag commented on #63
<img width="1280" alt="screen shot 2017-05-15 at 11 40 44 pm" src="https://cloud.githubusercontent.com/assets/6048601/26082614/bd8d7162-39c8-11e7-85a6-befae7d96eda.png">

Wow, everything is nice. But i still have some comments about the footer area, could you eliminate the creativecommons.org image and just use the text instead? just like how gnome.org did. If we can feature the gnome styled foote

[2017-05-15 22:52] samswag commented on #63
Right social icons, under the social icone we can put in subscribe box. Left can contain the list, then under it we can then copyright sugarlabs, creative commons and the rest.

[2017-05-15 23:04] samswag commented on #63
I also think that navigation should change color to black or share the same color with the footer when in that mode(smaller), because right now, there is a color conflict.
<img width="1280" alt="screen shot 2017-05-16 at 12 01 30 am" src="https://cloud.githubusercontent.com/assets/6048601/26083027/25549eae-39cb-11e7-89cb-fef7649ba4a4.png">

[2017-05-20 14:39] geekrypter commented on #63
Hi,

Made new changes to the website. Following are new changes:
1. Changed the footer. Adapted the style from these 2 below images.
<img width="1280" alt="screen shot 2017-05-16 at 11 16 22 pm" src="https://cloud.githubusercontent.com/assets/9636925/26276587/ba192eb2-3dac-11e7-92f0-f2b77ed5fa16.png">
<img width="1280" alt="screen shot 2017-05-16 at 11 18 20 pm" src="https://cloud.githubuserconten

[2017-05-23 15:04] geekrypter commented on #63
Hi,

Made new changes to the website. Following are new changes:
1. Changed the footer.
<img width="1280" alt="screen shot 2017-05-23 at 10 36 28 pm" src="https://cloud.githubusercontent.com/assets/9636925/26360586/0810563a-400b-11e7-81e8-db512e015647.png">
2. Changed the image for sugar.
<img width="1280" alt="screen shot 2017-05-23 at 10 35 08 pm copy" src="https://cloud.githubusercontent.com/as

[2017-05-23 15:31] Hrishi1999 commented on #63
The sub footer text still looks too small for me.

[2017-05-23 20:07] quozl commented on #63
@geekrypter, please confirm you are testing with Sugar desktop with Browse-200 using Fedora, Debian or Ubuntu, at a resolution of 1200x900 minimum?

[2017-05-25 16:26] lovemehta commented on #63
Didn't got time to check the website thoroughly, but a quick small thing to add would be to make the navigation bar animation smoother. Refer to this website http://www.iitrpr.ac.in/bost/ . I made it an year ago and it is not maintained but the navigation bar can be animated like this to give a classy feel.
P.S. @geekrypter congrats for getting selected for this project.

[2017-05-27 04:06] geekrypter commented on #63
Sorry, for the late reply. My internet connection was very bad the past few days so could not reply.

@Hrishi1999, changed the font size and will post the latest changes here soon .

@quozl as you earlier suggested, I have installed the Fedora SOAS and used the browse activity to check out the website and all features are working fine. But, still testing has to be done.

@lovemehta thanks a lot. Y

[2017-05-27 14:56] geekrypter commented on #63
Hi,

Made the following changes:
1. Replaced the sugar image with the youtube video "5 minutes with Sugar Labs Sugar".
2. Increased the footer text font size.
3. Changed the footer for the smaller views.(Added dropdown feature)
4. The color of list links for the navigation bar dropdown has been changed.
5. Changed the color of the instagram icon background.
6. Color of the borders present in the d

[2017-05-27 15:01] Hrishi1999 commented on #63
1. The video frame is too small.
3. Footer looks messy on mobile (1080p)
5. Good color choice. The footer logo is still not changed.
8. Layout not perfect

[2017-05-27 22:08] samswag commented on #63
We have to figure out a way to stop the youtube recommendation. Maybe embed the channel or playlist..

<img width="1280" alt="screen shot 2017-05-27 at 11 06 03 pm" src="https://cloud.githubusercontent.com/assets/6048601/26524620/38f3e130-4331-11e7-8361-e1c4777197bf.png">

[2017-05-28 06:19] lovemehta commented on #63
For what Samson is suggesting just replace your code with this - (change n1IrmysgKxo to whatever is the video id)
`<iframe src="https://www.youtube.com/v/n1IrmysgKxo?autoplay=1&amp;loop=1&amp;controls=0&amp;&amp;showinfo=0&amp;playlist=n1IrmysgKxo" frameborder="0" allowfullscreen=""></iframe>`

[2017-05-28 06:24] lovemehta commented on #63
Can I become a contributor, if possible? because such small changes I know how to figure out sometimes and can save some effort for @geekrypter . @samswag  @davelab6  @quozl

[2017-05-28 06:43] Hrishi1999 commented on #63
@lovemehta Of course you can be.

[2017-05-28 06:46] samswag commented on #63
Sure, i see no reason why you shouldn't.  You are welcome to contribute.

[2017-05-28 06:52] Hrishi1999 commented on #63
@samdroid-apps
We can use this if we don't want recommendations
`<video controls="true">
    <source src="https://youtubeinmp4.com/redirect.php?video=qyjzpUmVEV0&v=mKAVzpc1iiTHzW4GQmqRnke7s7V1o9Px" type="video/mp4" />
</video>`

[2017-05-29 14:10] geekrypter commented on #63
@lovemehta would be wonderful to have you as a contributor.

@samswag, @lovemehta, @Hrishi1999 we could also be using the below code to remove the recommended videos during pausing and at the end(after completion) of the video:

<iframe src="https://www.youtube.com/embed/qyjzpUmVEV0?rel=0&ecver=1&autoplay=1&ytp-pause-overlay=0" frameborder="0" allowfullscreen></iframe>

@samswag which playlist sho

[2017-05-30 11:17] geekrypter commented on #63
Hi,

Made more changes:
1. Corrected the header layout for smaller screens.
<img width="396" alt="screen shot 2017-05-30 at 7 07 53 pm" src="https://cloud.githubusercontent.com/assets/9636925/26580792/3e1362ca-456c-11e7-9318-63aa4c39227f.png">
<img width="399" alt="screen shot 2017-05-30 at 7 07 57 pm" src="https://cloud.githubusercontent.com/assets/9636925/26580825/64b58520-456c-11e7-86bd-6d3019a

[2017-06-03 14:29] geekrypter commented on #63
Hi,

Made more changes.
1. Added the functionality to chat on the IRC channel within the website itself.
<img width="1276" alt="screen shot 2017-06-03 at 7 54 30 pm" src="https://cloud.githubusercontent.com/assets/9636925/26754345/e5f4d0a0-4896-11e7-9472-2eeb445cc037.png">

2. Changed the whole color schema.
3. Solved the below error.
![2926049538376695046 account_id 1](https://cloud.githubusercon

[2017-06-03 15:17] Hrishi1999 commented on #63
Didn't like the new accent color.

[2017-06-06 08:36] geekrypter commented on #63
Hi,

Made new design changes:
1. Added the chat window for IRC at the bottom of the screen.
<img width="1265" alt="screen shot 2017-06-06 at 1 58 35 pm" src="https://cloud.githubusercontent.com/assets/9636925/26820552/d617da98-4ac0-11e7-9dd4-40ead353594d.png">
2. Added hover functionality to the dropdowns in the header.
<img width="1262" alt="screen shot 2017-06-06 at 1 58 59 pm" src="https://clou

[2017-06-06 08:57] Hrishi1999 commented on #63
@geekrypter Thanks for your changes.
1. The chat windows should be by default be minimized and "Chat on out IRC channel" should have white foreground.
2. Nice effect there. Please change  the sky blue color to purple (or what the site accent color is).

[2017-06-08 07:35] geekrypter commented on #63
Hi,

Made new changes:
1. "The chat windows should be by default be minimized" -made the change
2. "Chat on out IRC channel should have white foreground." - made the change
3. "Try to change the sky blue color to purple (or what the site accent color is)" - made the change
4. Instead of the chat panel , for mobile, made the chat panel into an icon.
<img width="401" alt="screen shot 2017-06-08 at 1

[2017-06-10 14:57] geekrypter commented on #63
Hi,

Made the following changes:
1. Changed the header size for smaller screens.
2. Dropdown section in the section is working again.
3. Solved the below problem.
<img width="1275" alt="screen shot 2017-06-10 at 6 42 44 pm" src="https://user-images.githubusercontent.com/9636925/27003752-471105f6-4e1a-11e7-88ae-966e41631461.png">
4. For smaller screens: The sub menus of the dropdown of header used

[2017-06-13 14:38] geekrypter commented on #63
Hi,

Made new changes:
1. Created the "press" page. Can be accessed through the footer or at "https://geekrypter.github.io/sugarLabsWebsiteRedesign/press/".
2. Created the "culture" page. Can be accessed through the footer or at "https://geekrypter.github.io/sugarLabsWebsiteRedesign/more/".
3. Added few new sections.
4. Made the text more concentrated towards the middle.
5. Aligned the quotes text

[2017-06-15 14:20] geekrypter commented on #63
Hi ,

Made new changes:
1. The favicon color and header logo color changes randomly.
![capture1](https://user-images.githubusercontent.com/9636925/27185144-0fc7e5ce-5202-11e7-966b-b9b156441285.PNG)

2. Changed the below box border color to #000000.
![capture2](https://user-images.githubusercontent.com/9636925/27185112-f2e5a112-5201-11e7-97a1-48c3adc4de7d.PNG)
3. The footer links(links to other pag

[2017-06-15 14:41] Hrishi1999 commented on #63
Thanks for the changes. Please center "GLIMPSE OF SUGAR..."
1.
2. Please increase the distance the between the navigation dots and the activity name buttons.
6. Increase space between the text and images (forgot the actual word here  :P)

[2017-06-17 14:25] geekrypter commented on #63
Hi,

Made few changes:
1. " Please center "GLIMPSE OF SUGAR..."" - made the change.
2. "Please increase the distance the between the navigation dots and the activity name buttons." -made the change.
3. "Increase space between the text and images." - made the change.
4. Added the "about us" page. Which can be accessed through the below button or the footer or at "https://geekrypter.github.io/sugarL

[2017-06-20 13:54] geekrypter commented on #63
Hi,

Made the following changes:
The main focus was to solve issues and the below 2 issues were handled.
#### To solve issue 65, made the below changes:
1.Changed the navigation bar:
<img width="1260" alt="2017-06-18 1" src="https://user-images.githubusercontent.com/9636925/27336336-d81fd19c-55ec-11e7-9b4c-e9adeaca0d32.png">
2. Shifted the downloads section towards the top.
<img width="1275" alt="

[2017-06-28 16:10] geekrypter commented on #63
Hi,

I apologise for not updating what I was working on for the past 8 days. (I was working on the changes but did not post them here) I will list out all the changes I have worked on below based on dates.

#### 20th June to 26th June:
##### Changes:
1. The left padding for footer for mobile screens has been reduced.
2. drop-down in footer for mobile screens was not working and it was fixed.
3. Ba

[2017-07-13 14:29] geekrypter commented on #63
Hi,

I will list out all the changes I have worked on below based on dates.
***
####28th June - 4th June
#####Changes:
1. Added a loader screen with animations.[The main concentration was this in this period]
2. Created a new page which can be reached at
"https://geekrypter.github.io/sugarLabsWebsiteRedesign/booting-soas/" or through the "downloads section".
3. About link in the header has been li

[2017-07-14 00:50] davelab6 commented on #63
Sean Daly isn't involved in Sugar any more AFAIK; you can use me or walter
in his spot :)

On 13 July 2017 at 10:29, GeeKrypter <notifications@github.com> wrote:

--
Cheers
Dave

[2017-07-15 18:15] geekrypter commented on #63
@davelab6 , thanks a lot for the information. :)

[2017-07-24 11:29] geekrypter commented on #63
Hi,

I will list out all the changes I have worked on below based on dates.
***
#### 12th July - 17th July
##### Changes:
1. The chat icon window that appears for mobile screens now appears for tablet screens.
2. The chat icon window has been changed in terms of the icon itself, different styling for tablet and mobile screens, etc.
3. One of the fun facts "20,000 cups of coffee" has been removed f

[2017-07-24 22:21] quozl commented on #63
When will this reach production?  Looking at your GSoC proposal, plan
was "Fix final merging issues" on August 11th to 13th.

[2017-07-25 12:17] geekrypter commented on #63
Hi @quozl , I did not quite understand the context of your comment. Could you explain more?

[2017-07-25 22:15] quozl commented on #63
Really?  Could you instead tell me which part of my message you had
trouble with?

[2017-07-25 22:19] samswag commented on #63
Hello @quozl i didn't also understand the message. You mentioned "When will this reach production" do you mean hosting the website?, so i believe @geekrypter question is related to mine.

[2017-07-25 22:45] quozl commented on #63
Sorry, must be language issues.  This should help;

https://en.wikipedia.org/wiki/Software_development#Deployment_and_maintenance

"Deployment starts directly after the code is appropriately tested,
approved for release, and sold or otherwise distributed into a
production environment. This may involve installation, customization
(such as by setting parameters to the customer's values), testing, an

[2017-07-31 06:51] geekrypter commented on #63
Hi @quozl,
I sincerely apologise for the late response. When we host a Jekyll website using Github pages, the Jekyll environment is changed from "Development" to "Production". So, there was a confusion on whether you meant deployment or something related to the Jekyll environment. Thank you for clearing the doubt. Answering your query, we will be discussing with the Walter Bender regarding the dep

[2017-07-31 08:08] quozl commented on #63
On an OLPC XO-4 with Browse-157.4, your site consumes 30% CPU
cycles after initial page load and before scrolling.  4.8 watts.

This compares to 12% CPU cycles of www.sugarlabs.org or a static page
with no JavaScript.  3.8 watts.

Could you change your JavaScript code to be active only when needed?

p.s. nothing happens if mouse is clicked on "Chat on our IRC" text.

[2017-07-31 08:39] geekrypter commented on #63
Thanks @quozl for the input. For the chat window, we should be clicking on the "+" symbol to expand it. But, I am changing it so that the chat window will be expanded only when a user clicks on the "Chat on our IRC" text. Regarding the cpu usage, its mostly due to the loader animations. We are planning to change the loader and keep it as simple as possible.

[2017-07-31 18:00] chimosky commented on #63
@geekrypter i think it'll be nice if it expands when you click on any part of the chat, not just on the text, and in a private browser the chat doesn't come up.

[2017-08-01 06:19] geekrypter commented on #63
Thanks @chimosky for the suggestion. Will surely look into it. There is a minor problem with the chat window currently which I am working upon. Do provide more suggestions if any.

[2017-08-01 07:42] chimosky commented on #63
As for the private browser it's working fine now.

[2017-08-01 14:08] geekrypter commented on #63
@chimosky, thanks for update :)

[2017-08-07 12:58] geekrypter commented on #63
Hi,

I will list out all the changes I have worked on below based on dates.
***
#### 25th July - 1st August
##### Changes:
1. Added material design to buttons of the website.
2. Whenever a user clicks the chat window, it goes to top. This issue has been solved.
3. Added material design to few components of website.
4. Created a seperate page for the rpi which can be accessed at https://geekrypter.

[2017-08-07 23:28] quozl commented on #63
Disagree with some of your changes.

* we already have https://developer.sugarlabs.org/ maintained as
  restructured text in https://github.com/sugarlabs/sugar-docs yet
  your developer section is seeking to squat on this concept-space and
  moving maintenance to git `www-sugarlabs`?

* we already have Raspberry Pi, Rasbian, and Debian content in
  https://wiki.sugarlabs.org/ maintained as Wiki-te

[2017-08-08 04:46] geekrypter commented on #63
Thanks a lot for the suggestions, @quozl. I will surely keep them in mind and do the necessary changes :)

[2017-08-27 19:17] geekrypter commented on #63
Hi,

I will list out all the changes I have worked on below based on dates.
***
#### 9th August - 28th August
##### Changes:
1. Added search functionality by using the service of Google Custom Search Engine.
2. Created a new page for searching itself which can be accessed at https://geekrypter.github.io/sugarLabsWebsiteRedesign/search
3. Few components of the website were affected due to the new h

[2017-08-28 15:58] #65 closed

[2017-08-28 15:59] samswag commented on #41
The page is now verified

[2017-08-28 15:59] #41 closed

[2017-08-29 04:16] davelab6 commented on #41
NICE!!

[2017-11-08 12:42] iamutkarshtiwari opened #69 "IRC chat box doesn't work on Google Chrome"
@geekrypter The IRC chat box doesn't seem to load the contents on the Google Chrome (Version 62.0.3202.89) (Official Build) (64-bit) Mac-
![screen shot 2017-11-08 at 6 08 24 pm](https://user-images.githubusercontent.com/6258810/32549620-26f21c62-c4b0-11e7-8b90-2b2c97784f58.png)

However it works perfectly fine on Safari (Version 11.0.1)  (12604.3.5.1.1) on Mac -
![screen shot 2017-11-08 at 6 08 28

[2017-11-08 13:42] geekrypter commented on #69
@iamutkarshtiwari, I will look into the issue and get back to you soon :)

[2017-11-28 19:12] synicalsyntax opened #71 "Navbar issues"
Noticed the following issues with the navbar on the website:

![screenshot at nov 28 11-06-18](https://user-images.githubusercontent.com/15116870/33339130-01f919d8-d42d-11e7-8f1d-fe6e13c445da.png)

* In the desktop view, the text links aren't vertically aligned and are slightly above the center of the navbar.

![screenshot at nov 28 11-07-32](https://user-images.githubusercontent.com/15116870/3333

[2017-11-28 19:33] aryamanverma opened #72 "Suggestion: Center the subscribe button and move the contributton to the bottom-right"
We can probably center the subscribe button and move the contribution button to the bottom-right for better view.

![image](https://user-images.githubusercontent.com/34020217/33340054-fad11588-d4a0-11e7-958e-ce8ac9be24fb.png)

[2017-11-28 19:37] aryamanverma opened #73 "Bug: Not able to view nav-bar text on hovering"
When I hover over the collapsed navbar the highlighting is done in the same color as the text and thus text is not visible.
![image](https://user-images.githubusercontent.com/34020217/33340206-7e73c886-d4a1-11e7-9f22-e1526b40ae3d.png)

[2017-11-28 19:52] synicalsyntax opened #74 "Not enough spacing between GitHub link text and icon"
![screenshot at nov 28 11-06-46](https://user-images.githubusercontent.com/15116870/33341040-86d44042-d432-11e7-849f-ae73544efbf6.png)

[2017-11-28 19:57] synicalsyntax opened #75 "Not enough margin between Social Help and Join the Conversation sections"
![screenshot at nov 28 11-07-00](https://user-images.githubusercontent.com/15116870/33341065-9c20fd3c-d432-11e7-976c-c88d66a8d16b.png)

![screenshot at nov 28 11-53-16](https://user-images.githubusercontent.com/15116870/33341190-0898ea74-d433-11e7-95bc-027c5619e044.png)

In desktop + tablet view, the two sections look way too cramped to be together, even though they share the same area.

The spaci

[2017-11-28 20:00] synicalsyntax opened #76 "Suggestion: Use text-transform:uppercase property for section titles."
According to the source code, title headings are all manually typed in caps (e.g. `TITLE`); you can apply CSS text-tranform property to the headings so that the content can be written as `Title` while displaying as `TITLE` on the webpage. Doing so will help improve accessibility (for those using screenreaders, for example).

[2017-11-28 20:18] GeekyShiva commented on #72
Please send browser details as well for such reporting, would be helpful :)

[2017-11-28 20:23] KrzysiekSiemv opened #77 "Suggestion for Home Page"
My suggestion is that the pictures 'this screenshot' could also be changed by pressing the 'ball'. For example, when you press the first 'ball', the first image is shown, and when you press the third 'ball' the third image is displayed. There may be arrows as in the picture. Of course changed after the time may also be, but it would be good to add a sign that you can pause this scroll, and then re

[2017-11-28 20:30] Arek123113 opened #78 "Bugs and Suggestions"
AS FIRST, SORRY FOR MY ENGLISH, I AM POLISH, SO ENGLISH ISN'T MY PRIMARY LANGUANGE
ok, so first page is so nice, but there is so many bugs in "use", "developers guide" and I'm sure more. I'm just staring, I think there's somethink no-loading, somethink like bootstrap or other css. It looks just ugly... Next thing: "try now" looks terrible, so someone should make it better. Last thing is languanges

[2017-11-28 20:42] samswag commented on #78
Could you post the correct link showing the problem? pointing out, why you think the languages are bad?

[2017-11-28 20:53] quozl commented on #72
My preference is for subscribe button to be left aligned to the same position as the text entry field, which it is in the screenshot.

[2017-11-28 21:01] samswag commented on #71
Please could you confirm what browser and device you used for testing? so we might get a better idea. But thanks for figuring this out.

[2017-11-28 21:03] ghost opened #79 "Change colors for social icons"
### Instagram hover color
The social buttons on every page have it to where it will darken on hover. The Instagram icon doesn't. This can be fixed by making the gradient background be darker on hover.

I won't include which colors it should darken to because you guys will probably want different colors.

### Instagram color
The current colors for the Instagram icon don't look exactly like the real

[2017-11-28 21:08] cameronsamuels opened #80 "Add animation for "back to top""
Instead of just jumping to the top, how about scrolling to the top with an animation.

[2017-11-28 21:12] samswag commented on #79
"The current colors for the Instagram icon don't look exactly like the real colors."

can you explain this line?

[2017-11-28 21:13] samswag commented on #80
Awesome, idea.

[2017-11-28 21:16] CameronSamuels opened #81 "Improve link colors"
### The links inside purple sections
These are hard to see and the hover color is even harder to read. I suggest making these links be  `#fa99e3` and `#d465d6` (the color in the logo) during hover. They look really nice after testing.

### The footer links
The normal color is good but the hover color isn't. I suggest making the hover color for these links be `#d465d6` (the color in the logo). It l

[2017-11-28 21:26] CameronSamuels commented on #79
See how the first image (Sugarlab's) looks different. The top of it is darker purple where it should be lighter blue.

Sugarlab's: <img src="https://user-images.githubusercontent.com/25394678/33344871-02477a06-d450-11e7-9d98-818ab7d7ed64.png" width="64">
Example 1: <img src="https://user-images.githubusercontent.com/25394678/33344872-025a2110-d450-11e7-8616-3a9a66245afc.png" width="64">
Example 2:

[2017-11-28 21:29] samswag commented on #79
This is the technology we are using http://socialsharekit.com/, could you make research around it, showing how it can be implemented on the socialsharekit

[2017-11-28 21:31] synicalsyntax commented on #71
All tested on Chrome Version 62.0.3202.94; pictures of screenshots are from Chrome Developer Tools (Toggle device toolbar) as well.

[2017-11-28 21:33] samswag commented on #71
Thanks for the information.

[2017-11-28 21:50] CameronSamuels commented on #79
The code for the Social Share Kit is in [assets/dist/css/social-share-kit.css](https://github.com/sugarlabs/www-sugarlabs/blob/master/assets/dist/css/social-share-kit.css). You can modify this file to update the social icons.

### GitHub
Adding the following to the end of the file will make the GitHub icon be black:
[code]
\*You can add `!important` to the property if this code is above code that

[2017-11-28 21:53] samswag commented on #79
Thanks, for the insight.

[2017-11-28 23:30] madewithkode opened #82 "video with its code on line 51 of index.html does not play"
The video with its code on line 51 does not play. this was tested on both chrome and firefox browsers.

a look on the  code shows that there is a problem with the placement of the  `#<video>` end tag.
nice work sugarlabs!

[2017-11-29 00:51] abdulsamad234 commented on #82
I think the problem is in the source of the video. The link provided in the source gives a 404 error (not found).

[2017-11-29 01:08] GeekyShiva commented on #82
this should be put for gci @abdulsamad234

[2017-11-29 01:09] abdulsamad234 commented on #82
We're working on it @GeekyShiva

[2017-11-29 01:11] GeekyShiva commented on #82
👍

[2017-11-29 03:57] aryamanverma commented on #72
I'm using firefox quantum 57.0 x64 on Linux Mint 18.2 Cinnamon x64

[2017-11-29 03:58] aryamanverma commented on #73
I'm using firefox quantum 57.0 x64 on Linux Mint 18.2 Cinnamon x64

[2017-11-29 04:01] aryamanverma opened #83 "IRC chat box is clipped of with no availability of scroll bar"
I'm on firefox quantum 57.0 x64 on Linux Mint 18.2 Cinnamon desktop x64
![image](https://user-images.githubusercontent.com/34020217/33357415-fae1c544-d4e7-11e7-828f-fda52d71fcab.png)

[2017-11-29 04:12] Hrishi1999 commented on #83
Can not reproduce on my phone. Seems fine by default.

[2017-11-29 04:15] aryamanverma commented on #83
This happens when you resize the window to a smaller scale (I've tested on desktop only) there's scroll bar on the website but not on the IRC box.

[2017-11-29 04:34] aryamanverma opened #84 "Dropdown is clipped when window is scalled down vertically"
Firefox Quantum 57.0 X64 on Linux Mint 18.2
![image](https://user-images.githubusercontent.com/34020217/33358100-8eb9e810-d4ec-11e7-8c5a-19a97f9e12d8.png)

[2017-11-29 04:43] Hrishi1999 commented on #84
AFAIK, only context menu's created by browser can't be clipped. Rest all types of menus (like this one) can be clipped. Not a real issue I think

[2017-11-29 07:01] Arek123113 commented on #78
I saw it one time , and I was trying to find it again and I didn't  .. I
don't see correct url with bug, sorry it's all I know

28.11.2017 21:43 "Samson Goddy" <notifications@github.com> napisał(a):

[2017-11-29 07:04] Arek123113 commented on #78
Btw your site with a Polish url wasn't really Polish, maybe you can check
it better ...

29.11.2017 08:01 "Arek Cios" <arek123113@gmail.com> napisał(a):

[2017-11-29 21:50] kipply opened #85 ""A glimpse of sugar" carousel button not clickable"
<img width="932" alt="image" src="https://user-images.githubusercontent.com/13735595/33400211-4ab8ec2e-d523-11e7-8360-256852fa0b8d.png">

It seems that the carousel here is different from all the other ones on the page which are clickable. The carousel should have a working navigation so people can view specific images.

[2017-11-29 22:05] kipply opened #86 "Background color in online demo searchbar"
<img width="830" alt="image" src="https://user-images.githubusercontent.com/13735595/33401476-6b24bc46-d527-11e7-9c87-4e20cab68742.png">
The lighter background on the text in the field would look better if it were just transparent.

[2017-11-29 22:22] ad591964 opened #87 "IRC Chat Disconnects When You Change Pages"
Suggestion: Make it so that you can keep the IRC channel is still available when you try to access a new page.
![image](https://user-images.githubusercontent.com/22689094/33401913-91f6bc68-d520-11e7-89bd-85ff7ff6f4f1.png)

Also, on Chrome Version 62.0.3202.94, when you try to go to a new page and the IRC chat is open, the "Do you want to leave this site" pops up. It would be nice to just go to the

[2017-11-29 22:22] kipply commented on #86
Will open in sugarizer. Sorry for the inconvenience~

[2017-11-29 22:22] #86 closed

[2017-11-29 22:55] abdulsamad234 commented on #78
I haven't been able to find out the page(s) you're talking about @Arek123113

[2017-11-29 23:01] kipply opened #89 "Suggestion: Having the search button open a text field"
At the moment, the search button in the navigation leads to a page. Having a text field appear would make more sense as it lets people reference their current page to remember what it is they may be searching for. Hitting the search again would then lead to a page of results.

[2017-11-29 23:06] abdulsamad234 commented on #80
Nice idea, task coming...

[2017-11-29 23:34] abdulsamad234 commented on #87
Do you have any suggestions as to how these could be solved?

[2017-11-29 23:35] abdulsamad234 commented on #89
great idea

[2017-11-30 00:06] ad591964 opened #90 "Calculator App in Try Now is Broken When Trying to Do Trig"
When you try to do Arc Trig in deg mode as shown below, you get some really weird answers.
![image](https://user-images.githubusercontent.com/22689094/33405740-30c8bbf8-d52f-11e7-93cc-092cfdb511b1.png)
acos(0) should be 90 degrees.
asin(1) should be 90 degrees.
acos(1) should be 0 degrees.
atan(1) should be 45 degrees.
Instead of these, the calculator gave me a whole bunch of wrong answers and one

[2017-11-30 11:06] sanatankc opened #92 "Suggestion: Footer would look nicer, if content would be in center."
This is how Footer looks like now:

![www sugarlabs org_](https://user-images.githubusercontent.com/20373641/33427733-5ffe73be-d5ec-11e7-941e-bd8b4c5511ae.png)

This is how I think Footer should look like:

![www sugarlabs org_ 1](https://user-images.githubusercontent.com/20373641/33427759-795c63d4-d5ec-11e7-8194-d8d364b375ea.png)

I can send a pull related to this, if it's ok. 😃

[2017-11-30 11:16] samswag commented on #92
What device is this? a > 7inch device? i am assuming is a tablet right?

[2017-11-30 11:17] sanatankc commented on #92
Yes.

[2017-11-30 11:18] sanatankc commented on #92
Same goes for mobile screen.

[2017-11-30 11:21] samswag commented on #92
Send a PR?, lets look into it.

[2017-11-30 11:51] sdushantha opened #93 "Suggestion for social icons"
Would be nice if the Instagram social icon would a single color because the other icons have a single color

[2017-11-30 11:57] samswag commented on #93
See this.... Then tell me what you think.

https://www.google.com.ng/search?q=instagram+logo&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiBtJCZn-bXAhUqLcAKHf3wD1cQ_AUICigB&biw=1280&bih=726

[2017-11-30 11:58] samswag commented on #89
Can you give me and example of that you are saying, like a website?

[2017-11-30 12:05] sdushantha commented on #93
@samswag I know thats the color of the Instagram logo. But it kinda stands out from the other icons. If you want, you could use one of the colors of the Instagram logo so that it matches with the other icons

[2017-11-30 12:24] sanatankc commented on #92
I was looking through files in repo. I kind of figured out where to make changes. But I don't know if project auto-compiles on save or not because when I made changes in one of the sass file (`main.sass`), It did't reflect changes into site or `airspace.css`

[2017-11-30 12:55] IfeanyiEkperi commented on #93
@sdushantha You have a point but that doesn't make it look professional. Instagram should be represented by it's colors.

[2017-11-30 13:21] code5317814515 opened #94 "Suggestions on website"
-If you are trying to change to another section your mIRC chat is not saved, so find some way to switch tabs while keeping the mIRC chat connected smoothly.

-Button for automatic scroll to top on main page and https://help.sugarlabs.org/en/

-<s>Cant play the video on the homepage for some reason, play button does not work and opening in a new tab does says error 404: Oops, page not found.</s>

[2017-11-30 13:58] artur9010 opened #95 "Navbar looks ugly after scrolling down."
![image](https://user-images.githubusercontent.com/4835677/33434079-6d481f2e-d5de-11e7-84c9-d37bda091533.png)

After adding 3px to padding it looks better. (but not ideal :/)

![image](https://user-images.githubusercontent.com/4835677/33434179-c2483a0e-d5de-11e7-8b50-ec084767fcb1.png)

Windows 7, Chrome 62.0.3202.94 (Official Build) (64-bit)
1920x1080

---
(Google Code-In task - artur@motyka.pro)

[2017-11-30 14:32] kipply commented on #95
Note that an issue for this problem already exists! #71
Should probably be fixed with vertical centering.

[2017-11-30 14:33] kipply commented on #89
<img width="1026" alt="image" src="https://user-images.githubusercontent.com/13735595/33435924-7f38e6be-d5b1-11e7-9133-0a112f7d8fa6.png">
[Medium](https://medium.com/) does it

[2017-11-30 14:51] TheOdd commented on #80
I'm currently working on this issue for the GCI task.

[2017-11-30 15:11] ashishkamathi opened #97 "Blog Section Is not Mobile Friendly. Social Media Links"
The Blog Archive section at planet.sugarlabs.org is not mobile friendly this makes it look unattractive. Moreover, I think that in the traditional desktop version the social media links that hover at the left should be placed below because they seem to be sort of irritative.

Google code-in Entry: ashishkamathi7@gmail.com
![as](https://user-images.githubusercontent.com/32205608/33437662-a859f44a-d

[2017-11-30 15:21] ashishkamathi opened #98 "Social Media Suggestions"
I think you can change your Instagram account to business profile so that you may reach a larger audience and can also improve the youtube section so as to make it attractive. You can properly align the background image.

Google code-in entry: ashishkamathi7@gmail.com

[2017-11-30 15:46] samswag commented on #98
Thanks we are working on it.

[2017-11-30 16:25] Arek123113 commented on #78
I'm 100% sure I've seen that but I couldn't find it again and that was lot
of time again so I can't find it in history

29.11.2017 23:55 "abdulsamad aliyu" <notifications@github.com> napisał(a):

[2017-11-30 17:48] sahran99 opened #100 "Bug in calculator"
When I type in a function, there is no output when I press equal. I am on Version 62.0.3202.94 (Official Build) (64-bit) of google chrome. In addition, there is no history for the previous calculations that I have done.
![image](https://user-images.githubusercontent.com/34138005/33445941-199e3e04-d5c4-11e7-8a38-1d3b7ebed66e.png)
![image](https://user-images.githubusercontent.com/34138005/33445947-

[2017-11-30 19:34] stasiekq opened #101 "navigation bar shifts to the left when on mobile"
Hi,
I'm here from google code-in. Everything in your website's code seems good, the look of the page is also perfect. But when I opened the website on my mobile, I noticed a few responsivity bugs. When I tapped the screen, defects disappeared, as i expected. I'm pretty sure that it's just a singular bug, but if you recieved more messages about that, better check it out. I attach the screenshot whe

[2017-11-30 20:31] thesolark opened #103 "Problem On Translation Page Mobile View"
![77f0dbae-9255-479a-b3aa-9927efdbe1d7](https://user-images.githubusercontent.com/34140160/33453349-f781b3d2-d61d-11e7-97aa-f3aa67ac67df.jpeg)
When opening the translation language page on my mobile device, the left-hand column has content overlapping, making it hard to read, while the right-hand column looks okay.

[2017-11-30 21:49] #82 closed

[2017-12-01 09:37] Hrishi1999 commented on #101
Seems to be a browser specific issue (safari?).

[2017-12-01 15:55] khreate opened #108 "Problem on front page"
Video on the front page to the right of the first panel (screenshot attached) is not playing, upon digging into inspect element found a 404 error for the video source link: http://s2.converto.io/download-file/xnXWOb3xI89sRoXUzlTfcvRaAuHQU7L1/file.mp4.

![sugarlabs_viderror_frontpage](https://user-images.githubusercontent.com/26176077/33490727-b3d6a0f6-d67d-11e7-9232-893f232f7453.PNG)

[2017-12-01 16:23] stasiekq opened #110 "lagging animations on weaker devices"
Hi,
Your website looks great now, I can't say anything bad about it. But when I visited the page on my old pc, with intel celeron and 1 gb ram, used non stop for 8 years, when I scroll the website, all the animations are going on, my monitor stuters,and that annoyed me. If I were in your shoes, I would make another version of website for weaker devices, with less number of smooth animations.

[2017-12-01 16:26] abdulsamad234 commented on #110
Nice idea, basically making another version of the site that can run on old devices?

[2017-12-01 16:55] NickDim opened #111 "Top bar animation isn't very smooth"

[2017-12-01 16:55] NickDim opened #112 "Should add transitions to the "Glimpse of Sugar pictures""

[2017-12-01 16:57] NickDim opened #113 "Add a search animation and change it's layout"
Rather than having a separate sub page for searching, integrate it into the main website and add a animation. Here is a codepen example https://codepen.io/CBeghin/pen/HeuiF

[2017-12-01 18:51] kipply commented on #113
Thanks for noticing, though an issue for this problem already exists #89.

[2017-12-01 18:55] kipply commented on #112
This has been fixed in #109 ! Good catch though, I didn't even noticed the out-of-place transitions

[2017-12-01 19:17] capucinecoudert opened #114 "broken link in https://sugarlabs.org/about-us/"
[Dextrose] points to [https://sugardextrose.org/] wich is broken.

[2017-12-01 19:22] capucinecoudert opened #115 "Suggestion on page https://sugarlabs.org/about-us/"
"Harmonic distribution" and "Replacing Textbooks" are pointing to DEPRECATED and OBSOLETE pages, wich is confusing for the user.

[2017-12-01 21:35] #92 closed

[2017-12-01 22:27] iguiIllanes opened #118 "Web Page Feedback"
I Love the website design but personally i would like that when clicking on the search button i wont go to another page i prefer it to be on the same page
 And I will also like is a button that goes to the top of the page but the button must follow the scrolling instead of being at the footer

But the page still look perfect great job guys!

![captura de pantalla 2017-12-01 a la s 18 19 32](https:

[2017-12-01 22:55] quozl commented on #110
You're both new here, or you would have already been aware of previous discussions about performance ... we have over 2.6 million laptops deployed with Sugar desktop integrated, many with a Browse activity that has a link to Sugar Labs web site.  Performance of the site on old hardware is important to some of us; and anything you can do to fix it will be welcome.

But a more correct way to handle

[2017-12-01 23:06] quozl commented on #115
How are deprecated or obsolete pages confusing?  It seems quite clear what they mean.

These links should be removed, as the projects that they linked to are no longer current.

[2017-12-02 00:14] khreate opened #119 "Suggestion on navigation"
Move the search bar to the end of the nav, as users who would like to search the site typically know what Sugar Labs is all about; this will make new users look at all of the other tabs and dropdowns before the search feature. Also, consider an expanding or fixed search field on the nav bar instead of having a separate search page.

[2017-12-02 00:19] khreate opened #120 "Stopwatch Activity confusion"
Consider adding tooltips to the button elements in the Stopwatch Activity
![sugarproblems](https://user-images.githubusercontent.com/26176077/33509051-137883c6-d6c4-11e7-8e38-a16ab0376609.JPG)

as these symbols may be confusing or foreign to some users.

[2017-12-02 00:29] quozl commented on #120
That's not part of the site.

See [Stopwatch.activity](https://github.com/llaske/sugarizer/tree/master/activities/Stopwatch.activity) for the source and issue tracking.

See also tooltips in the Python activity; https://github.com/sugarlabs/stopwatch

[2017-12-02 00:29] #120 closed

[2017-12-02 00:30] quozl commented on #100
That's not part of the site.

See [Calculate.activity](https://github.com/llaske/sugarizer/tree/master/activities/Calculate.activity) for the source and issue tracking.

[2017-12-02 00:30] #100 closed

[2017-12-02 00:31] quozl commented on #90
That's not part of the site.

See [Calculate.activity](https://github.com/llaske/sugarizer/tree/master/activities/Calculate.activity) for the source and issue tracking.

[2017-12-02 00:31] #90 closed

[2017-12-02 00:35] kipply opened #121 "CSS should minify on build"
Having to commit CSS is a pain for the version control as well as prone to errors. The CSS should minify while building to speed up the development process, make version control easier and to prevent errors with the most up to date minified-file.

[2017-12-02 00:37] yashagrawal3 commented on #114
@walterbender should I just point it to Dextrose wiki page until broken URL  [https://sugardextrose.org/]
 problem is not resolved?

[2017-12-02 00:56] quozl commented on #114
It should be removed, as it is no longer current.

[2017-12-02 01:45] gracepfohl opened #123 "Social Help Page Button"
The Social Help Page button at the bottom of the home page should have more space above and below it. Also, I don't think a button is needed here. A hyperlink would blend in with the rest of the page better.

[2017-12-02 01:47] gracepfohl opened #124 "Back to Top Link at Bottom of Site"
The Back to Bottom of Site Link should be shifted to the left so that there is no empty space on the right of the bottom navigation bar. The empty space looks odd.

[2017-12-02 01:52] gracepfohl opened #125 "Return To Main Page at Bottom of About Page"
The whole section of the About page at the bottom with the "Return to Main Page" button is unnecessary because the user can just click on the Sugar Labs logo to get here. It makes the website seem busier. Another solution would be to add a "Home" tab to the navigation bar of the website that would allow the user to redirect to the home page at any spot on the other pages.

[2017-12-02 01:56] walterbender commented on #123
Perhaps "Join the Conversation" should be the button.

[2017-12-02 02:04] gracepfohl commented on #123
I like that! It seems friendlier and justifies the use of the button more!

[2017-12-02 02:19] LTSENG01 opened #126 "Extraneous Dropdown Carat in Navigation Bar"
When a dropdown menu in the navigation bar is opened, there are two carats that indicate that the dropdown menu is active. It has to do with `aria-expanded` as defined in `airspace.css:2393`. The existing carat (before opening the dropdown) looks visually better.

<img width="1264" alt="screen shot 2017-12-01 at 9 10 33 pm" src="https://user-images.githubusercontent.com/5864947/33510672-d447f6be-d

[2017-12-02 02:28] LTSENG01 opened #127 "Suggestion: Add spacing after the list elements"
On the testimonial carousel in the Principles section of the About Us page, add spacing after the list element numbers.

Ex.) Make it `1. Regular reports...` instead of `1.Regular reports...`. (Add spacing after the `1.`)

<img width="1260" alt="screen shot 2017-12-01 at 9 23 24 pm" src="https://user-images.githubusercontent.com/5864947/33510744-04b941c6-d6de-11e7-93a9-95f4a10ed378.png">

Safari 1

[2017-12-02 02:30] walterbender commented on #111
Can you please tell us more about the problem and also the environment in which you tested?

[2017-12-02 02:36] #113 closed

[2017-12-02 02:36] #118 closed

[2017-12-02 02:36] #119 closed

[2017-12-02 02:45] Vigasaurus opened #128 "Suggestion: Animation for "A Glimpse of Sugar" Slideshow"
Something along the lines of the other slideshows, this one simply snaps to the next entry with no animation.

[2017-12-02 02:46] Vigasaurus opened #129 "Visual Bug: Scrolled Down Navigation Bar has uneven vertical spacing"
The Nav Bar Entries skew upwards, when on Desktop the page is scrolled down.
![uneven vertical nav bar spacing](https://user-images.githubusercontent.com/19434157/33510950-a21f7a1c-d6d8-11e7-96fd-0737cb39670a.png)

[2017-12-02 02:47] Vigasaurus opened #130 "Visual Bug: Padding around social help button: too close to text above"
The Button is too close to the text above on Mobile and Desktop.
![social help button spacing](https://user-images.githubusercontent.com/19434157/33510959-c1e1d368-d6d8-11e7-8df6-86dc74f2e9bd.png)

[2017-12-02 02:47] Vigasaurus opened #131 "Suggestion: Sugarizer Page is really empty"
It could use some reassuring for users that they are on the correct page in the form of a banner or some images
![sugarizer blandness](https://user-images.githubusercontent.com/19434157/33510968-dd0eb566-d6d8-11e7-909c-224fb7d804d7.png)

[2017-12-02 02:48] Vigasaurus opened #132 "Visual Bug: "About Us" title not vertically centered in div"
![about us spacing](https://user-images.githubusercontent.com/19434157/33510974-f8aefb1e-d6d8-11e7-93ba-c5b006ce788a.png)

[2017-12-02 02:49] Vigasaurus opened #133 "Visual Bug: Extra space between top paragraph and horizontal line in goals page"
The Horizontal line could be centered, or the space below the paragraph reduced.
![horizontal line](https://user-images.githubusercontent.com/19434157/33510980-162055d0-d6d9-11e7-9cca-86e513d39834.png)

[2017-12-02 02:50] Vigasaurus opened #134 "Suggestion: Use Material Style Social Media button icons on left-hand side buttons"
Could simply use the icons used in the footer, with circular buttons.

[2017-12-02 02:52] Vigasaurus opened #135 "Suggestion: Material Style Buttons"
Could use Material Style buttons site-wide.

From: [here](https://material.io/guidelines/components/buttons.html#buttons-button-types)

[2017-12-02 02:56] kipply commented on #129
Issue exists, thanks!

[2017-12-02 02:57] Vigasaurus opened #136 "Suggestion: The "get sugar" menu item shouldn't be a drop down"
This becomes really cramped on smaller screens, or mobile at times.
Maybe include a page with descriptions of each download type, with separate instructions.
![downloads](https://user-images.githubusercontent.com/19434157/33511069-3a2848e2-d6da-11e7-8286-87015840a0b8.png)

[2017-12-02 04:49] #114 closed

[2017-12-02 04:49] #115 closed

[2017-12-02 05:04] yashagrawal3 commented on #123
where should "Join the Conversation" button redirect to?
[IAEP mailing list page](http://lists.sugarlabs.org/listinfo/iaep) ?

[2017-12-02 05:49] quozl commented on #123
Social Help hasn't got traction; almost nobody will answer there, so I don't think it should be linked.

IAEP has people who will answer, but it has old-style e-mail only user-experience on Mailman 2.  Newer web-based user-experience in Mailman 3 is Postorious.  systems@ mailing list can be involved if a move to that stack is contemplated.

Meanwhile, linking to IAEP is adequate but not the best o

[2017-12-02 06:49] yashagrawal3 commented on #123
why don't we work on moving the stack to Postorious?
For the time being, adding a button pointing to IAEP.

[2017-12-02 06:59] quozl commented on #123
To drive that process, write to systems@ mailing list.

[2017-12-02 07:12] Hrishi1999 commented on #136
IMO, it should be like this. The user stays on the same page instead of going to another page.

[2017-12-02 07:20] Hrishi1999 commented on #131
Hello, Sugarizer is something different, and is not based on the website. It actually is web-version of sugar os. The button styles and everything else matches the style of sugar. The placeholder text won't mean nothing here as the input type doesn't have any fixed format, we are just taking user name here. However, some changes are necessary for better accessibility.

You can report sugarizer iss

[2017-12-02 08:36] Ploypiti opened #140 "Site preview link on README.md broken"
The link marked as the live version of the redesigned site is broken, returned error 404.
https://geekrypter.github.io/sugarLabsWebsiteRedesign/

[2017-12-02 11:03] g30r93g opened #141 "GCI 2017 - Bugs + Improvements"
# BUGS
When you press on the tab buttons, a small arrow appears underneath the main arrow. Also, when the tab button is pressed, you are able to interact with the other tabs. Consider pushing this to the front of the view.
![screen shot 2017-12-02 at 10 57 44](https://user-images.githubusercontent.com/31825917/33514680-33d1a094-d750-11e7-8a2f-f1a74c6d645c.jpg)
![screen shot 2017-12-02 at 10 57 36]

[2017-12-02 11:07] g30r93g commented on #141
# IMPROVEMENT
The tab bar is well integrated but it would look better if the dropdown menus were on the right and the non-dropdown menus were on the left.
Order: Search, About, Use, Try Now, Download, Get Sugar, Join Us, Blog
![screen shot 2017-12-02 at 11 05 07](https://user-images.githubusercontent.com/31825917/33514734-0641e6ba-d751-11e7-914b-c38a29edac71.jpg)

[2017-12-02 11:09] g30r93g commented on #141
# BUG + IMPROVEMENT
The cards start moving before the user scrolls to them. Only start moving them when the user has scrolled to that part of the page. This may be because they were too slow when moving down.
![screen shot 2017-12-02 at 11 08 06](https://user-images.githubusercontent.com/31825917/33514750-3fd22eda-d751-11e7-8643-75b4f2cf3fd9.jpg)

[2017-12-02 11:10] g30r93g commented on #141
# IMPROVEMENT
Make the in the boxes on this segment one straight line on the same level. This is more pleasing visually.
![screen shot 2017-12-02 at 11 09 35](https://user-images.githubusercontent.com/31825917/33514754-62d4f160-d751-11e7-975e-10e012cc2c64.jpg)

[2017-12-02 11:11] g30r93g commented on #141
# IMPROVEMENT
Give each link a rounded box similar to the goals page.
![screen shot 2017-12-02 at 11 11 06](https://user-images.githubusercontent.com/31825917/33514765-953ed922-d751-11e7-875f-b7a30008e72b.jpg)

[2017-12-02 19:21] rmrf1039 opened #143 "GCI 2017 - Improvements"
Improvements:
<img width="1680" alt="screen shot 2017-12-03 at 3 02 36 am" src="https://user-images.githubusercontent.com/33394453/33518857-3ddc553e-d7d7-11e7-8d2f-3c0c394ec038.png">

<img width="1680" alt="screen shot 2017-12-03 at 3 10 54 am" src="https://user-images.githubusercontent.com/33394453/33518962-7ca99f78-d7d8-11e7-8a5b-addadeec309f.png">
<img width="1680" alt="screen shot 2017-12-03 a

[2017-12-02 19:45] NickDim commented on #111
I used google chrome and when scrolling down the header's animation was very rough.

[2017-12-02 22:28] #85 closed

[2017-12-03 02:09] khreate opened #144 "When Dropdown is clicked, duplicate arrow shows"
When a dropdown element in the nav is clicked, a strange duplicate arrow joins the one already there

Not clicked:
![dropdown_noclick](https://user-images.githubusercontent.com/26176077/33521603-a60e8806-d79c-11e7-89f8-b4d43aee17a5.JPG)

Clicked:
![dropdown_clicked](https://user-images.githubusercontent.com/26176077/33521604-b1220164-d79c-11e7-8a1f-76cd0ab32e0a.JPG)

[2017-12-03 02:11] #144 closed

[2017-12-03 02:18] khreate opened #145 "Titles on footer don't contrast well with background color"
![readability](https://user-images.githubusercontent.com/26176077/33521649-c7649eae-d79d-11e7-8a9e-93a1bc846185.JPG)

As seen in the picture, the titles for "Sugar Labs", "Development", and "Resources" are difficult to read. Consider using a lighter color (a lighter grey, perhaps) to create more contrast, increasing readability.

[2017-12-03 02:21] khreate commented on #145
Also, when these labels are hovered over, the cursor becomes activated. Not sure if this was intentional as they are not linked to anything.

[2017-12-03 03:21] khreate opened #146 "List of IRC on Introduction to IRC is showing an element closer"
![sugarteam_closeelement](https://user-images.githubusercontent.com/26176077/33521979-cd30dc90-d7a6-11e7-9c9a-9c816b13b3b1.JPG)

The #ubuntu-sugarteam/li>  contains /li>, assuming not intentional

[2017-12-03 03:32] eqsmy opened #147 "On Google Chrome, bug and suggestion for top menu bar"
On the website, the menu bar on the top shows the logo, but the logo stays the same size and doesn't shrink the same way it does in Safari.

**Safari**
<img width="880" alt="screen shot 2017-12-02 at 7 26 38 pm" src="https://user-images.githubusercontent.com/34151362/33522026-3a09afbe-d797-11e7-8aa0-ef7d4cfef47e.png">
<img width="871" alt="screen shot 2017-12-02 at 7 26 31 pm" src="https://user-im

[2017-12-03 03:40] khreate commented on #146
Just made sure on inspect element, /li> is typed twice, once inside of the list element and once in the element closer (</li>)

[2017-12-03 06:38] MrMalfunction opened #148 "Front Page Video Not playing"
![image](https://user-images.githubusercontent.com/24508987/33523042-8bccb108-d822-11e7-94f9-541842349ebf.png)
See the video is not playing so maybe you should change the video format.
I am using Mozilla Quantum 32bit[beta channel] .

[2017-12-03 06:45] MrMalfunction opened #149 "Mobile View Issue+ Suggested Solution"
![image](https://user-images.githubusercontent.com/24508987/33523075-7b9c3c58-d823-11e7-898c-6b330799925f.png)
That's a lot of space user might wait for something to appear there.
Solution decrease the width between to the two elements.

[2017-12-03 07:58] ysjodha1 opened #150 "Website take time to load on slow internet connection"
The website take time to load on slow internet connection. My suggestion is you should consider making it a Progressive Web App which makes it easy to access the site on slow internet connection.

[2017-12-03 09:32] samswag commented on #150
Good idea!!!

[2017-12-03 10:15] samswag commented on #149
Thanks for the update

[2017-12-03 11:32] dvlasits opened #151 "Formatting, Grammer and Bugs on the sugar labs website"
The main page should not just be grey as a bit boring
The search feature could when highlighted with mouse open a bar and not have to be clicked on to open a new page
On the "use" part it goes to documentation where this sign ¶ appears in red and I don't understand what it does
Formatting changes in the "use" part where I would suggest it should stay the same as the rest of the website
you have an

[2017-12-03 11:38] PreVizsla opened #152 "Need Some Improvements"
First, pls change the website appearances when we click the Try now button. At first i thought the websites crashed and just show a pure white screen with a name box. And pls make more ez to navigate around the website. Second, i suggest that we can do/access the search engine on the main page not on a new web page. Lastly, give more instruction and quick tips for new people how to use this websit

[2017-12-03 11:42] leonardokwan opened #153 "Need improvements"
First, pls change the website appearances when we click the Try now button. At first i thought the websites crashed and just show a pure white screen with a name box. And pls make more ez to navigate around the website. Second, i suggest that we can do/access the search engine on the main page not on a new web page. Lastly, give more instruction and quick tips for new people how to use this websit

[2017-12-03 13:23] walterbender commented on #146
We should cull a few of these as they are obsolete:
dextrose, mitml, olpc-admin, olpc-au, treehouse, treehouse-es

[2017-12-03 13:57] walterbender commented on #143
Please break this up into separate issues for each bug. And please add a brief text description of the problem for each issue, along with an appropriate title.

[2017-12-03 15:42] cweckle opened #154 "GCI Suggestions - spacing and colors"
**1. Change aesthetic spacing**
In the following photo, the spacing isn't even between objects, which makes the layout look a bit messy. In the first picture, there should be a space between the email address box and the subscribe button.
<img width="352" alt="screen shot 2017-12-03 at 7 33 41 am" src="https://user-images.githubusercontent.com/34151362/33526898-6fb4c5f8-d7fc-11e7-9cb3-c5250cc124df

[2017-12-03 15:53] NickDim commented on #111
I just mean maybe adding more frames to the animation would help because when you scroll, there isn't really much of an animation, the header kind of just pops up in a larger size.

[2017-12-03 17:33] Hrishi1999 commented on #154
@samswag @walterbender the recent merges seem to have broken the header and the top background image. Need to check

[2017-12-03 19:42] soly23 opened #155 "Some minor issues"
[sugar labs 1.pdf](https://github.com/sugarlabs/www-sugarlabs/files/1525089/sugar.labs.1.pdf)

[2017-12-03 21:27] quozl commented on #111
Adding more frames to the animation will increase the CPU demand on the client.

[2017-12-03 23:34] quozl commented on #148
I saw this also with Firefox-57.0.1 on 64-bit Ubuntu 16.04.

[2017-12-04 00:16] quozl commented on #151
Thanks for the feedback.  I'll take just one issue; the "use" link.

* it links to https://help.sugarlabs.org/ so any feedback should go to the Help Activity repository, not this repository,
* the red paragraph mark is an anchor reference so you can bookmark it, and is generated by the Help Activity scripting which depends on the Sphinx software, it is supposed to be discoverable rather than docum

[2017-12-04 00:19] quozl commented on #152
Perhaps being dumped into Sugarizer without explanation is both discoverable _and_ irritating.  I suggest removing the link, or linking to the Sugarizer main page rather than the Sugarizer try now page.

[2017-12-04 00:20] quozl commented on #153
Exact duplicate of #152 from a different identity without any explanation, closing this one.

[2017-12-04 00:20] #153 closed

[2017-12-04 00:23] quozl commented on #154
Needs better testing before merge.

[2017-12-04 00:24] quozl commented on #155
Please do not log issues as documents.

[2017-12-04 00:24] #155 closed

[2017-12-04 00:28] #146 closed

[2017-12-04 00:33] quozl commented on #131
User is not prepared in advance for Sugarizer and is confounded by the experience.  That's a problem with www.sugarlabs.org reported by this issue.

[2017-12-04 00:37] quozl commented on #140
Parts of 725368d3bc881bf70b9bf84cf4d5a878426f1035 that affected README.md should be reverted.  We need a volunteer to do that.  Problem is that the commit included pull-request or project specific details that were temporary.

[2017-12-04 01:39] samswag commented on #131
@quozl ?? could you explain more?

[2017-12-04 01:51] quozl commented on #131
@samswag, sure.  Consider a naive user, someone who knows nothing about Sugar or Sugarizer.  Our contestants in GCI 2017 are good examples, but there are other people like this that we would not hear about.  When they visit www.sugarlabs.org they arrive with certain expectations, and then when they click on the "Try" button they are given something they don't understand and don't know how to react

[2017-12-04 03:08] #63 closed

[2017-12-04 03:09] #108 closed

[2017-12-04 03:09] #148 closed

[2017-12-04 05:13] MrMalfunction commented on #149
I will keep Updating.

[2017-12-04 05:28] quozl commented on #149
Is also an issue on Firefox-57 on desktop, so I'll reopen.

[2017-12-04 06:02] Indmind opened #158 "Navbar broken"
navbar broken if viewport width is smaller than 991px and bigger than 768px on desktop, tested on chrome ubuntu

![images](https://user-images.githubusercontent.com/29256127/33538562-9318b344-d8f4-11e7-8e24-806cdc1b28dc.png)

[2017-12-04 06:05] sanatankc commented on #158
Yeah that and also footer

![screen shot 2017-12-04 at 11 34 41 am](https://user-images.githubusercontent.com/20373641/33538389-21d703aa-d8e7-11e7-9b84-cc3a80f8c7fb.png)

Don't know why, must have broken due to some pull. It was fine earlier.

[2017-12-04 06:13] quozl commented on #158
@sanatankc, this is an opportunity for you to learn "git bisect" to find which commit caused it.

[2017-12-04 06:28] sanatankc commented on #158
It is happening after merging pull request #109

[2017-12-04 17:55] g30r93g opened #161 "Search Bar Improvement"
Consider integrating the search bar into the search button. For example, when the user's cursor hovers over the button, a search bar appears and takes you to the current search page with all the search results.
![33514693-690466b6-d750-11e7-83eb-5f5f3e03bf6c](https://user-images.githubusercontent.com/31825917/33567818-5b490496-d91c-11e7-9bfc-9a820c6e421a.jpg)

[2017-12-04 17:56] g30r93g opened #162 "Re-order Tab Bar"
The tab bar is well integrated but it would look better if the dropdown menus were on the right and the non-dropdown menus were on the left.
Recommended Order: Search, About, Use, Try Now, Download, Get Sugar, Join Us, Blog

[2017-12-04 17:59] g30r93g opened #163 "About Page - Moving Cards"
The cards start moving before the user scrolls to see them. They should only start moving when the user has scrolled to that part of the page. A user may experience this if they were
too slow when moving down.
![33514750-3fd22eda-d751-11e7-8643-75b4f2cf3fd9](https://user-images.githubusercontent.com/31825917/33567988-d40f0880-d91c-11e7-974f-ed4cd506ac3c.jpg)

[2017-12-04 18:00] g30r93g opened #164 "About Page - Improvement"
Make the in the boxes on this segment one straight line on the same level. This is more pleasing visually.
![33514754-62d4f160-d751-11e7-975e-10e012cc2c64](https://user-images.githubusercontent.com/31825917/33568029-fa177a26-d91c-11e7-93a4-2ef1c56b02a9.jpg)

[2017-12-04 18:02] g30r93g opened #165 "Hyperlinks - Improvement"
Give each link a rounded box similar to the goals page. This will say to the user that there is something to interact with. Another bonus is that there is a design theme that can be seen throughout the website.

[2017-12-04 18:02] #141 closed

[2017-12-04 18:03] g30r93g commented on #141
DUPLICATE OF #126

[2017-12-04 18:31] abdulsamad234 commented on #161
Nice idea

[2017-12-05 00:03] #158 closed

[2017-12-05 05:29] ZenelDemintha opened #166 "Customize the Website more"
Hey, I recently visited the Sugar labs website. I saw it was so good. But you need to improve more facilities like adding pictures,etc. Creativity is most important for a website. So I think it need to be more customize. Thank You!

[2017-12-05 05:46] quozl commented on #166
Thanks.  We're tracking the missing image in #151, "_should not be grey as a bit boring_".

[2017-12-05 05:46] #166 closed

[2017-12-06 10:32] julianvdhogen opened #167 "Contribute to website button - suggestion"
You could make the github contribute text a button or edit it to not be blue but the same color as the rest of the text and make it more in the middle of the rest of the text at the side.
![knipsel](https://user-images.githubusercontent.com/10560914/33657257-04d1d896-da79-11e7-9f83-901618aa15c5.PNG)

[2017-12-06 10:36] julianvdhogen opened #168 "Intro video - suggestion"
The intro video is a little smaller then the video frame and that makes it with blackborders maybe it would look nicer withouth that black borders.
![k2nipsel](https://user-images.githubusercontent.com/10560914/33657459-b76ee94e-da79-11e7-9de1-ad0cc7a3e0c5.PNG)

[2017-12-06 10:40] julianvdhogen opened #169 "Menu dubble down arrow - Bug"
i think i found a bug! the menu at the blog side has to arrows down sometimes is more of a glitch.
![knipasel](https://user-images.githubusercontent.com/10560914/33657682-4dbef63c-da7a-11e7-8d7e-770d7cd6884a.PNG)

[2017-12-06 12:27] Hrishi1999 commented on #169
I am experiencing this with all of them. Thanks for reporting.

[2017-12-06 17:40] TheLukaszNs opened #170 "Social buttons float over sidebar - bug [GCI]"
I think that I found a bug - when You are on device which screen width is smaller or **equals 1260px**, the social media buttons start to float over opened sidebar, so You can't even see the text of some sections.
It  disappears when the screen width is smaller than **1236px**.
![gci1](https://user-images.githubusercontent.com/25536472/33675711-d2e040da-dab3-11e7-9e83-bd925aee5679.png)

[2017-12-06 18:10] TheLukaszNs opened #171 "Improve of side social buttons style - suggestion [GCI]"
I think that these buttons could be styled better - for example adding border-top-[**left/right**]-radius to only first element and border-bottom-[**left/right**]-radius to last one would be much better instead of having one without border radius, next with it and so on.
This: ![gci2](https://user-images.githubusercontent.com/25536472/33676887-47002748-dab7-11e7-9926-f9d9ae8f3bad.png) can look lik

[2017-12-07 06:40] yashagrawal3 commented on #161
@quozl I am trying to implement this. My changes in sass files are not reflecting on the localhost. Please help.

[2017-12-07 06:42] yashagrawal3 commented on #123
It has been many days but I still haven't got a confirmation email for subscription on the Systems mailing list. Please, anyone, look into it.

[2017-12-07 07:15] quozl commented on #123
I've no access.  Write to scg@sugarlabs.org, the list administrator, and copy Walter Bender.

[2017-12-07 07:18] quozl commented on #161
I'm not familiar with the software stack used, you'd best ask someone else.  My best guess is for you to follow https://github.com/sugarlabs/www-sugarlabs/blob/master/README.md or find out from the source what process step uses the sass files.

[2017-12-07 16:05] scanterog commented on #123
Done.

[2017-12-07 22:04] #169 closed

[2017-12-08 01:39] walterbender opened #173 "bad path for background image in minified css"
In airspace.css, the background image is specified as ../assets/bg6.jpg
When that css file is minified, the minified file is put into the minified subdirectory.

This breaks the relative path resolution.

404 file not found: www.sugarlabs.org/css/assets/bg6.jpg

Tested on Chrome and Firefox on Fedora 27

Seems there are three approaches we could take:

(1) move the minified files into css, giving

[2017-12-08 01:58] walterbender commented on #173
FWIW, in https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fgeekrypter%2FsugarLabsWebsiteRedesign&sa=D&sntz=1&usg=AFQjCNH2SMJn3nUELs2QxgXbOPB2BRYBHA option 2 was used: the relative path in the minified file is ../../assets/

[2017-12-08 08:06] #140 closed

[2017-12-08 12:33] Pnakox1 opened #174 "Add colours to Activites icons."
I think  this looks better than not colored version.
![iss 2](https://user-images.githubusercontent.com/34315464/33766092-4051898a-dc1c-11e7-9ebe-5ad0df1a9873.png)

[2017-12-10 09:24] satyamchaudharydev opened #181 "Subscribe button suggestion"
This is how the website looks now:
![ezgif com-video-to-gif 3](https://user-images.githubusercontent.com/26341752/33803578-7e19e494-ddb9-11e7-98c3-6b01660b62fc.gif)
Color change on hover is too drastic also the width of the input and subscribe button are not same, which doesn't seem right.

Ideally, it should be like that in my opinion.
![ezgif com-video-to-gif 1](https://user-images.githubusercon

[2017-12-11 10:59] lalitmee commented on #181
@satyamchaudharydev Anyone is working on this issue or not?

[2017-12-11 11:12] satyamchaudharydev commented on #181
I am working on this issue.

[2017-12-12 23:07] CameronSamuels commented on #90
@ad591964, the calculator is not wrong, it's just showing radians (1.57rad = 90deg). And when doing arc trig, computers return radians and not degrees.

This issue could actually be something different: choice for degrees or radians.

[2017-12-13 19:14] lalitmee commented on #143
@walterbender Are these issues solved or not?

[2017-12-13 19:23] lalitmee commented on #162
@walterbender Should we change the order of the Tab Bar? I think the current order is also fine.

[2017-12-13 19:33] lalitmee opened #183 "Projects Thumbnails Suggestion"
In the about us page, in the projects section, it would be more expressive if we can have thumbnails or cards types of projects description. Somewhat like in the gif below.

![divi-thumbnail-border](https://user-images.githubusercontent.com/10762218/33958481-85ced90c-e06a-11e7-92e2-375d157af809.gif)

[2017-12-14 12:51] walterbender commented on #143
I don't believe so.

[2017-12-14 12:52] walterbender commented on #162
I see no reason to change it: "better" was not explained.

[2017-12-14 12:52] #162 closed

[2017-12-17 11:20] yashagrawal3 commented on #174
@quozl sounds good to me! should I work on this?

[2017-12-17 13:54] walterbender commented on #174
Sure. But please be sure to use Sugar colors as opposed to the colors shown
in the example above.

On Sun, Dec 17, 2017 at 6:20 AM, Yash Agrawal <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2017-12-18 05:25] quozl commented on #174
You can find the Sugar colours in the toolkit, `src/sugar3/graphics/xocolor.py`.

[2017-12-19 20:19] quozl opened #188 "#sugar-newbies is not a channel we use"
@yashagrawal3 told me that `#sugar-newbies` is [offered](https://sugarlabs.org/about-irc/), but this is not a channel in our [list of channels](https://wiki.sugarlabs.org/go/Internet_Relay_Chat).

It would be no surprise if there is no response to questions from experts, if others don't know about it, so I'd like this channel deprecated in favour of `#sugar`.

Discussion may ensue ...

[2017-12-19 20:38] walterbender commented on #188
I am all for sticking to #sugar We can manage the traffic (even during GCI), and I think it is useful for everyone to see newbie questions.

[2017-12-21 10:08] sanatankc opened #189 "An automate process using gulp"
This has been mentioned before.
@kipply mentioned it in #121,
@quozl also mentioned in a comment in #159

It is hard to make changes in current setup. First we have to make change in source file then minify it is using a minifer. Everyone is using different minifier.

It would be really good if we could have some sort of process using gulp (or grunt).

[2018-01-07 18:29] s1db opened #191 "Contributors page proposal."
Having a list of contributors to an organisation not only gives all its contributors a token of appreciation but also emphasises on the human aspect of open source. But it isn't easy for Sugar Labs to implement this as many contributors are scattered inside repositories and the GitHub API doesn't give a complete list of contributors to an organisation(it just gives the members). We'd need to write

[2018-01-07 18:42] samswag commented on #191
Nice concept and Idea @cosmicAsymmetry, would you want to do the honors?

[2018-01-07 19:04] cosmicAsymmetry commented on #191
@samswag I'd love to! But we need to create a proper structure of the things that we're going to implement and how we'll be going by it.

Like I mentioned above we can do three things(Problems that we could/will encounter/benifits are);

1. **Write a script that fetches all the contributors**;
    1. Due to the sheer number we'd need to implement pagination.
    2. Find a way to automate the perio

[2018-01-08 03:36] quozl commented on #191
Interesting.

Release manager (currently me) lists contributors for each release of Sugar desktop.  I've done that with `git log` of commits between the previous release tag and the new release tag, for each of the _sucrose_ components being released, and for each of the activities in the core _fructose_ set.  I've also removed several trivial contributions such as spelling.

This does not capture

[2018-01-08 08:31] cosmicAsymmetry commented on #191
I completely agree and that's kind of my point. If we want to represent the contributions in an organisation we need to show everyone. But for that we'd need a consolidated list of contributors for specific fields and (this is preferred but it's fine if it isn't there) the number of contributions.
For translators we have: https://translate.sugarlabs.org/about/contributors/
If there are any resourc

[2018-01-08 10:03] quozl commented on #191
Sure, here's some ideas;

* reviewers; non-GitHub users who add a _Reviewed-by_ marker to a commit message, GitHub users who post comments to pull requests but are not in the list of authors of the commits on the pull request; except cases where reviewers post commits _and_ post comments,
* testers; non-GitHub users who add a _Tested-by_ marker to a commit message, GitHub users who say they have t

[2018-01-08 10:44] cosmicAsymmetry commented on #191
Haha okay. :)
Basically I need to write a Python script to get all this data and store it in a JSON which then gets called by the the SL website. Exceptions should be easy to code onto this.

Should I think about ways to automate this script later and start work on the layout? Or should we iron that out now?

[2018-01-08 10:47] Hrishi1999 commented on #191
There is a GitHub API which gives result in JSON, like author name, and
else. You can later sort it out. We used this for pre-GCI preparations.

On Jan 8, 2018 4:14 PM, "Sidhant Bhavnani" <notifications@github.com> wrote:

Haha okay. :)
Basically I need to write a Python script to get all this data and store it
in a JSON which then gets called by the the SL website. Exceptions should
be easy to co

[2018-01-09 04:47] quozl commented on #191
I'm not the target audience of the resulting information and layout, so my opinion shouldn't matter.  Having explained the difficulties I see with the idea, I've nothing further to add.  Have fun! :grin:

[2018-01-14 15:33] #93 closed

[2018-01-21 15:50] octamois commented on #181
@satyamchaudharydev , you still working?
I wish to contribute for this.

[2018-01-21 16:29] octamois commented on #98
@samswag , i think it's completed and this can be closed

[2018-01-27 16:32] jamessandy commented on #174
can I help work on this

[2018-01-27 16:44] yashagrawal3 commented on #174
@jamessandy sure, go ahead! I am no longer working on it. Best of luck!

[2018-01-29 17:00] Oluebube commented on #171
Am a new contributor can i work on this?

[2018-01-29 17:14] Oluebube commented on #74
Can i work on this?

[2018-01-29 17:46] Oluebube commented on #79
![1620013-48](https://user-images.githubusercontent.com/26440633/35525358-8c0c6dc8-0524-11e8-923a-c84086984e78.png)
How about something like this?

[2018-01-31 04:04] quozl opened #193 "Search fails on pages other than index.html"
## reproducer

* open https://sugarlabs.org/sugar-for-raspberry-pi/
* try search

## observed result

* `404 not found` with URL of `https://sugarlabs.org/sugar-for-raspberry-pi//search/?q=raspbian`

## expected result

* search results

[2018-02-01 21:22] DipanshKhandelwal commented on #164
@g30r93g something like this?
![Uploading eq-comp.png…]()

[2018-02-01 21:58] cameronsamuels commented on #79
Sorry for the late response.

I do like that color a lot, even though it isn't the real icon background.

You could still use it, because I know it was really hard to do that exact thing before, so that could still work.

But it's all up to you.

[2018-02-13 18:18] kushagra189 commented on #193
I would like to claim this issue

[2018-02-14 10:00] kushagra189 commented on #193
@quozl  can you just brief me up on this?

[2018-02-14 16:59] Saichethan opened #194 "http://server.sugarizer.org/ page enhancement"
![screenshot from 2018-02-14 22-28-19](https://user-images.githubusercontent.com/34788026/36217036-6a0d746a-11d6-11e8-8d70-da591f2e145e.png)
![screenshot from 2018-02-14 22-28-23](https://user-images.githubusercontent.com/34788026/36217066-82afd68e-11d6-11e8-9643-eab8d88adc5a.png)

[2018-02-14 20:09] quozl commented on #193
@kushagra189, no, I've said pretty much everything about the problem already.  I've not dug into the source code to diagnose the problem.  If I had continued further I would have fixed the problem myself rather than share it for someone else to fix.  If you have specific questions please ask.

[2018-02-14 21:13] quozl commented on #194
Not fixable in this repository, as this repository is only for https://www.sugarlabs.org/ ... please raise this in the sugarizer repository or with the Sugarizer team directly.

[2018-02-14 21:13] #194 closed

[2018-02-15 19:53] Saichethan opened #195 "Adding Videos"
Adding Videos to site increase it's reach. Interactive videos can help kids to hang on site for longer time with out getting bored

Moreover there only 6 videos adding more videos could help increasing sugar's reach

[2018-02-15 20:16] samswag commented on #195
6 videos? From our YouTube channel or the site? Yes, we plan to create more videos as possible, but we can't put all on the www-sugarlabs.

[2018-02-16 04:30] kushagra189 commented on #193
@quozl  please look into this pull request #196

[2018-02-16 05:25] kushagra189 commented on #164
is the issue still open?
please elaborate.

[2018-02-16 06:28] kushagra189 commented on #171
@TheLukaszNs  is this still up or already assigned?

[2018-02-16 06:30] kushagra189 commented on #165
@g30r93g  can you please elaborate the issue if it is still unassigned.

[2018-02-16 13:09] #195 closed

[2018-02-17 02:27] quozl commented on #164
It seems obvious from the screenshots.  What further elaboration is required?

[2018-02-17 02:36] quozl commented on #171
* mostly nobody needs permission to work on anything, just announce if you are working on it, so that your time is not wasted by someone else working on it at the same time,
* asking permission may give no response, as has already happened for @Oluebube, and that doesn't mean much,
* making a pull request to fix a problem that doesn't have wide consensus can stimulate a discussion to achieve that

[2018-02-17 05:26] kushagra189 commented on #164
@g30r93g  changes made in reference to #197

[2018-02-17 09:41] TheLukaszNs commented on #171
Yeah, as @quozl said - **I'm not the one that allows you to make PR that will resolve this issue**. You can work on any issue you want - it's up to you if you want to contribute!
<hr />
I saw that this issue isn't resolved so far, so go on - do it if You want 😄

[2018-02-17 16:23] manan-goel-1999 commented on #183
Can I work on this?

[2018-02-17 20:53] samswag commented on #183
Go on.

On Feb 17, 2018 5:23 PM, "manan-goel-1999" <notifications@github.com> wrote:

[2018-02-19 23:43] quozl commented on #164
I don't know for sure what @g30r93g meant, but I agree with what @DipanshKhandelwal suggested.

[2018-02-19 23:57] quozl commented on #193
@kushagra189, the problem still occurs with ce2be43, please investigate and explain.

[2018-02-20 01:34] kushagra189 commented on #193
@quozl  working on it.

[2018-02-20 01:40] quozl commented on #164
@kushagra189 proposes an alternate appearance, switching to one wide column, in https://github.com/sugarlabs/www-sugarlabs/pull/197#issuecomment-366842253 ... so we are now back to seeking consensus.

[2018-02-26 13:54] abdulsamad234 commented on #193
I could help with the issue

[2018-02-26 14:02] abdulsamad234 commented on #193
I think it would help if we just change the line 42 of nav.html from:
`document.getElementById("searchLink").href = window.location.href + "/search/?q=" + re;`
to:
`document.getElementById("searchLink").href = 'https://sugarlabs.org/' + "/search/?q=" + re;`

[2018-02-27 01:02] quozl commented on #193
Thanks.

I see you've made an orphaned or unlinked pull request in
https://github.com/sugarlabs/www-sugarlabs/pull/198 that correlates to your suggestion above.  This introduces a new problem; search would not work unless the site was running on https://sugarlabs.org/ ... should you instead process `window.location.href` to keep only the method, delimiters, and server host, stripping the path?

Al

[2018-02-28 10:40] abdulsamad234 commented on #193
Okay, i'll work on that and link to the pull request now.

[2018-03-01 10:08] abdulsamad234 commented on #193
https://github.com/sugarlabs/www-sugarlabs/pull/198 fixed

[2018-03-01 19:55] quozl commented on #193
Yes, I saw.  Please don't post redundant notifications; the pull request is linked already.

[2018-03-07 00:57] quozl commented on #51
no longer maintained.

[2018-03-07 00:57] #51 closed

[2018-03-10 17:11] kanishkarj commented on #189
Hey! I would like to work on that.

[2018-03-11 13:40] kanishkarj commented on #171
Hey ! I would like to work on that

[2018-03-11 22:56] #193 closed

[2018-03-12 11:06] avinashbharti97 opened #205 "UI improvement of search box during transition on scrolling"
As now on scrolling the page navigation-bar content size changes relatively from large to small but the search box remains same

![search3](https://user-images.githubusercontent.com/22724583/37280223-2fda6018-2613-11e8-913c-7f48335d0a28.gif)

i think it will look better if the size of seach box also changes relatively something like this

![search2](https://user-images.githubusercontent.com/227245

[2018-03-13 03:05] #171 closed

[2018-03-13 03:31] quozl commented on #171
With ec6074b merged, my opinion is that it looks uglier than before; the eye is drawn to the disparity of the straight browser edge and the unnecessary curve away from the edge.  What do the regular contributors think?

[2018-03-13 04:08] kanishkarj commented on #171
How does this look? I tried to cover up that disparity
![screenshot from 2018-03-13 09-35-55](https://user-images.githubusercontent.com/22411349/37322203-3004ab22-26a2-11e8-9134-1f9015c9b826.png)

[2018-03-13 04:09] Pro-Panda commented on #171
I agree with @quozl
I removed the browser edge curve from the social buttons in 06f282c. Does this look better ?
Also,
 - Sidebar is not visible if the browser window is maximised. It hides if on resizing the window as well [Tested on Firefox 59, Ubuntu 16.04]
 - In my opinion, hovering on an icon should result in a curved corner edge being extended to the right

[2018-03-13 04:10] Pro-Panda commented on #171
Looks like @kanishkarj made a similar change simultaneously :grin:

[2018-03-13 04:11] kanishkarj commented on #171
Haha yea..

[2018-03-13 06:13] kanishkarj commented on #205
Hey Id like to work on this

[2018-03-13 07:06] quozl commented on #205
@avinashbharti97.  I don't think it would look better.  Can you explain why you think it would look better?

@kanishkarj.  Please don't.  Wait for consensus.  Working on issues without consensus would waste your time, and there are plenty of other things to do.

[2018-03-13 07:39] kanishkarj commented on #205
Okay, sorry..

[2018-03-13 11:48] avinashbharti97 commented on #205
@quozl
**If every element of a container have nearly equal padding then it will look  good.**

![after-search](https://user-images.githubusercontent.com/22724583/37339885-281b70f4-26e2-11e8-9831-f1fa5505ae01.jpg)

**But as now padding for sugarlabs logo changes but not for search bar.**

![before-serach](https://user-images.githubusercontent.com/22724583/37339923-4d52b7d8-26e2-11e8-876f-9896243729

[2018-03-14 10:21] quozl commented on #205
Good, thanks.  I'll wait for others to assent.

[2018-03-14 11:50] avinashbharti97 commented on #149
@quozl  @samswag  @MrMalfunction

should it look like this?

![after_padding_change](https://user-images.githubusercontent.com/22724583/37400725-d1235846-27ab-11e8-82e5-5a6eb1343bc8.png)

[2018-03-14 20:06] quozl commented on #149
In general, vertical distance should be consistent between the elements.

In particular for this issue, it is the distance from the three dots down to the "Have a taste".

In comparison, consider the distance;
* from the "Try now!" down to the background colour change.
* from the background colour change down to "GET SUGAR",
* from each background colour change on the page up or down to the next e

[2018-03-15 13:24] anmol27katyani opened #207 "A proposal for a chatbot"
It will help new users to communicate or access data easily
I have tried getting a mock available at [Link]( https://octamois.github.io )

A similar can be deployed and being it free ,serverless and easy to maintain.

[2018-03-15 14:37] samswag commented on #207
I like the idea, can you work on it?

[2018-03-15 14:39] octamois commented on #207
I can make things fly in 3-4 days.
@samswag, You active on IRC?

[2018-03-15 14:41] samswag commented on #207
Sure, you can also mail me

[2018-03-15 21:30] quozl commented on #207
Please continue to work in the open.

Also include metrics on conversion rates, so we know if it is worth keeping six months down the track.

[2018-03-22 03:50] AnshulMalik commented on #205
I agree with @avinashbharti97  :)

[2018-03-22 20:04] quozl commented on #189
@kanishkarj, any progress?  This is still causing workflow trouble.

[2018-03-23 05:30] quozl commented on #149
@avinashbharti97, https://github.com/sugarlabs/www-sugarlabs/pull/209 didn't seem to make any difference for Firefox on desktop.

[2018-03-23 05:45] avinashbharti97 commented on #149
@quozl changes were reflected in firefox when i was checking on local server, However i will check again

[2018-03-23 05:58] quozl commented on #149
Yes, I checked on a freshly installed laptop with no cache.  Perhaps the distance has reduced a little bit.

[2018-03-23 05:59] avinashbharti97 commented on #149
okay i will check again, thanks for information

[2018-03-24 21:18] lovemehta commented on #63
@geekrypter really good work. Congrats on sucessfully completing and becoming a mentor this year!! I am hopeful to get a chance to work on the social website for sugarlabs with all of you!! will share my proposal soon.

[2018-03-24 22:27] samswag commented on #63
Looking forward to

On Sat, Mar 24, 2018, 10:19 PM Love Mehta <notifications@github.com> wrote:

[2018-03-24 23:27] VatsalBatra commented on #205
i would like to work on this one, also i think instead of  just decreasing the size of the search bar, changing the radius of the search bar in sync with transition of navbar would look better

from
![screen shot 2018-03-25 at 4 54 48 am](https://user-images.githubusercontent.com/20797544/37869971-ddc5754e-2fe8-11e8-8a01-927686005747.png)

to

![screen shot 2018-03-25 at 4 47 34 am](https://user-i

[2018-03-24 23:30] VatsalBatra commented on #181
@satyamchaudharydev  anyone working on this issue ,if not i wish to take it

[2018-03-25 09:39] VatsalBatra commented on #183
@samswag  i would like to work on this issue.

[2018-03-25 12:41] samswag commented on #183
Sure go on .

On Sun, Mar 25, 2018, 10:39 AM vbatra <notifications@github.com> wrote:

[2018-03-25 17:27] VatsalBatra commented on #183
@samswag can you provide/suggest any suitable /official logo for MATH4 PROJECT and sugar creation  kit ,can't find any suitable one or should i submit the code with these pic only
![about-us project](https://user-images.githubusercontent.com/20797544/37877965-c732cca4-307f-11e8-9def-8f5f9a27044a.png)

[2018-03-26 02:12] quozl commented on #205
Thanks.  However, I'm looking for input from Sugar Labs members; on whether it will look better.  This is a subjective issue.

[2018-03-26 02:14] quozl commented on #181
These comments unrelated to the _problem_ are a distraction.  Please, don't use issues as a place to negotiate who will work on something.  You may get no response.  You may forget to say you've stopped working on it.

Please use a pull request instead.  Check for pull requests linked to the issue; if there are none, then assume nobody has done anything.  Begin to fix the problem, test, [make your

[2018-03-26 20:08] quozl commented on #183
The projects section were mostly placeholders.

Only two are current, SoaS and GSoC.  The Sugar Creation Kit is obsolete.  The Math4Team has been inactive for many years.  We have two short term development [projects](https://github.com/orgs/sugarlabs/projects) in the GitHub organisation, and several potential projects inside GSoC.

Use some sort of generic logo if you must.

In my opinion, the se

[2018-04-09 11:07] vipulgupta2048 commented on #188
Finding this issue, actually makes me giggle. I have been hanging out on that channel from the start, and often wonder why no is there. One fine day, I found that someone did reply. Here's a [screenshot](https://imgur.com/a/kNLw9). I joined on March 18, 2018. There has been a total of 3 messages from then.

`#sugar` is good enough place for discussion by both beginners and experts, even newcomers.

[2018-04-14 17:55] walterbender opened #212 "IP v6 support"
Hello.

I recently happened upon the Sugar Labs website while I had only IPv6 connectivity. Unfortunately the site lacks IPv6 support and thus failed to load for me.
Is this something that could be looked into being fixed?

Thanks in advance,
Raul

(Raul Tambre)

[2018-04-21 19:42] kushmisra commented on #174
@jamessandy . can i please help u work on this!?

[2018-04-21 19:43] samswag commented on #174
Please go on.. you don't need permission

[2018-05-30 09:03] mann27 commented on #167
I would like to take up this issue.

[2018-05-30 09:20] mann27 opened #214 "Search bar not proper aligned when screen size reduced"
In safari

![screen shot 2018-05-30 at 2 39 36 pm](https://user-images.githubusercontent.com/33790390/40711321-85e63da4-6418-11e8-9265-fd4e20a078c6.png)

In chrome

![screen shot 2018-05-30 at 2 42 51 pm](https://user-images.githubusercontent.com/33790390/40711394-acd55f4e-6418-11e8-82a8-91d806d2db19.png)

[2018-05-30 11:00] Pro-Panda commented on #167
Hi @mann27,

You need not ask for permission to take up an issue. You should check for pull requests linked to the issue. If there are none, feel free to make a pull request.

Please see our guide to [contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#contributing)

[2018-05-30 22:38] quozl commented on #167
My opinion is that the colour can stay as it is; it nicely reinforces the open nature of the site.  This issue was raised by a participant during Google Code-in, as part of the competition, and nobody else has expressed agreement until now.

[2018-06-01 09:54] mann27 commented on #167
Hello @Pro-Panda

Thanks for the guidance so @quozl should i work on this issue or not and also can you please send an link of sugar-labs channel on Gitter or Slack .

[2018-06-03 23:14] quozl commented on #167
@mann27, thanks for your interest.  Our competition of ideas occurs at pull-request stage, not issue stage.  Issues are used to track potential future work.

You can work on this issue if you like; with the knowledge that at least one person thinks it **isn't** worth doing, and that one person thinks it **is** worth doing.  We can't and shouldn't stop you.  When your pull-request is made, people w

[2018-06-19 16:07] chimosky opened #216 "Contributors page Look"
The [Sugar Labs contributors page](https://www.sugarlabs.org/en_US/profiles/) doesn't look right, the sugar labs logo at the top left of the page isn't visible
![oie_p_M4_Dz_Fmz_FXQh.png](https://s8.postimg.cc/nnkxs1dut/oie_p_M4_Dz_Fmz_FXQh.png)

It's also very difficult to find the contributors page in the website, it'll be great if it was under the about us tab. And most of the pages under `Join

[2018-06-20 23:01] quozl opened #218 "Extreme slowness in page load"
In a test just now, it took about a minute to finish loading the page, during which the spinner was the only visible element.  Status bar of browser showed resources were being fetched from servers other than sugarlabs.org.

* [ ] while loading, the page should not be hidden by the spinner; interaction must be available as soon as elements are available,
* [ ] all needed resources should be on sug

[2018-06-23 17:21] chimosky commented on #216
@samswag @geekrypter, any comments?.

[2018-06-26 12:31] VibhorCodecianGupta commented on #218
The website uses CDN for at least jquery and bootstrap among other things, so isn't it inevitable that resources are fetched from other servers?

[2018-06-26 22:23] quozl commented on #218
Interesting, thanks.

[2018-06-30 16:43] chimosky commented on #216
Addressed in #220

[2018-07-02 17:04] #216 closed

[2018-07-07 05:03] Pro-Panda commented on #20
@walterbender,
Should this be closed, since we have moved the documentation to GitHub

[2018-07-07 12:12] #20 closed

[2018-07-09 04:23] pg07codes commented on #145
i cant reproduce this issue. If it has been fixed, please close the issue.

[2018-07-09 06:09] Pro-Panda commented on #145
While the contrast has been fixed, the cursor still becomes activated. The issue has been partially fixed

[2018-07-09 12:44] pg07codes commented on #147
cant reproduce this issue. is it fixed ?

[2018-08-15 15:15] aastha980 opened #225 "Problem in dropdown menus of navbar"
When we click on some navbar links and then hover on other links, undesired output is obtained. Other dropdowns go either behind or in front of opened dropdown.

![aa](https://user-images.githubusercontent.com/29335511/44155880-0eb264a6-a0cc-11e8-8945-b2073ad297c6.JPG)

[2018-08-15 21:11] quozl commented on #225
Yes, I see that too.  As a workaround, you should either click or hover, not both.

[2018-09-11 17:29] samswag commented on #56
I will close this issue as it isn't relevant anyone.

[2018-09-11 17:29] #56 closed

[2018-09-11 17:33] #61 closed

[2018-09-11 17:33] #62 closed

[2018-09-11 17:35] #69 closed

[2018-09-11 17:37] #71 closed

[2018-09-15 08:16] steve7158 commented on #225
can this be a solution if we make the hover not to work whenever the click is activated?

[2018-10-03 04:14] samagragupta commented on #63
How can I apply for GCI 2018 mentor in Sugar Labs ?

[2018-10-03 08:56] quozl commented on #63
* don’t hijack a closed issue on GitHub to ask unrelated questions, as this is confusing and unwelcome,
* make a material and consistent contribution to Music Blocks, Sugarizer, Sugar, or activities,
* write to the Sugar Labs development mailing list, see sugar-devel@ on lists.sugarlabs.org, offering to help.

[2018-10-07 17:49] IfeanyiEkperi commented on #79
The Instagram icon doesn't still look great, the color is still not same, the hover makes it worse. It's better without a background and then a hover over color of red or blue.

[2018-10-14 02:08] #80 closed

[2018-10-14 02:17] quozl opened #232 "Update dependencies"
At last commit, GitHub reported three dependencies with security issues yet to be resolved, details at https://github.com/sugarlabs/www-sugarlabs/network/dependencies

![screen shot 2018-10-14 at 1 18 22 pm](https://user-images.githubusercontent.com/2936481/46911876-cd952780-cfb3-11e8-8326-9b894e6ceed2.png)

I've reviewed each of the CVEs, and we have nothing to worry about, as the site does not s

[2018-10-15 07:49] samswag commented on #232
I am working on it. Thanks for the report @quozl

[2018-10-15 09:00] samswag commented on #232
I just fixed the security issues

[2018-10-15 09:00] #232 closed

[2018-10-15 09:22] samswag opened #233 "Close all PR older than 6 months"
@quozl and @walterbender I want to close all PRs older than 3 months so new developers can in new PRs. What do you think?

[2018-10-15 12:05] walterbender commented on #233
Why not review them?

On Mon, Oct 15, 2018 at 5:23 AM Samson Goddy <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2018-10-15 12:40] samswag commented on #233
I have at least some. Most of them are irrelevant, some are already addressed and I am yet to test others. But the irrelevant ones are the type of PRs I plan to close.

[2018-10-15 12:51] walterbender commented on #233
If they are irrelevant then they should be closed regardless of the date.

On Mon, Oct 15, 2018 at 8:40 AM Samson Goddy <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2018-10-15 22:12] quozl commented on #233
Your premise is flawed; new developers can make pull requests with the existing pull requests still there.

To me a pull request is no different to an issue; except that a pull request shows an intention to change did once exist, and an issue shows a desire for change without an intention to change did once exist.  Either may no longer exist, yet the pull request or issue may remain, orphaned.

Yo

[2018-10-18 15:34] amaaniqbal commented on #225
Issue already fixed! I am closing it.

[2018-10-18 15:34] #225 closed

[2018-10-18 15:40] amaaniqbal opened #234 "Bug in CSS code"
When I try to minify the airspace.css using gulp minifier i.e., `gulp styles`,  it throws the following error.

![capture](https://user-images.githubusercontent.com/28555134/47166547-0f0e3580-d31a-11e8-8c43-13f4458d9a85.PNG)

The bug is in line 378. It has unnecessary # before class is defined.
![capture](https://user-images.githubusercontent.com/28555134/47166649-4b419600-d31a-11e8-9b52-9741b2385

[2018-10-18 22:43] samswag commented on #234
I am assuming #236 fixed the issue? because there is no way to make the automation without fixing this bug. If so, can you close the issue?

[2018-10-19 04:18] amaaniqbal commented on #234
Ya I did so but I have not committed the changes to css file in that pull request. I am unsure about # is followed by an id or is just by mistake. After referring to the current code, it seems that # is present just by mistake.

[2018-10-22 19:48] samswag commented on #207
@octamois want to give more details on it, so I can make it a GCI Task ?

[2018-10-23 01:09] nathan-jacob opened #237 "Proposal for a Privacy Policy"
I want to add a privacy policy to the website, given that the site currently does not have one.

[2018-10-23 01:40] nathan-jacob commented on #237
added better HTML headings, added links for websites and changed the font to Roboto.

[2018-10-23 02:02] nathan-jacob commented on #237
here's a mock up: [here](https://codepen.io/nathanjacob/pen/ReYgbr)

[2018-10-23 02:23] nathan-jacob opened #238 "Proposal For a Feedback page"
Well, I thought the page could use a feedback section, because a lot of kids don't know how to use GitHub issues/comment, and it could be beneficial to get feedback from them. Mockup [here](https://codepen.io/nathanjacob/pen/bmxRWa)

[2018-10-24 03:15] quozl commented on #238
How will the feedback be read and answered?  Let's not add something we can't sustain or handle.

[2018-10-24 03:39] nathan-jacob commented on #238
I was thinking it would send an email to a mailing list, which we could then just reply through email to address whatever issue

[2018-10-24 04:00] quozl commented on #238
Thanks.  We'd also have to moderate the submissions.  Plenty of 'bots out there are filling in feedback and comment forms with advertising, political, or hate-speech.  The "check for human" or captcha services are not fully reliable.

We did have a Discourse forum, and we do still have a MediaWiki instance, and the mailing lists.

Hopefully others will contribute to this discussion.

[2018-10-24 07:38] perriefidelis commented on #205
@avinashbharti97 great idea! but if it comes too small it wouldn't look too good. If it's possible to make the search bar as responsive(Just reduce the size on scrolling) as the other element on the nav bar, than that solves the problem better. @VatsalBatra changing the radius if the search bar will distort the uniformity of the site because all other elements are in full rectangles.

[2018-10-24 21:52] quozl commented on #75
As of now, 40fae48424ccae898243db517c59ba0ebb61ca61, the spacing problem is already fixed on desktop and mobile views.

[2018-10-24 21:52] #75 closed

[2018-10-25 05:19] quozl commented on #181
In #243, @yummypasta suggested removing the gap between the entry and the button.

My opinion is that it looks better with the gap; so that the function of each area can be clearly seen.

[2018-10-26 23:29] quozl opened #247 "Remove duplication between README.md and documentation.md"
Both files contain text similarities, leading to increased cost of maintenance.

[2018-10-28 20:42] #189 closed

[2018-10-29 00:01] #181 closed

[2018-10-29 00:05] quozl opened #249 "Newsletter subscription redirects to unmanaged or undocumented mailing list"
Either;

* bring the mailing list in house, using lists.sugarlabs.org, or;
* document the external mailing list for our systems@ infrastructure team.

[2018-11-05 04:39] quozl commented on #218
Symptom still occurs.  About a minute.  Most of the time is spent resolving DNS queries and making connections to get resources from off-site.

[2018-11-06 19:56] BolajiAyodeji opened #252 "Proposal to modify social icons on footer"
Footer icons on footer can be modified to use relative and equal icon types.

[2018-11-06 20:59] quozl commented on #252
We don't need or want an issue for something that you are willing to fix in a pull request.  An issue is for something you aren't willing to fix.  So I had presumed @BolajiAyodeji didn't want to fix it.  @BolajiAyodeji, do you want to fix this?

[2018-11-06 21:03] BolajiAyodeji commented on #252
@quozl Yes, I would fix that

[2018-11-06 21:05] quozl commented on #252
Thanks, let's see your pull request then.

[2018-11-06 21:05] #252 closed

[2018-11-13 05:05] quozl commented on #72
The button is now centered and left aligned, because it is the same width as the text entry.

[2018-11-13 05:05] #72 closed

[2018-11-13 05:08] quozl commented on #154
Since fixed.

[2018-11-13 05:08] #154 closed

[2018-11-13 16:06] samswag commented on #249
What do you suggest we do like an action plan on these your points?

[2018-11-13 21:01] quozl commented on #249
I can't recommend an action plan.  I don't know enough about the feature or intention.  As far as I know, there is no newsletter, nobody is writing it, there is no publishing, and so no need to capture mail addresses yet.  If that situation changes, then do tell me.

[2018-11-16 16:37] navanchauhan opened #261 ""https://owa.kiwiirc.com/piwik.js" responding with error 522"
Possible Fix is to replace "https://owa.kiwiirc.com/piwik.js" with Cloudflare's CDN "https://cdnjs.cloudflare.com/ajax/libs/piwik/3.6.1/piwik.js"

[2018-11-18 00:29] HarrisonLKatz commented on #218
Hello,
I am currently finishing up a somewhat related PR, but one thing I noticed while doing this was how a lot of libraries are out of date. While this might not make a huge difference, it may speed things up to update some of them. For instance, this website is currently using ion icons v2. Ion icons v2 is using a minified css sheet in order to load only 1 resource; however, this causes the she

[2018-11-18 23:20] quozl commented on #218
Thanks.  Yes, many of the resources have not been maintained.  We got security vulnerability warnings from GitHub.  I'm certainly in favour of measurable improvements, and some of what you mention may well be an improvement.  But I'm not in favour of unmeasured improvements.  I've also suggested on sugar-devel@ that the web site be [replaced with a content management system](http://lists.sugarlabs

[2018-11-19 01:20] HarrisonLKatz opened #262 "Purpose of all .sass files?"
Hello,
I am currently working on this website, and could not figure out the purpose of the sass files. I added an import to main, but discovered that main.css is never used on the website. When I imported it, it broke the website. Not only that, but one file, _social.sass, isn't even linked in main.sass. Is there a reason that these are kept, or should I ignore/delete them?
Thank you,
Harrison

[2018-11-19 03:29] quozl commented on #262
Thanks.  Interesting.  [SASS](https://en.wikipedia.org/wiki/Sass_(stylesheet_language)) is used by [Jekyll](https://en.wikipedia.org/wiki/Jekyll_(software)).  If someone has changed generated files, i.e. output files that are made from those `.sass` files, then;

* that's all-our fault for letting it happen, because not everyone would have known how Jekyll works, and;
* you can find from `git blam

[2018-11-19 05:18] HarrisonLKatz commented on #262
No one has changed the output - I'm just confused because the output is never used. In fact, one of the files does not even output anything. I was wondering if they have any real purpose because I am trying to add some css, and it seems that main.sass outputs main.css which is never imported or used anywhere.

[2018-11-19 08:35] quozl commented on #262
Remove the unused files, test that the site still works for you, and make a pull request.  Then anyone who cares about the files will be obliged to give reasons to keep them.

[2018-11-20 22:06] quozl commented on #261
Thanks for trying to find the problem, but I've taken what you said and found it's more complicated than that.  What we have now is;
* `js/main.js` changes _myiframe1_ and _myiframe2_ attribute _src_ to an off-site resource,
* that off-site resource then references piwik.js from owa.kiwiirc.com,
* that server doesn't respond for 30 seconds, contributing to #218,
* the reverse proxy in front of owa

[2018-11-20 22:30] #218 closed

[2018-11-20 22:30] #261 closed

[2018-11-20 22:35] HarrisonLKatz commented on #262
Resolved by #263

[2018-11-20 22:35] #262 closed

[2018-11-23 18:04] nathan-jacob commented on #238
@quozl what about google forms? That way there is no server involvement, and on top of that everyone can see the data?

[2018-11-24 18:51] nathan-jacob commented on #164
@quozl @kushagra189 I'm a little confused, are we doing the vertical or horizontal goals page? On top of that would both of you be open to keeping everything the same, and only fixing the original issue rather than making dramatic changes, because I could write up something to fix the original issue.

[2018-11-24 19:02] nathan-jacob opened #266 "No Year in Sugar Labs Copyright"
In the footer of sugar labs, there is no year stated when we claim the Creative Commons Attribution-ShareAlike 4.0 International License(CC-BY-SA).

[2018-11-24 19:05] nathan-jacob commented on #161
@quozl Shouldn't this issue be closed with the movement of the search bar at sugarlabs.org from the bottom of the page to the header?

[2018-11-24 19:33] nathan-jacob opened #267 "Activities Downloaded #"
![image](https://user-images.githubusercontent.com/37455968/48972323-59579600-efed-11e8-9a28-389c5c924234.png)
Here the number of sugar users has a plus, but the number of activities downloaded does not. I know for a fact that this number is not exact, so why not put a plus on it too?

[2018-11-24 19:42] nathan-jacob opened #268 "Sugar title not centered, after removal of the video"
![image](https://user-images.githubusercontent.com/37455968/48972391-ccadd780-efee-11e8-887c-fff9ff1ee2e5.png)

[2018-11-24 20:03] samswag commented on #268
@nathan-jacob want to send a fix?

[2018-11-24 20:05] samswag commented on #267
Did you send any PR to address this issue, because I can't find any?

[2018-11-24 20:55] #267 closed

[2018-11-24 21:50] nathan-jacob commented on #268
Sorry, was a bit busy before, here's the fix @samswag

[2018-11-25 23:45] quozl commented on #164
Thanks.  As far as I can see from reviewing this issue again,
* @g30r93g did a drive-by issue report, with a screenshot of existing situation, probably as part of GCI last year,
* @DipanshKhandelwal did a drive-by comment, showing a screenshot of a solution, but @g30r93g did not answer, so we don't really _know_ if it meets the issue, but it probably does,
* @kushagra189 asked if the issue was sti

[2018-11-25 23:46] quozl commented on #161
Yes, thanks.

[2018-11-25 23:46] #161 closed

[2018-11-26 22:34] samswag commented on #268
Can you just send one PR that fix both issues?

[2018-11-27 09:03] quozl commented on #268
Given our [Guide to Reviewers](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#goals) says to _not waste the time of the contributor, by doing anything trivial that otherwise the contributor might have to do_, I tried to identify how to proceed; but was stymied by;
* two pull requests for the same issue; please close any you don't want us to review,
* the second pull reques

[2018-11-27 21:41] quozl opened #273 "More clearly state that Sugar Labs is an Open Source project"
Raised on sugar-devel@ mailing list today.

[2018-11-28 10:21] amaaniqbal commented on #249
Should I create a GCI task to come up with the action plan needed for this purpose? An amazing idea can out from someone.

Otherwise, I feel it's taking up enough space in the footer and its corresponding code can be commented out at least for now. And we may fill it something useful or redesign the footer itself. Currently, its height is a bit too much in comparison to what a footer's height gene

[2018-11-28 20:05] quozl commented on #249
It's not a coding problem.  I don't think a GCI participant could learn enough about Sugar Labs organisation and gain consensus in the time available.

Removing it for now is a good first step, as it stops us lying to visitors.  The footer height is immaterial.

[2018-11-29 14:54] amaaniqbal commented on #249
Ya, it's not a coding problem. I am just saying about an action plan. I had created two tasks related to creating a plan for chatbot and another for updating our website to bootstrap 4.1. These prove to be something helpful. Maybe something could come out from this also.

This can be done depending upon consensus.

If we remove the newsletter part, we would have an option to create a new column by

[2018-11-29 20:44] quozl commented on #249
I've not seen any action plan for a chatbot or bootstrap, so that kind of task has no benefit to Sugar Labs as far as I can see.  If the action plan was private, what's the point of that?

I'm fine with it not looking organised, as Sugar Labs is not organised.  But I'm also fine with someone changing it to look organised.  It's just that the footer height, the columns, and looking organised is not

[2018-11-29 22:38] amaaniqbal commented on #249
I will send you those plans soon. Walter already has access to them.

[2018-11-29 23:17] quozl commented on #249
Why not post to [sugar-devel@ mailing list](http://lists.sugarlabs.org/listinfo/sugar-devel)?

[2018-11-30 01:30] amaaniqbal commented on #249
Okay, will do soon.

[2018-11-30 04:32] nathan-jacob commented on #268
Pull request aba43c5 does it all in one

[2018-11-30 04:35] nathan-jacob commented on #268
https://github.com/sugarlabs/www-sugarlabs/pull/270/files fixes the issue,
I merged all the pulls into one

On the html I changed the class name to center because I didn't want it to take on the bootsrap css values

On the css I added a description for class center in order to center .center, that way it wouldnt all by in the middle, but rather, centered.

[2018-11-30 10:35] samswag commented on #273
I think this is fixed already.

[2018-11-30 19:15] #273 closed

[2018-12-03 02:03] quozl commented on #234
Given that we no longer minify the file, is this still needed?

[2018-12-03 08:02] amaaniqbal commented on #234
The bug has nothing to do with minification. It may lead to some issue later. Also, that bug ensures that the corresponding CSS will not work. It's better to remove it or to remove that styling only if its presence is of no use currently.

[2018-12-03 19:22] quozl commented on #234
I disagree with removal.  I think it should be fixed.

From context in the file, it should be
[code]

Some [other repositories](https://github.com/search?q=testimonial+block+h2+extension%3A.css&type=Code) contain it.

Mistake was in the original commit https://github.com/geekrypter/sugarLabsWebsiteRedesign/commit/9003bde925761206fc8219e9f5a12e05af21532e which was summarised in https://github.com/s

[2018-12-03 19:46] geekrypter commented on #234
Hi,

As @quozl as mentioned, the following code

[code]
should be replaced with

[code]

I apologise for the mistake and confusion.

Thanks and Regards,
Seetarama Raju

[2018-12-04 01:15] amaaniqbal commented on #234
The reason why I was not bothering for it being there or removed was the fact that it's not being used anywhere. I too could predict that testimonial could have been there.

Again in one of the tasks to find redundant or unused codes authored by me, one GCI student pointed out here that a set of stylings including this is not being used. I will send the PR for it once the last instance out of 3 wi

[2018-12-04 01:46] quozl commented on #234
Thanks.  Airspace was not ours to begin with.  To lower maintenance and ease upgrades, we should minimise the differences between our copy of airspace and others.

Anyway, this fixation on styles is wasteful.  Our Google Analytics results are very poor.  We need A/B testing of _content_ for the web site, not further style and appearance changes.

[2018-12-04 06:38] amaaniqbal commented on #234
Okay, I think I should create the last set of tasks for GCI with the task to create a plan for updating content/components of our landing page for SEO and analytics purposes. A guide for students could be https://neilpatel.com/blog/ab-testing-seo-landing-pages/

What do you say @quozl ?

[2018-12-06 01:00] quozl commented on #234
Best people for the planning would be developers on the new oversight board.  I don't think we'd get much of value out of a GCI student, as it requires a very wide knowledge and experience of Sugar Labs and our software; something which cannot be discerned from reading.

[2018-12-08 17:21] Gabbar8055 opened #278 "Sugar Labs logo size"
The size of sugar labs logo looks stretched on large-size devices.
![22](https://user-images.githubusercontent.com/39026182/49688653-3a88f180-fb0d-11e8-8f86-0f7c735e00b2.PNG)
The size of sugar labs logo on medium-size devices is getting out of navigation bar.
![21](https://user-images.githubusercontent.com/39026182/49688677-905d9980-fb0d-11e8-983d-597a30a435ec.PNG)

[2018-12-09 13:46] AjjuSingh commented on #266
I can fix this issue.

[2018-12-10 04:41] pro-panda commented on #207
My opinion is to not add a chatbot.
 - How does it help the audience ?
   Shouldn't the website itself be descriptive enough to solve any doubts ? Or maybe an FAQ page ?
 - How does it help us ?
 - Do we have enough maintainers for it ?

We already have a lot of mediums for communication (IRC, Mailing List, probably Sugar Social) and data (Wiki, www.sugarlabs.org, GitHub). It'd be better to concen

[2018-12-11 23:23] pro-panda commented on #207
I don't see a consensus in either direction

@samswag @quozl Should we close this ?

[2018-12-12 01:43] quozl commented on #278
Unable to reproduce.  Tested Firefox on Ubuntu 16.04, and Firefox and Safari on iPad with iOS 12.  The logo correctly appears on Firefox and does not look stretched.  The logo does not appear on Safari.

Please provide browser, operating system, and display resolution details.

[2018-12-12 01:47] quozl commented on #207
Agreed, we should not be adding new features now; our situation is too dire for that.

There was a [community meeting](https://wiki.sugarlabs.org/go/Oversight_Board/2018/meeting-log-2018-12-07) which produced a plan and a team to work on A/B testing.  Team is @aperezbios, @samswag, and @perriefidelis.  I'm yet to hear anything from them as a team, but it's early days yet.

I've asked for a GitHub

[2018-12-12 08:45] aryanharitsh123 commented on #278
@quozl Yes, it is working fine on Ubuntu 18.04 too, tried Firefox and Chrome. Display resolutions are
1366x768 and 1920x1080.

[2018-12-12 09:11] samswag commented on #207
Hello @quozl Here is a conversation of the plan http://meeting.sugarlabs.org/sugar-meeting/2018-12-09

[2018-12-12 21:55] quozl commented on #278
@Gabbar8055, which version of Chrome?

[2018-12-12 21:59] #268 closed

[2018-12-13 20:50] quozl commented on #278
Thanks.  Reproduced on Chrome 71.0.3578.80 on Ubuntu 16.04 by shrinking the window in various ways.  About 800x600 yields a thinner logo.  About 600x800 yields logo over navigation area.  But it all still works; what is the problem with the size changes of the logo?

[2018-12-13 21:55] Gabbar8055 commented on #278
I think it would look better if the logo does not come out of the navigation bar in 600x800 resolution and also a little bit less thin in 800x600 resolution. What do you think @quozl ?

[2018-12-14 05:07] quozl commented on #278
Thanks.  I don't think it matters.  Our critical problem is with content, not presentation.  Visitors are not staying on the page for very long, and they don't learn what we do.  I'll ask again; what is the problem with the size changes of the logo?  You've said it would look better; but how would it look better?

@sugarlabs/a-b

[2018-12-14 13:18] Gabbar8055 commented on #278
Thanks for review the issue. If you think the presentation does not matter that much then its OK! and there is no problem with the size changes of the logo. The issue is only about the presentation of the logo.

[2018-12-14 20:18] quozl commented on #188
521609b

[2018-12-14 20:18] #188 closed

[2018-12-22 11:12] FreddieN opened #285 "Proposal for link to sugar labs hosted Music Blocks."
The first result when searching in Google "Music Blocks" is the Music Blocks about page on the Sugar Website. (https://www.sugarlabs.org/music-blocks/). For young students, this can be confusing when they see the instructions on setting up a local web server when really all they need to do is navigate to https://musicblocks.sugarlabs.org which is not mentioned on the page.

I propose we add a prom

[2018-12-22 12:07] samswag commented on #285
@walterbender  want to comment on this?

[2018-12-22 14:40] walterbender commented on #285
I agree. A try it button that opens the webpage would be great. (Also, the illustrations on the website are very old.)

[2018-12-22 15:16] FreddieN commented on #285
Ok, I’ll have a go at this and submit a PR once done.

On Sat, 22 Dec 2018 at 14:40, Walter Bender <notifications@github.com>
wrote:

--
Sent from Gmail Mobile. Sorry for any errors.

[2018-12-25 23:15] #285 closed

[2019-01-01 22:21] MastaCoder commented on #278
I have managed to reproduce this.

When the page is loaded with a large format, a green icon is shown. Dynamically changing the size of the window down to a point where it goes into dropdown mode causes the logo to grow outside of the navigation bar. However, loading the page in a smaller format, an orange logo is shown instead. Changing the size of the window then has the logo grow and shrink pro

[2019-01-01 22:32] quozl commented on #278
Wouldn't it be easier to bring in the upstream changes to the theme or undo changes to the theme that were made since it was last brought in from upstream?

[2019-01-06 14:59] chukundah opened #288 "Search bar not very responsive across different screens"
<img width="697" alt="screen shot 2019-01-06 at 3 24 06 pm" src="https://user-images.githubusercontent.com/14887641/50737346-43321d80-11c8-11e9-8d66-990485f3711d.png">

This is a 1280px width screen, and the search bar covers a menu item.

[2019-01-11 14:37] rbhatia46 opened #289 "Include a back-to-top button on scrolling down"
On scrolling the website, a back-to-top button can be included in the bottom-right corner to make it easier to navigate back to the top.
Please let me know if you need any help with this or if I can integrate this in the existing UI.

[2019-01-12 01:04] quozl commented on #289
Thanks.  We need the content to be verified and updated.  We need the time on page to be increased. Layout and appearance is lower priority and not as necessary as content.  So I'm not in favour of what you suggest.

[2019-01-12 08:47] rbhatia46 commented on #289
@quozl thanks for the reply! I was looking forward to make my first contributions to Sugar Labs. Can you suggest a good place to start?

[2019-01-14 01:19] quozl commented on #289
Thanks for asking for directions.  I'm release manager, and oversight board chair for Sugar Labs.

My [“How to get started as a Sugar Labs developer”](http://lists.sugarlabs.org/archive/sugar-devel/2018-November/055934.html) assumes you are a self-directed developer.  You will decide for yourself what is best for you to do.  You will use Sugar, Sugarizer or Music Blocks, and choose what to maintai

[2019-01-20 13:31] amaaniqbal commented on #170
I fixed this way back and I guess it can be closed.

[2019-01-20 13:31] #170 closed

[2019-01-20 13:59] amaaniqbal commented on #73
I guess I was involved in fixing this. But anyways I could not able to replicate this via Chrome Inspector on hover and so I suppose, it can be closed.

Please have a look once @samswag @quozl .

[2019-01-20 14:03] amaaniqbal commented on #83
We are not having IRC on our website for now. So I suppose this can be closed. Your reviews @quozl?

[2019-01-20 14:03] amaaniqbal commented on #87
We are not having IRC on our website for now. So I suppose this can be closed. Any reviews @quozl?

[2019-01-20 22:35] quozl commented on #73
Tested, seems fixed.  Firefox on Ubuntu 16.04 and iOS 12.x.

[2019-01-20 22:35] #73 closed

[2019-01-20 22:36] quozl commented on #83
IRC was disabled anyway because it was not working, due to new security restrictions and out of date JavaScript component.

[2019-01-20 22:36] #83 closed

[2019-01-27 21:18] #131 closed

[2019-01-28 15:10] pro-panda commented on #78
Stale. More information needed

[2019-01-28 15:13] #87 closed

[2019-01-28 15:13] #136 closed

[2019-01-28 15:15] pro-panda commented on #123
Fixed in #139

[2019-01-28 15:15] #123 closed

[2019-02-09 03:54] pro-panda commented on #233
Stale. Closing

[2019-02-09 03:54] #233 closed

[2019-02-22 16:54] manangoel99 commented on #288
Can I work on this issue?

[2019-02-22 17:18] pro-panda commented on #288
Please note there is no need to ask permission to work on an issue. See our [guide to contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#contributing)

[2019-02-23 19:46] manangoel99 commented on #288
I have made a pull request. It has been labelled as issue #291

[2019-03-01 19:01] manangoel99 commented on #288
This also fixes issue #214

[2019-03-27 21:53] akshat0047 opened #293 "Improve the design of fixed social media hyperlinks on main page"
- Fix the border radius of inner corners
- Add box shadow

![Screenshot from 2019-03-28 03-20-38](https://user-images.githubusercontent.com/32462195/55114697-a917ac80-5108-11e9-9ce3-d47234bd16d7.png)

[2019-06-01 02:01] quozl commented on #293
@akshat0047, in future if you make a pull request for an issue, please add the words "fixes" followed by the issue number, so it will be closed automatically.  I agree with @Aniket21mathur that there's no need to create an issue if you plan to make a fix.  It saves on notification noise for everybody.

[2019-06-01 02:01] #293 closed

[2019-10-01 12:18] savezsiddiqui commented on #289
i want to do this!

[2019-10-01 12:18] therajaryan commented on #289
I'd like to do this!

[2019-10-01 12:20] akshgpt7 commented on #288
@chukundah Is the issue still open?

[2019-10-01 12:30] quozl commented on #288
We're waiting for review of https://github.com/sugarlabs/www-sugarlabs/pull/291.

[2019-10-01 12:37] quozl commented on #289
I've said my piece already for this issue.

Regarding your desire to fix the issue; (a) we don't have a consensus on how to proceed, and (b) you're going against our project's culture by asking permission, see

[Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) which says;

@ayushnagar123, please don't cause unnecessary interest in issues that aren't clear, it

[2019-10-01 14:14] ayushnagar123 commented on #289
I apologise @quozl for refering the wrong issue. Will take care of it next time

[2019-10-01 19:03] chukundah commented on #288
It is.

[2019-10-01 20:11] quozl commented on #288
Please test and review https://github.com/sugarlabs/www-sugarlabs/pull/291

[2019-10-01 22:52] akshgpt7 commented on #266
@nathan-jacob Is this issue still up for grabs?

[2019-10-01 23:07] #266 closed

[2019-10-01 23:08] quozl commented on #266
Sorry, but it was quicker for me to fix it than answer.

[2019-10-09 20:12] quozl commented on #289
We still don't have consensus and people are wasting their time proposing to fix it.

[2019-10-09 20:12] #289 closed

[2019-10-09 20:30] quozl commented on #249
Stale, closing.  There's no newsletter to subscribe to, and nobody is proposing to write one.

[2019-10-09 20:30] #249 closed

[2019-10-09 20:30] quozl commented on #173
Stale, closing.  We have since stopped minifying our derivative copy of airspace.css.

[2019-10-09 20:30] #173 closed

[2019-10-09 20:30] quozl commented on #278
Stale, closing.

[2019-10-09 20:30] #278 closed

[2019-10-09 20:33] quozl commented on #18
Stale, closing.

[2019-10-09 20:33] #18 closed

[2019-10-09 20:33] quozl commented on #22
Stale, closing.

[2019-10-09 20:33] #22 closed

[2019-10-09 20:34] quozl commented on #36
Stale, closing.

[2019-10-09 20:34] #36 closed

[2019-10-09 20:34] quozl commented on #38
Stale, closing.

[2019-10-09 20:34] #38 closed

[2019-10-09 20:34] quozl commented on #43
Stale, closing.

[2019-10-09 20:34] #43 closed

[2019-10-09 20:35] quozl commented on #44
Stale, closing.

[2019-10-09 20:35] #44 closed

[2019-10-09 20:35] quozl commented on #46
Indeed.  But stale, closing.

[2019-10-09 20:35] #46 closed

[2019-10-09 20:36] quozl commented on #47
Stale, closing.

[2019-10-09 20:36] #47 closed

[2019-10-09 20:36] quozl commented on #48
Stale, closing.

[2019-10-09 20:36] #48 closed

[2019-10-09 20:37] quozl commented on #49
Stale, closing.

[2019-10-09 20:37] #49 closed

[2019-10-09 21:17] quozl opened #305 "Use an external theme without customisation"
Much of the noise and wasted effort on our web site has arisen from using themes or stylesheets that are copied into our site and then customised extensively.  This isn't necessary.  Instead, we should use an upstream, well-known, and maintained theme, without customising it.  This may let us concentrate on content rather than form.

[2019-10-10 06:21] amaaniqbal commented on #305
+1, I mentioned about this indirectly in the past. Bootstrap v4.3 would replace many of the obsolete stylesheets we are currently having. Bootstrap is the world's most popular framework to develop responsive websites.

It's maintained [here](https://github.com/twbs/bootstrap/issues).

[2019-10-10 07:24] quozl commented on #305
Thanks.  On the other hand, I don't want to cause more noise than signal.  In past year we have had about four content changes, out of 74 commits.  The larger problem we have is very little content being generated. :grin:

[2019-10-10 09:03] amaaniqbal commented on #305
True! Have you thought of any workflow to solve either of theme or content related problems?

By the way which content is actually being referred to here? The one on the SugarLabs website?

[2019-10-11 00:14] quozl commented on #305
I don't understand the question.  It seems very vague.  We don't need a workflow to solve problems.

I'm amazed at your question.  What other content could I be referring to?  Content is information about Sugar Labs, our products, our projects, our events, and our people.  Themes or stylesheets is the implementation of the arrangement of the content.

As fewer and fewer people _do anything_ at Sug

[2019-10-11 09:35] amaaniqbal commented on #305
I meant have you thought of any priorities of solving problems. In the sense, what should be targeted first and to what extent or which all tasks are required to be done ASAP, etc?

:sweat_smile: I thought you could be referring to some regular content writing for newsletters or something else apart from that on our website which is directly presented to our users. Sorry!

[2019-10-11 21:50] quozl commented on #305
No.

Thinking about in, I do notice one critical absence of content.  We're a software project, but we don't talk about what we do now.

Developers who make releases of Sugarizer, Music Blocks, Sugar, and activities could add to their checklists the writing of an announcement on the web site as well as to the mailing lists.  That hasn't been happening.  We don't have a process.  There's a blog lin

[2019-10-12 12:34] deepak2431 commented on #174
@samswag Hi, Can I work on this issue if it's still opened?
Thanks!

[2019-10-12 13:05] amaaniqbal commented on #305
But I guess it's important for any newcomer to know what is actually required to be done apart from fixing borders here and there.

I see a way to revamp some activity related content during GCI '19 via some Quality Assurance or Research related tasks. Core content like Mission, About and related content would not change much I guess.

So how should we go about this issue? I see some silly issues

[2019-10-13 20:30] quozl commented on #174
You can work on any issue.  Please don't ask.  See [Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) which says _there is no need to ask permission to work on an issue_.

The issue is still open.  You can prove that by looking for coloured activity icons on the web site.  Please always test on your own if an issue continues to occur.

Be sure to integrate all

[2019-10-13 20:45] quozl commented on #305
No, I disagree.  Any newcomer should be able to figure out for themselves what needs doing, just by trying to use our software and thinking for themselves.  See [How to get started as a Sugar Labs developer](http://lists.sugarlabs.org/archive/sugar-devel/2019-September/057182.html) in total, and especially the section "How to ask for directions?"

No, I disagree again.  Students in Google Code-in

[2019-10-14 19:22] amaaniqbal commented on #305
I have already gone through this way back. But has missed "How to ask for directions?" section 😅

I had used Music Blocks way back but couldn't stick with it.

Okay, I will try to dig deeper into any of Sugar, Sugarizer or Music Blocks soon. Mostly before the beginning of next month. But I cannot guarantee this month.

So let's wait to see what opinion others have on this.

[2019-10-16 15:07] IfeanyiEkperi opened #306 "Social media buttons"
In the footer section, the Social media buttons are rioting with the background in my opinion.

As an advocate of 'Design with Inclusion' I think some icons may be difficult to identify in the dark background, hence, I suggest the icons be changed to white color to make it as visible as possible.

[2019-10-16 19:11] quozl commented on #306
I don't think this is important.  The site is dead, as it has too little recent content.

[2019-10-18 02:14] IfeanyiEkperi commented on #306
Hmmm, isn't that supposed to be a disturbing news.

We can create contents and keep it alive. It's also nice GCI is around the corner, I think tasks on contents should be geared towards keeping Our website contents as fresh and lively as possible.

[2019-10-18 02:46] quozl commented on #306
No, I'm not trying to be disturbing.  It's just the ways things are; the people who are doing anything with Sugar Labs tend to be either;

* coding and releasing Sugarizer, Music Blocks, Sugar or activities,
* maintaining the existing web services,
* managing the organisation (the oversight board), or;
* tweaking icons, spelling or formatting on web sites and the Wiki.

We aren't able to keep the

[2019-10-18 10:05] quozl commented on #306
I'm a designer of code and complex systems.  By _designer_, I think you mean you create imagery and web content using web publishing applications rather than write it by hand?  I'd call that a _web designer_.

So, let's check for suitability for the task.  Do you use or test Sugarizer, Music Blocks, or Sugar?

[2019-10-18 10:50] IfeanyiEkperi commented on #306
Yes you're right, I'm a web designer and Graphic Artist.

I do test Sugarizer

[2019-10-18 21:23] quozl commented on #306
Excellent, I"ll expect content about Sugarizer then.  Thanks for the offer.

[2019-10-20 18:25] IfeanyiEkperi commented on #306
Thank you so much, it's been great having this thread with you. I'll work on it and start contributing as advised.

[2019-10-20 18:25] #306 closed

[2019-11-27 03:52] pidddgy opened #308 "social media icons create a weird line on hover"
<img width="982" alt="image" src="https://user-images.githubusercontent.com/30125762/69692238-634c2300-109f-11ea-9377-2e5611a3c047.png">

<img width="982" alt="image" src="https://user-images.githubusercontent.com/30125762/69692254-6d6e2180-109f-11ea-9eea-ae24c084373c.png">

[2019-11-27 10:16] quozl commented on #308
Not important to fix.  It is only an appearance problem.  More important is to verify and update the content on the web site, and remove content that is not maintained.  See also https://github.com/sugarlabs/www-sugarlabs/issues/305 and other closed issues for related discussion.

[2019-11-30 23:01] #308 closed

[2019-12-10 12:22] amaaniqbal commented on #288
I don't see any method to go about this by changing the margin, padding, or media-screen attributes. Even if somehow it gets fixed now, there would be some other silly error like this later. This was also happening in the past.

The best way I find is to replace this custom search box with the Bootstrap 3 default search box and add the classes accordingly for the search functionality.

[2019-12-10 12:34] amaaniqbal commented on #121
We are not using minified CSS files anymore.

[2019-12-10 12:34] #121 closed

[2019-12-29 09:52] Swayamsvk commented on #127
Added a pull request for this.

[2019-12-29 22:24] quozl commented on #127
Thanks, but I don't think this needs to be fixed.  The issue was created during GCI 2017 as part of a task, but had not been reviewed.  The original source of the text is an old and unmaintained Wiki page https://wiki.sugarlabs.org/go/Sugar_Labs

[2019-12-30 17:26] #127 closed

[2020-02-02 18:51] Swayamsvk commented on #247
I think documentation.md file is deleted.

[2020-02-02 19:13] Swayamsvk commented on #151
Can I work on this?

[2020-02-02 20:53] quozl commented on #151
Hey Swayam!  Thanks for asking.

This issue was raised by a student during GCI 2017 in contesting for tasks.  GCI is an environment where creativity does not always correlate to forethought.  :grin:

We do not have a consensus among the developers how to respond to this issue.  I've given my opinion, but nobody else has done so.  Therefore it is not, on its own, an important issue.  Think of it as

[2020-02-02 20:53] #151 closed

[2020-02-02 21:20] Swayamsvk commented on #133
I think this issue is solved please close this issue.

[2020-02-02 21:21] Swayamsvk commented on #132
I think this issue is solved please close this issue.

[2020-02-02 21:22] Swayamsvk commented on #130
I think this issue is solved please close this issue.

[2020-02-02 21:24] Swayamsvk commented on #129
I think this issue is solved please close this issue.

[2020-02-02 21:24] #133 closed

[2020-02-02 21:25] #132 closed

[2020-02-02 21:25] #130 closed

[2020-02-02 21:36] #129 closed

[2020-02-03 00:13] #247 closed

[2020-04-09 14:50] FiberesimaJoseph commented on #145
Why not change the font color of the text i think the background is okay if the font colors are changed

[2020-04-19 17:14] #145 closed

[2020-05-02 04:22] Anonymos-Knight commented on #212
Hey,I can sort this out

[2020-06-24 23:46] deejoe commented on #288
Are the steps to reproduce this available? In Firefox 77.0.1 or Chromium 83.0.4103.61 on Ubuntu 18.04 I don't see the problem. Narrowing the width of the browser window or increasing the size of the application font using `Ctrl +` eventually leads to the the menu items to collapse into a "hamburger" menu (ie, three horizontal lines stacked atop one another) but never to the overlap of the elements

[2020-06-29 06:17] quozl commented on #288
I agree.  Please close.

[2020-06-30 18:10] deejoe commented on #288
Would do, but not in my account's scope.

[2020-06-30 18:13] #288 closed

[2020-07-01 03:37] thushan-sen opened #314 "suggession: Replace some words that can be replaced with material icons"

[2020-07-02 05:36] SDR0512 opened #315 "Have a link labeled 'Home' on every page on the site, except for the home page."
Many sites place the organization's logo on the top of every page and link it to the homepage. While many users expect logos are clickable, around 25% will not realize that links to the homepage. Therefore, include a link labeled 'Home' near the top of the page to help those users.

[2020-07-02 05:49] quozl commented on #315
Thanks.  I don't believe this is necessary.  In my experience less than 5% (rather than 25%) do not realize that the logo links to a home page.  Also, we very rarely need a way to navigate to the home page, as the site is small.

[2020-07-02 11:49] Thusal06 commented on #314
I would like to work on this issue.

[2020-07-02 11:49] Thusal06 commented on #314
Can you explain this further?

[2020-07-02 12:10] samswag opened #316 "Port site to Bootstrap 4 from 3"
Some of the UI elements are broken and to better fix it, it will be great to migrate the bootstrap from the old version to the newest.

Since the lastest bootstrap is a major rewrite from 3, there might be some visual changes that need to be further modified.
See [Migration](https://getbootstrap.com/docs/4.0/migration/) on the official bootstrap website.

[2020-07-02 12:22] #315 closed

[2020-07-02 12:27] Thusal06 commented on #174
Hi, Look at the **colors of activities icons** designed by me.
![Issue#1](https://user-images.githubusercontent.com/66709891/86358657-7ce4c700-bc8d-11ea-81f2-6698bfb0f8a9.png)
![Issue#2](https://user-images.githubusercontent.com/66709891/86358668-80784e00-bc8d-11ea-841e-8c8b2ddb1b95.png)
![Issue#3](https://user-images.githubusercontent.com/66709891/86358670-8110e480-bc8d-11ea-9c49-a728eb4b3777.png

[2020-07-02 22:27] quozl commented on #174
These are not the Sugar colours.

[2020-07-03 12:09] SDR0512 opened #318 "Broken link"
There is Broken link in Sugar Labs Webpage
error link -  https://socialhelp.sugarlabs.org/

[2020-07-03 12:20] quozl commented on #318
It's not really broken.  The service is shut down.  The link should be removed if the service won't be restarted.

[2020-07-03 13:36] #318 closed

[2020-07-03 13:48] SDR0512 opened #319 "Create touch icon"
Use a memorable logo as the touch icon so your website will make a good impression as a bookmark on mobile devices.

[2020-07-03 22:10] quozl commented on #319
Thanks, but I'm not sure you are serious.  The wording of your issues seems scripted, and I've seen it before.  e.g. ["Use a memorable logo as the touch icon so your"](https://www.google.com/search?q=%22Use+a+memorable+logo+as+the+touch+icon+so+your%22).  Your other contributions to other projects also seem remarkably patterned.  Perhaps you are a robot.  Are you a real person?  Have you used Suga

[2020-07-04 00:59] #319 closed

[2020-07-04 01:08] SDR0512 opened #320 "Create Sitemap"
Use a sitemap to submit all pages of your website to search engines.

[2020-07-04 02:03] quozl commented on #320
https://github.com/sugarlabs/www-sugarlabs/issues/319

https://www.google.com/search?q=%22Use+a+sitemap+to+submit+all+pages+of+your+website+to+search+engines.%22

Reported as abuse to GitHub support.

[2020-07-04 02:28] #320 closed

[2020-07-04 05:22] thushan-sen commented on #314
the website would be neat and organized and anyone can  easily understand the various elements in the page by using material icons rather than using words. So i think using material icons will improve the quality of the webpage.

the website would be neat and organized and anyone can  easily understand the various elements in the page by using material icons rather than using words. So i think usi

[2020-07-04 05:22] thushan-sen commented on #314
the website would be neat and organized and anyone can  easily understand the various elements in the page by using material icons rather than using words. So i think using material icons will improve the quality of the webpage.

[2020-07-04 05:23] thushan-sen commented on #314
ya pls

[2020-07-05 16:56] himanshujaidka opened #321 "Social accounts opens on same tab"
social accounts should be open on new tab

[2020-07-05 17:31] himanshujaidka commented on #321
See #322

[2020-07-05 17:33] himanshujaidka commented on #316
So how we could migrate?

[2020-07-05 17:45] himanshujaidka opened #323 "Contribute to website option on footer"
Contribute to website link will not change its color when we hover on it
![Screenshot (714)](https://user-images.githubusercontent.com/58654018/86538731-651f7400-bf15-11ea-9020-5b611f8592aa.png)

[2020-07-05 19:48] samswag commented on #316
As explained here via the official bootstrap website,  https://getbootstrap.com/docs/4.0/migration/ since the 4+ is a significant rewrite from 3.

One major issue I have seen is the effect it has on the navigation bar because some elements changed. And to make it much easier and faster, I recommend using [BootstrapCND](https://getbootstrap.com/docs/4.5/getting-started/download/#bootstrapcdn) inste

[2020-07-05 21:44] quozl commented on #314
I'm not interested.  The issue is not sufficiently described and no example is given.

[2020-07-05 21:52] quozl commented on #323
This is insignificant.

[2020-07-06 05:04] himanshujaidka commented on #323
All links in website changes its color to pink but only one link (contribute to website) will not change its color while hovering on it, it is not looking goods

[2020-07-06 05:11] quozl commented on #323
Sure, it's not the best, but we have _way more important_ problems with the web site, such as actual content relating to Sugarizer, Sugar and Music Blocks.  Please don't distract us from important problems with stuff like this?

[2020-07-06 07:04] Neilblaze opened #324 "UX improvement of website ~ opinions?"
![SG1](https://user-images.githubusercontent.com/48355572/86565156-f2e67800-bf84-11ea-9c4c-65873a9956ab.JPG)
![SG2](https://user-images.githubusercontent.com/48355572/86565162-f548d200-bf84-11ea-99fa-505a8e6d2a7a.JPG)
![SG3](https://user-images.githubusercontent.com/48355572/86565165-f679ff00-bf84-11ea-8473-3df9c2372709.JPG)
![SG4](https://user-images.githubusercontent.com/48355572/86565169-f843c2

[2020-07-06 07:06] himanshujaidka commented on #323
Yeah, sure I would like to remove that link :)

[2020-07-06 07:11] himanshujaidka commented on #323
Pls, assign this to me I will remove that link

[2020-07-06 07:22] himanshujaidka commented on #324
Would you mind if I want to work with you?

[2020-07-06 08:03] quozl commented on #324
This in conjunction with other recent issues and pull requests looks like a denial of service attack on our organisation.  Could you please explain why you have become interested in our web site?  Has someone asked you to be involved?  Is there a bounty?  Are we on some list somewhere?  I'd like to get us removed from any such list.

[2020-07-06 08:04] quozl commented on #323
This in conjunction with other recent issues and pull requests looks like a denial of service attack on our organisation.  Could you please explain why you have become interested in our web site?  Has someone asked you to be involved?  Is there a bounty?  Are we on some list somewhere?  I'd like to get us removed from any such list.

[2020-07-06 08:05] quozl commented on #314
This in conjunction with other recent issues and pull requests looks like a denial of service attack on our organisation.  Could you please explain why you have become interested in our web site?  Has someone asked you to be involved?  Is there a bounty?  Are we on some list somewhere?  I'd like to get us removed from any such list.

[2020-07-06 08:55] Neilblaze commented on #324
@quozl No nothing such! Actually I was looking through the GCI'19 page where I came across Sugarlabs. Since the tech-stack of Sugarlabs mathches with mine, so I thought to look into the sugar labs website (https://www.sugarlabs.org). There while surfing the pages, I came across these experience issues which I believe that I can fix. That's why I created this issue #324 . Also, there are other issu

[2020-07-06 08:59] himanshujaidka commented on #323
No! nothing like that :) Actually I want to take part in GSoC 2021 so for that I am preparing and I am very passionate about it. Would you mind if you will guide me and I also want to improve your website because I love to design websites :)

[2020-07-07 04:49] quozl commented on #324
Thanks!  Looking at your profile, we could really do with help on Sugarizer and Music Blocks.

[2020-07-07 04:50] quozl commented on #323
Thanks!  Looking at your profile, we could really do with help on Sugar, Sugarizer and Music Blocks.

[2020-07-08 12:21] #314 closed

[2020-07-09 05:03] quozl commented on #314
That's no answer.  :grin:

[2020-08-12 13:56] himanshujaidka commented on #316
ok I got it , I am working on this

[2020-10-28 11:49] AdithyaKrishnaK opened #330 "Search Bar is not in good place"
![image](https://user-images.githubusercontent.com/24326156/97431974-40765e80-1941-11eb-994c-758113f12f8e.png)

![image](https://user-images.githubusercontent.com/24326156/97432035-584de280-1941-11eb-981d-eaf947f137d1.png)

The first one is from Edge browser and the second from Chrome. There isn't enough space for search bar in nav bar.

[2020-10-29 03:51] quozl commented on #330
Thanks.  But this is effectively a duplicate of https://github.com/sugarlabs/www-sugarlabs/issues/305, so closing.

[2020-10-29 03:51] #330 closed

[2020-10-29 04:08] quozl commented on #207
I'm closing this because we certainly do not have enough volunteers or members to operate the human response side of a web site chat 'bot.

[2020-10-29 04:08] #207 closed

[2020-11-01 10:02] AdithyaKrishnaK commented on #316
I would like to work on this. But I was wondering how to remove the existing bootstrap files and also I am having trouble connecting to #sugar IRC channel(says Cannot send to nick/channel).

[2020-11-01 10:44] srevinsaju commented on #316
@AdithyaKrishnaK please follow the _registration_ on Freenode. :)

[2021-01-11 17:01] srevinsaju opened #332 "Moving the website to GitHub Pages (Discussion)"
I put forward a proposal to move the website to GitHub Pages, after a series of problems on _Machine/freedom_.
* The docker container www-rebuilder doesnt work anymore.
* The latest commits, eg: The Flatpak commit by @tchx84 is not deployed yet.
* _Machine/freedom_ would probably retire soon.

GitHub Pages has a fast built-in Jekyll Processor, which would automatically build this website and deplo

[2021-01-11 17:03] srevinsaju commented on #332
cc @sugarlabs/sugar-labs-inc

[2021-01-11 18:55] samswag commented on #332
Github pages do have limitations, maybe netlify sounds like a good plan, we can apply for an open source plan.

[2021-01-11 19:50] srevinsaju commented on #332
May I know what are the limitations of GitHub Pages?

[2021-01-11 20:08] samswag commented on #332
Here you go [Netlify Vs Github](https://www.netlify.com/github-pages-vs-netlify/#:~:text=If%20you%20are%20hosting%20a,easy%20to%20deploy%20your%20site.&text=Netlify%20works%20out%20of%20the,your%20Git%20repo%20to%20Netlify.)

[2021-01-11 20:15] srevinsaju commented on #332
Interesting, its a feature list provided by Netlify itself.

How would Netlify benefit Sugar Labs over GitHub Pages (considering only Sugar Labs, and the features used by the current website)
* Isn't Netlify another level of complexity?
* Wouldn't that require additional credentials, which you would need to maintain?
* What would happen if the owner of the Netlify repository stops contributing?
*

[2021-01-11 20:25] samswag commented on #332
I totally agree with you, I also believe in future-proofing. The website or at this currently will be changing soon, so maybe in future, some decisions can make us want to port.

Since netlify has what Github pages offer, we can consider that too.

[2021-01-11 20:35] quozl commented on #332
My preference is to scale down the number of different tools to an absolute minimum in line with the number of active developers we have.

We are also an open source project, and as part of our mission should think carefully before using proprietary services, independent of service cost.  GitHub is proprietary, and we aren't unduly affected by the proprietary nature of GitHub.

Also, @sugarlabs/su

[2021-01-11 20:42] samswag commented on #332
Agreed, as per @sugarlabs/sugar-labs-inc I see not in there, maybe @aperezbios can address that.

[2021-01-11 20:54] quozl commented on #332
Per https://github.com/orgs/sugarlabs/people there are plenty of people who can address it.  But the board members are the ones obliged to do so.

[2021-01-11 21:18] srevinsaju commented on #332
Agreed. We have few sysadmins to actively devote enough time to maintain our own infrastructure. Wherever possible, I feel using GitHub Pages for serverless static page deployment is ok. GitHub Pages does not use any cookies, as compared to Netlify iirc. So privacy-wise, I suppose its okay to not use any other extra addition to the current website. In future, for example, if we rewrite the website