[2021-05-14 05:00] rahul-bothra opened #333 "How to rebuild the website?"
I recently pushed to master 2a40dfb. I was hoping that the site would rebuild on it's own, but it did not.

Is something broken?

[2021-05-14 22:19] chimosky commented on #333
There was a conversation on something similar a while ago but I can't remember where it was, I think it was on the devel list but maybe @srevinsaju can help.

[2021-05-15 10:35] srevinsaju commented on #333
For some background regarding this:

The `www-sugarlabs` is hosted on freedom, it was moved to freedom to ease the building of the website by non-shell account holders using a github webhook kafka queue.

As of now.. the kafka queue and the www-rebuilder container is completely broken ¯\_(ツ)_/¯ and I have no idea how to fix the rebuilder (its something written in python, but I do not have enough r

[2021-05-15 12:27] rahul-bothra commented on #333
Thanks, moving discussion to #332

[2021-05-15 12:27] #333 closed

[2021-05-15 12:30] srevinsaju commented on #316
[Bootstrap v5.0](https://getbootstrap.com/docs/5.0/getting-started/introduction/) has been released. So probably, we would now aim to migrate bootstrap3 website to bootstrap5 now

[2021-05-15 12:45] rahul-bothra commented on #332
My comments after https://github.com/sugarlabs/www-sugarlabs/issues/333#issuecomment-841637207,

Developers should have to spend minimal time maintaining the website and wiki, and more on building Sugar, Sugarizer, and Music Blocks. GitHub pages should do a good job at reducing maintenance. While GitHub is a proprietary service, this dependency was partly already taken as GitHub is used to host th

[2021-05-17 15:27] chimosky commented on #332
I think we need to address this as it's lingered long enough, I do agree with moving to Github pages as there will be very little to do about maintenance.

[2021-06-01 23:52] chimosky commented on #332
Closing this as the website has been moved to GH pages.

[2021-06-01 23:52] #332 closed

[2021-06-01 23:56] chimosky opened #335 "Contributor Page Improvement"
I think the [contributor page](https://sugarlabs.org/profiles) on the website needs improvement as it's currently not pleasant to look at as it has quite tiny text, varying font size and there's no arrangement of the content.

[2021-06-02 00:04] aperezbios commented on #332
The migration is not successful. The website is still 404 as of just now. This is not complete.

[2021-06-02 00:11] chimosky commented on #332
It works fine for me, can someone else confirm?

[2021-06-02 00:54] rahul-bothra commented on #332
Where is the website building from?
https://sugarlabs.org/profiles/ is not updated with my patch 2a40dfb

[2021-06-02 01:02] chimosky commented on #332
It's building from this repo, I'll check why it's not showing your change later as it was showing it before now.

@srevinsaju seems like the CNAME doesn't currently point to sugarlabs.github.io but dig shows that it does, GH says it doesn't.

[2021-06-02 05:40] srevinsaju commented on #332
[code]

I am getting annoyed with local DNS caches, and I have no clue how to purge them. So, I am not sure if this is my PC alone, it would be nice i someone else could test it.

[2021-06-02 05:41] srevinsaju commented on #332
It might come from the subsequent commits, as it is just set up today.

[2021-06-02 05:47] srevinsaju commented on #332
oh, nvm. Looks like sugarlabs.org now includes https://github.com/sugarlabs/www-sugarlabs/commit/2a40dfbbd3c3f272ef1c6f6bc74e0c519aca9c1a commit

[2021-06-02 15:53] aperezbios commented on #332
It's working from my location now.

[2021-06-02 15:53] aperezbios commented on #332
Final step is to update the documentation on the wiki, so we have the new process for updating the website actually documented somewhere :)

[2021-06-04 10:30] chimosky commented on #332
I think it'll be just to state that all changes are built automatically as we've moved to GH Pages.

[2021-06-06 07:15] srevinsaju commented on #332
I have updated the wiki. Removed the obsolete instructions, and added the steps to update the website now.

Basically, to update the website: all we need to do is, to push a commit to `master`, which will trigger the pipelines to refresh the website.

[2021-06-06 16:35] aperezbios commented on #332
Great. How those pipelines/automation bits actually work is also important to document, so someone who is going in to troubleshoot _why_ that automation might fail is going in fully-armed with the knowledge they need to troubleshoot it without prior knowledge. Are there any explanations or links to how the automation works?

[2021-06-06 16:48] srevinsaju commented on #332
Agreed, you are right. I have added https://docs.github.com/en/pages/setting-up-a-github-pages-site-with-jekyll this link to the wiki page to help debug future builds. This link has the entire information on how to set up the continuous integration system, setting up a custom domain, and troubleshooting jekyll builder bugs.

In short, When a user with push access, pushes to the `master` branch, th

[2021-06-06 20:03] quozl commented on #332
Consider also how many people have push access now.  It is a large
list.

[2021-06-07 05:58] srevinsaju commented on #332
Perhaps, we should mark `master` as a protected branch to restrict the number of users with the ability to deploy the website to the CMS. :thinking:

[2021-06-07 09:45] chimosky commented on #332
For the website, I've restricted some of the outside collaborators to read only. Also restricted some member access to the needed repos.

[2021-08-10 14:37] Anubhavdxt commented on #335
Hey @chimosky
I would like to work on this issue. I'm a newbie in the open-source world.
If no one else is working on it, can you please guide me?

[2021-08-10 14:52] chimosky commented on #335
Hey @Anubhavdxt, thanks for wanting to work on this.

The current contributors page - linked in the opening comment above - can look better than it currently does, you're to come up with a design of choice and change how the page looks, we can discuss the options you can up with an agree on which to use.

This [one](https://www.kernel.org/doc/html/latest/driver-api/media/drivers/contributors.html)

[2021-08-11 04:13] Anubhavdxt commented on #335
Hey @chimosky
I've gone through the page you've mentioned above, it looks very clean and nice, I would like to implement something similar.
Are there any directions or advice for me to get started on this?
Help me out on getting started with the issue.

[2021-08-11 17:27] chimosky commented on #335
You'd need to setup a dev environment so that you can test your changes and that's detailed in the contributing guide I linked above, the task requires knowledge of html and css, I don't know what files to make the change to so that's why I opened the issue and you'll have to figure that out.

[2021-08-12 12:46] Anubhavdxt commented on #335
Hey @chimosky
Could you please assign me the issue so that I can start working on it?

[2021-08-12 13:41] chimosky commented on #335
We usually don't assign issues as that can sometimes prevent others from working on an issue when anyone can work on it and we accept the solution that seems good for us, I don't think anyone is working on this at the moment though so you're free to open a PR with your changes.

[2021-12-28 07:09] nikkuAg commented on #335
Hello @chimosky,

If the issue has not been assigned to anybody yet, can I work on it?

[2021-12-28 09:05] nikkuAg commented on #214
Hey,

Is this issue still open?
Can I work on this issue

[2021-12-28 12:48] chimosky commented on #335
Hi @nikkuAg, yes the issue isn't assigned to anyone and you can work on it.

[2021-12-28 12:57] chimosky commented on #214
Hi @nikkuAg, thanks for bringing this to my attention and yes you can work on it.

I'll hold off on closing this issue as you intend to work on it but take a look at #288 for existing discussion on the issue and why I want to close this too.

[2021-12-29 16:29] S-kus commented on #164
@quozl can I work on this, According to https://github.com/sugarlabs/www-sugarlabs/issues/164#issuecomment-362405863?

[2021-12-30 07:18] kartiktom commented on #335
Hi  I want to contribute to this feature can you help me set up the project I am currently using VS code for development. I followed the instruction but was not able to set it up.

[2021-12-30 10:46] nikkuAg commented on #335
Hello @**chimosky**,

I have started the work on the design.
I want to confirm if I just have to add CSS or I can add some feature like search option for better user experience

[2021-12-30 16:49] nikkuAg commented on #335
Hi **@chimosky**,

I have tried to improve the design of the contributor's page. So should I create a pull request or is there any other way to review the changes

[2022-01-01 08:13] S-kus commented on #174
@quozl Can I work on the issue? I will change the color of each icon with the help of their website home page icon color.

[2022-01-01 11:11] S-kus commented on #316
I would like to work on this. @srevinsaju Are you planning to migrate it?

[2022-01-01 11:12] quozl commented on #174
@S-kus, given the context of the issue, I don't understand your question.  Please make sure you read all the other responses I've made in this issue.  Scroll up.  If you have any questions after that, please try again.

[2022-01-01 11:23] S-kus commented on #174
@quozl I recreated the Base64 image with colors which are following, (I got these sugar colors from their referred link).

![1](https://user-images.githubusercontent.com/86892991/147849413-da3281ed-92c6-41ff-a42e-f654243c4eb8.png)
![2](https://user-images.githubusercontent.com/86892991/147849414-9a4e4e75-5276-4ce9-b7ed-6edec0d470b2.png)
![3](https://user-images.githubusercontent.com/86892991/14784

[2022-01-01 11:40] S-kus commented on #174
These are some Referred links (screenshot of activities given in which icon color is visible, So with the help of color picker I change the colors of the icon)-
Numbers -https://activities.sugarlabs.org/en-US/sugar/addon/4336
 Finance- https://activities.sugarlabs.org/en-US/sugar/addon/4040
 Maze Web- https://activities.sugarlabs.org/en-US/sugar/addon/4727
 Measure- https://activities.sugarlabs.or

[2022-01-01 12:52] quozl commented on #174
Sorry, but I don't think you know what you are doing.  Have you used Sugar yet?  It is a multi-user classroom collaboration system using apps we call activities.  In the current release of Sugar, the icons for activities are initially uncoloured, and then acquire the colour of the _user_ that created the corresponding journal entry after they are run.  The Sugar user colours are set in the Python

[2022-01-01 13:18] S-kus commented on #174
Okay, Thanks @quozl I got it.
So, what we are supposed to do in this issue.

[2022-01-01 13:22] S-kus commented on #97
@quozl I would like to work on this. But I am not able to find the codebase for this.

[2022-01-01 14:40] S-kus commented on #174
Okay @quozl, Thanks I got it.

[2022-01-02 06:10] quozl commented on #335
In deleted comments someone asked if a search feature was needed.  I don't think so.  I can't see why a search would be needed.  The page is a list of contributors, as a thank you to them for their work on Sugar.

(It is also out of date, and doesn't list contributors for other Sugar Labs software, such as Music Blocks or Sugarizer.  It isn't clear how a contributor can be added to the list.)

[2022-01-02 06:13] quozl commented on #174
Remember, this was another drive-by issue.  Have you found the list of colours in the Sugar Toolkit source code yet?

[2022-01-02 06:15] quozl commented on #97
It is not part of this repository.  I don't know either, but it shouldn't be too hard.  Ask on our mailing list, and check the Wiki for pages that refer to the infrastructure service planet.sugarlabs.org.

[2022-01-02 07:44] S-kus commented on #97
Do I need to mail at  sugar-devel@lists.sugarlabs.org? I got it from page https://lists.sugarlabs.org/listinfo/sugar-devel.

[2022-01-02 07:59] S-kus commented on #174
Yes, I found the code [here](https://programtalk.com/vs2/?source=python/12555/sugar-toolkit-gtk3/src/sugar3/graphics/xocolor.py). Could you please explain a bit more what exactly is required to do in this issue?

[2022-01-02 09:12] chimosky commented on #174
@S-kus, you can find the Sugar Toolkit source code [here](https://github.com/sugarlabs/sugar-toolkit-gtk3).

[2022-01-02 09:20] chimosky commented on #97
Yes that's the sugar-devel mailing list.

[2022-01-02 09:23] chimosky commented on #335
Hi @kartiktom, do you mean the instructions [here](https://github.com/sugarlabs/www-sugarlabs#code-and-contribution) and can you explain what you mean by not being able to set it up, what did you try and what errors did you encounter?

[2022-01-02 09:26] chimosky commented on #335
I agree with you about the search feature, I don't think it's necessary too and yes it's outdated and omits a lot of contributors as no one really want to take the time to update it as the developers who have their names there mostly added it after it was first curated and I don't think anyone wants to update it either as I haven't seen anyone indicate interest in doing so.

[2022-01-02 09:30] kartiktom commented on #335
@chimosky I followed instructions but the bundle install command is not working in VS Code.

[2022-01-02 09:35] chimosky commented on #335
You probably don't have ruby installed but can you share the error you get when you run `bundle install`?

[2022-01-02 09:40] kartiktom commented on #335
The term 'bundle' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify
that the path is correct and try again.
can you please guide me how to install ruby

[2022-01-02 09:45] chimosky commented on #335
I don't know what OS you use but you can easily search for how to install it in your OS.

[2022-01-02 09:53] kartiktom commented on #335
I installed Ruby still the same error (I am using windows).

[2022-01-02 09:56] chimosky commented on #335
I don't use windows and can't really help you there so you'll have to search and figure out how to fix it, you can start by searching the error you got and move from there.

[2022-01-02 10:00] S-kus commented on #174
@chimosky according to https://github.com/sugarlabs/www-sugarlabs/issues/174#issuecomment-1003554402 reply, are icons will still be with some particular colors? If yes, there are many pairs of colors in xocolor.py! which one exactly should I use? Could you please explain it?

[2022-01-02 10:12] chimosky commented on #174
Usually the icons change colours after it's being used and these colours are determined by the user profile colours, you can checkout [`sugar3.profile`](https://github.com/sugarlabs/sugar-toolkit-gtk3/blob/master/src/sugar3/profile.py) and a [search of some of the methods](https://github.com/search?q=org%3Asugarlabs+profile.get_color&type=code) in `sugar3.profile` shows you their usage.

[2022-01-02 10:22] S-kus commented on #174
Thanks @chimosky. I will look into this.

[2022-01-02 10:25] kartiktom commented on #335
Can I work on this issue or someone else is already working ?

[2022-01-02 10:28] chimosky commented on #335
Yes you can work on the issue and I don't think anyone is working on it as no one has indicated that they are.

[2022-01-02 10:29] chimosky commented on #174
Glad I could help.

[2022-01-02 17:55] quozl commented on #335
It is fine for more than one person to work on an issue, and we resolve that during pull requests.

[2022-01-03 07:30] kartiktom commented on #335
@quozl you were saying that the data is too old so It would be a waste of time to work on this data.
So can you please help me with updated data?

[2022-01-03 14:20] nikkuAg commented on #335
Hi @quozl,

To add new contributors data, we just need to update the exisiting file having the list of all the contributors with their respective data.

[2022-01-03 14:22] nikkuAg commented on #335
Hi @chimosky,

I am also working on this issue and have create one PR.
I will be updating the changes mentioned in the PR

[2022-01-03 15:09] S-kus commented on #165
I would like to work on this. @g30r93g Can you explain a bit more?

[2022-01-03 18:27] chimosky commented on #165
Thanks for indicating interest @S-kus, I'm closing this as it's stale and the person who opened it seem to have abandoned the issue.

[2022-01-03 18:27] #165 closed

[2022-01-03 19:13] S-kus commented on #165
Thanks, @chimosky, please, let me know if there is anything else where I can contribute.

[2022-01-03 20:19] chimosky commented on #165
I'm guessing you recently subscribed to our mailing list and I'd sent a developer how-to so it'll be easier for you to know what part of Sugar Labs you can contribute to based on your skill-set/interests, I don't know your skill-set and can't make any recommendations so if can share your skill-set then I can make recommendations.

[2022-01-04 04:55] quozl commented on #335
@kartiktom wrote:

It is certainly odd.  Almost as if you care more about making a change to how it looks than ensuring Sugar Labs communicates correctly and truthfully with readers.  There are colloquial phrases in various cultures, and sorry for any cross-cultural offense, but in my culture it could be "putting a dress on a pig doesn't change the fact that it is still a pig".

Of course not.  If

[2022-01-04 08:03] S-kus commented on #165
Okay. Thank you @chimosky I will mail you regarding it.

[2022-01-04 08:27] quozl commented on #165
Also list for yourself what you want to learn.

See [Eric Raymond's How To Become A Hacker](http://www.catb.org/~esr/faqs/hacker-howto.html) for some ideas on progression in open source communities.  Many of us began this way.

[2022-01-04 10:31] chimosky opened #342 "Change hyperlinks for Get Sugar and add a hypertext for Trisquel Sugar"
The current way to get `SOAS` on the website leads to the `SOAS` [installation page](https://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation) on the wiki but I think it should lead [here](https://wiki.sugarlabs.org/go/Sugar_on_a_Stick) instead as it provides specifically useful and updated information.

Also add a hyper text for Trisquel sugar which should lead [here](https://wiki.sugarlabs.or

[2022-01-04 19:52] S-kus commented on #342
@chimosky Thank You for this issue.
Can you confirm where do you exactly want the hypertext for Trisquel Sugar?

[2022-01-04 20:15] S-kus commented on #165
Thank you @quozl. I will go through it.

[2022-01-04 22:44] chimosky commented on #342
It should be part of the `Get Sugar` drop down on the website.

[2022-01-05 12:59] lakshya-dhariwal commented on #205
Now that the search bar is being mentioned I have noticed that the search icon looks unproportional to the search bar maybe we can also resize it  according to the search bar's size

[2022-01-05 13:03] lakshya-dhariwal commented on #335
Is anyone working on this issue .
If yes I think it might be better if you post your mockups and we all can give our opinions .
Also if we have the mockups multiple people can work on different parts of the page.

[2022-01-05 13:16] quozl commented on #205
Probably best to look at this after upgrading to latest Bootstrap. #316

[2022-01-05 13:22] quozl commented on #335
On the other hand, don't overdo it.  I'd prefer to see the page using the styles that Bootstrap already provides, so that the site is consistent across different pages, and so that we can minimise time spent on style and maximise time spent on updating content.

[2022-01-05 13:23] lakshya-dhariwal opened #345 "Improve Social links Sidebar and make footer social icons consistent"
When you first open the website the social links sidebar ruins the whole website design and seems out of place.  We can discuss how to make it look better .

Also the footer social icons are not consistent especially the instagram one.
Also the instagram logo has this purple colour on hover which adds to the inconsistency

![Screenshot 2022-01-05 at 6 51 25 PM](https://user-images.githubuserconten

[2022-01-05 13:36] quozl commented on #335
Don't worry about that.  Just work on it if you can.  If there is more than one pull request, the first one that is merged obliges the second one to rebase.

[2022-01-05 14:43] lakshya-dhariwal commented on #335
Hey @quozl
Where can i ask doubts ? The IRC seems dead

[2022-01-05 17:18] kartiktom commented on #342
#346 Hi @chimosky I have created the pull request for this issue. Kindly look into this

[2022-01-05 22:04] srevinsaju commented on #335
The [sugar-devel mailing list](https://lists.sugarlabs.org/listinfo/sugar-devel) is the best place to post your queries.

[2022-01-05 22:06] srevinsaju commented on #316
Sure, you don't need to ask.

No. My comment was to mention that a migration to Bootstrap 5 would be better, since BS5 was released then.

[2022-01-06 02:55] S-kus commented on #316
okay, @srevinsaju. I have started working on it.

[2022-01-06 03:22] quozl commented on #335
Thanks, great questions.

Yes, the IRC is unused.  I'm happy to take random questions by either GitHub issue, pull request, or sugar-devel@ mailing list.  Where a discussion moves to the mailing list, remember to summarise or link from GitHub.

Yes, the data for contributors is maintained in profiles.md, and is to be converted to HTML by [Jekyll](https://en.wikipedia.org/wiki/Jekyll_(software)) ac

[2022-01-06 08:22] S-kus commented on #316
@srevinsaju I am planning to use the documentation of bootstrap firstly migration from [v3 to v4](https://getbootstrap.com/docs/4.0/migration/) then [v4 to v5.](https://getbootstrap.com/docs/5.0/migration/).
This will change a few files. Could you confirm this process is right? and should I commit after migrating all the things to v5 or should I do a file vise commit?

[2022-01-06 11:37] quozl commented on #316
Choose a method that shows what you have done.  In your commit message, briefly explain what you did, so that your reviewers can review both the process you used and the result.  If it were me doing it (and I'm not particularly good at web development), I'd make a branch for the v3 to v4 port, complete it in a series of commits, testing how the site looks at each commit, then make another branch f

[2022-01-06 11:42] S-kus commented on #316
Thank you @quozl. I got it.

[2022-01-08 15:50] S-kus commented on #316
Hello @quozl, I am migrating from bootstrap3 to v4 firstly, Doing this process according to [document](https://getbootstrap.com/docs/4.0/migration/) they added many flex classes, because of which two main issues I am having is everything is shifted a bit left and the second one is during mobile view "navh2" from "airspace.css" creating problems with toggler (I am using bootstrap toggler [should I

[2022-01-08 18:27] srevinsaju commented on #316
@S-kus you are allowed to make changes to `airspace.css`, but try to avoid a different toggler, as it might add more complexity. Just make sure that you explain each step in your commit message, and it should be good to go.

By porting the sit from Bootstrap 3 to bootstrap 4/5, we are trying to keep:
* Minimum changes on the code, as well as on the visual design
* Not add any more new libraries to

[2022-01-08 19:30] S-kus commented on #316
okay Thank you @srevinsaju I will follow it.

[2022-01-08 23:42] quozl commented on #316
Guide _you_?  If I knew how to do this, I'd do it myself.  It would be way more efficient and effective than teaching anyone.  Thanks for working on it.  You may need to lean on Bootstrap and HTML5 resources.

It is one of the failings of our web site that it needs such skill to maintain.  It is very tempting to replace it with WordPress.  As Srevin says; we need minimal change, we don't need more

[2022-01-10 10:23] S-kus commented on #316
Okay, Thank you @srevinsaju @quozl. Things are almost done, I just have to fix the dropdown buttons, fonts, and serach-bar. I will create the pull request soon with each step in my commit message.

[2022-01-10 13:44] omnaladkar commented on #345
can contribute ?

[2022-01-10 19:22] quozl commented on #316
Thank you!

[2022-01-10 19:35] S-kus commented on #316
@quozl @srevinsaju Can we use the shown below one grey toggle icon for phone view i.e. less than 768px too with just different (earlier purple) background?
![Screenshot from 2022-01-11 00-51-27](https://user-images.githubusercontent.com/86892991/148827029-368bc396-b93f-4cbb-8141-0a0fa302d891.png)

As the icon we are using currently is not responsive, like these:
![Screenshot from 2022-01-11 00-51-

[2022-01-10 21:12] quozl commented on #316
If you mean the hamburger button, I don't have any trouble with the ones you showed above.

[2022-01-10 22:44] srevinsaju commented on #345
Duplicate of #308

[2022-01-10 22:55] chimosky commented on #345
Seeing as that's closed, I don't think this is a duplication anymore.

[2022-01-10 22:56] quozl commented on #345
If it can be fixed easily and simply, do so.  [Let's put some lipstick on this pig!](https://en.wikipedia.org/wiki/Lipstick_on_a_pig).

On the other hand, work on this may conflict with https://github.com/sugarlabs/www-sugarlabs/issues/316 so if anyone works on this issue please keep abreast of that issue.

[2022-01-11 14:34] S-kus commented on #316
@quozl @srevinsaju I Ported the site to Bootstrap 4 from 3, As shown in this [Video](https://drive.google.com/file/d/1D3lE0u0dzlAqftz8OtgPNa-yj8sxIPQy/view?usp=sharing).
If any changes are required, I will fix them and then I will raise the pr with proper commits about code changes.

[2022-01-11 16:49] srevinsaju commented on #316
Video looks fine, you can go ahead with the PR, we can deal with any additional changes in the code review. Thank you for working on this.

[2022-01-11 23:10] quozl commented on #316
Video looks fine.  I agree, go ahead.  But let's concentrate on the code review without any content or appearance changes.  In reviewing the video, I saw so much out of date content, which is not your fault and we should not stall code review because of it.

[2022-01-12 08:21] S-kus commented on #316
Okay, @quozl and @srevinsaju. I created the pull request. Please review it.

[2022-01-12 14:29] lakshya-dhariwal commented on #345
@quozl
So since the site is being shifted to Bootstrap 4 should we fix this issue using bootstrap 4 ( from cdn) as mentioned in #316

[2022-01-12 23:32] quozl commented on #316
@himanshujaidka, @AdithyaKrishnaK, thanks for your interest in this issue, please review https://github.com/sugarlabs/www-sugarlabs/pull/347 and give your comments.

[2022-01-12 23:34] quozl commented on #345
@lakshya-dhariwal, please
* review and test https://github.com/sugarlabs/www-sugarlabs/pull/347 and give your comments,
* base your own pull request on either our _master_ branch or the branch used by https://github.com/sugarlabs/www-sugarlabs/pull/347 rebasing your branch as necessary.
Thanks!

[2022-01-13 07:59] #335 closed

[2022-01-13 13:26] nikkuAg commented on #345
Can I work on this issue?

[2022-01-13 13:36] nikkuAg opened #348 "Suggestion for colour of menu items"
![Screenshot from 2022-01-13 19-02-46](https://user-images.githubusercontent.com/77184239/149339920-af8ce8a2-f871-4fcd-a99e-6a75c199bf93.png)

The colour of the menu items can be changed so that the items are easily readable and the user doesn't have to think about what is written?

[2022-01-14 00:58] quozl opened #349 "Upgrade jquery"
* [x] jquery 2.2.4 is in `js/jquery.js`, but latest is 3.6.0,
* [x] _layouts/base.html uses a CDN instead of local copy, we should use our local copy.

[2022-01-14 04:19] quozl commented on #345
First one to get a pull request merged wins.  Any number of people can work on an issue.

[2022-01-14 04:20] #348 closed

[2022-01-14 10:20] #342 closed

[2022-01-15 10:50] Priyanshi-Raj commented on #349
Hi, can I work on this issue?

[2022-01-15 19:38] chimosky commented on #349
Hey @Priyanshi-Raj yes you can work on the issue, you should also take a look at our [contributing guide](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) and open a PR when you have a fix.

[2022-01-16 07:29] quozl opened #351 "Update jsquery.nicescroll"
* [ ] jquery.nicescroll 3.6.8 is in `js/jquery-nicescroll.js`, but latest is 3.7.6,
* [ ] jquery.nicescroll 3.6.8 is taken from CDN by `_includes/footer.html` instead of from `js/`

[2022-01-16 07:32] quozl opened #352 "Modernizr unused"
`js/modernizr.min.js` is present but no code references Modernizr; if it is not used it should be removed.

[2022-01-16 16:18] nikkuAg commented on #345
Hey @quozl,

I want to know which icons are you using like icons from  Font Awesome or from some other.

[2022-01-16 21:01] srevinsaju commented on #345
@nikkuAg reading the `README.md`, I see

[2022-01-16 21:30] quozl commented on #345
Oops, keyboard shortcut accidental closure.

@srevinsaju, thanks, I didn't remember that.

@nikkuAg, this is how I learned more;

[code]

[2022-01-16 21:31] quozl opened #353 "Update ionicons"
ionicons.min.css is version 2.0.0, but latest release of ionicons is version 6.0.0

[2022-01-19 20:11] shubhayu09 commented on #353
Hey @quozl,
I would like to take up this issue. Can you pls elaborate on this issue in detail and tell me where to start as I'm new to this community.

[2022-01-19 20:32] quozl commented on #353
Thanks.  I don't mind who fixes this issue.  The reason I created the issue was that I saw the difference in version numbers and I didn't have the knowledge and experience to know what to do about it, nor did I have the time to acquire that.  So please be specific on how you want me to elaborate on the issue given that I don't have knowledge, experience, or the time to acquire them.  If I did, I w

[2022-01-19 21:20] shubhayu09 commented on #353
Ok, I got it.
Will try my best to fix this.

[2022-01-19 21:41] chimosky commented on #353
Hi @shubhayu09 Welcome!

In addition to what quozl has said, you should also look at our [contributing guide](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md).

[2022-01-20 12:42] nikkuAg commented on #345
Hey @quozl @srevinsaju,

Please review the PR I have created.

[2022-01-20 20:27] quozl commented on #353
@shubhayu09, please review https://github.com/sugarlabs/www-sugarlabs/pull/354

[2022-01-21 06:51] shubhayu09 commented on #353
Yeah sure

[2022-01-21 08:47] S-kus commented on #352
@quozl Should I just remove it and create a pr? For this, I need to remove its link from the script tag and other required places.

[2022-01-21 10:17] quozl commented on #352
Sorry, I don't know how to do it.  Let me know if you do.

[2022-01-21 12:21] S-kus commented on #352
@quozl Please review it.

[2022-01-21 12:39] S-kus commented on #351
Here `nicescroll` is used just for the scrolling of the second header in `#sidebar`. We can do this without any extra files, i.e. just by adding some CSS styles in the default scrollbar.
I have tried and it's working similarly to the earlier one. As shown:
### Earlier:
![before](https://user-images.githubusercontent.com/86892991/150528029-026d5c2b-453f-4203-a605-e4cb3160b214.png)

### Now:
![after

[2022-01-21 21:55] quozl commented on #351
I'll defer my opinion until I see the change.  If we can avoid having to maintain a dependency, that is better.

[2022-01-21 21:59] S-kus commented on #351
@quozl Should I raise a pr for this with commit messages?

[2022-01-22 18:47] nikkuAg commented on #349
Hi, can I work on this issue if no one has been assigned.

[2022-01-22 18:54] nikkuAg commented on #205
Hey,
Are you still planning to update the design of serach bar or in navbar, as I am willing to contribute.

[2022-01-24 23:14] chimosky commented on #205
Hi @nikkuAg, yes and you open a PR if you have a fix.

[2022-01-24 23:17] chimosky commented on #349
Hey @nikkuAg yes you can work on the issue, see my response above too.

[2022-01-24 23:32] chimosky commented on #351
A PR would be better.

[2022-01-25 08:34] S-kus commented on #351
Thanks, @chimosky.
I created the pr for this, Please review it.

[2022-01-26 04:40] #351 closed

[2022-01-26 07:21] nikkuAg commented on #353
Hello,
Can I work on this issue?
I will also incorporate the changes for the icons in footer and side bar.

[2022-01-26 08:57] quozl commented on #353
I'm tired of being asked.  It's about time you read our guide to [Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) in particular where it starts out saying

If your purpose is to block other contributors, such as @shubhayu09 here, that won't work.  We'll take whichever pull request is best, or even combine pull requests.  Let's get this done.

[2022-01-26 11:11] #352 closed

[2022-01-26 11:14] quozl opened #357 "Source map errors"
No impact, but Firefox browser tools says

[code]

[2022-01-26 11:17] quozl commented on #316
* [ ] _layouts/base.html is using a CDN instead of our own copy of the file.

[2022-01-26 11:31] S-kus commented on #357
When I am migrating it from bootstrap v3 to v4 in https://github.com/sugarlabs/www-sugarlabs/pull/347 I found out it's happening because of commented link in `bootstrap.css` in line **8975** i.e. last line.
We can solve it by adding the **bootstrap.css.map** file from official documents of Bootstrap v4 in the same CSS folder.
Can I raise the pr by adding the file? Do I need to update the Licence f

[2022-01-26 11:33] quozl opened #358 "mySlides error"
No impact, but Firefox reports

[code]

https://github.com/sugarlabs/www-sugarlabs/blob/master/_includes/footer.html#L183

I can't see any element with a mySlides class.  Looking back into git commit history, it was removed in bfe3fc25e30bf5fd15d16d0acd3555e0068cea6e, so perhaps that patch was incomplete.

[2022-01-26 11:47] #357 closed

[2022-01-26 11:48] quozl commented on #357
Thanks.  Fixed.

I'm tired of being asked.  It's about time you read our guide to [Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) in particular where it starts out saying

:grin:

Nothing about the license file needs to change, does it?

[2022-01-26 11:58] S-kus commented on #357
No, Sorry! I misunderstood.

[2022-01-26 16:57] walterbender opened #360 "It is Sugar Labs, not Sugarlabs"
We should update the website wherever it uses Sugarlabs instead of Sugar Labs. For example, in https://github.com/sugarlabs/www-sugarlabs#readme Line 4 ```# [Sugarlabs](https://www.sugarlabs.org/)```

[2022-01-26 19:32] S-kus commented on #360
@walterbender I found this in 3 files, Other places are links. Please review the pr.

[2022-01-26 20:30] #360 closed

[2022-02-01 16:52] S-kus commented on #358
@quozl I raised the pull request for it, Please review.

[2022-02-02 06:46] nikkuAg commented on #353
Hey @quozl  @chimosky,

I want to confirm that is it required to use files like ionicons.min.css as there is an easier way by using a script and then importing the icons.

[2022-02-02 08:40] ishubham21 opened #363 "Migrating to Bootstrap 5.0"
The current version of the website is running on an outdated version of bootstrap i.e. 4.0. This website can be migrated to the latest version i.e. 5.0 of bootstrap.

[2022-02-02 08:57] ishubham21 opened #364 "Broken link in footer"
In the website footer, under the 'Development' section, the link to 'IRC Channel' targets to `http://chat.sugarlabs.org:9090/` that is incorrect. I also tried using `http://chat.sugarlabs.org` if it works, but it didn't.

[2022-02-02 10:44] chimosky commented on #363
Closing this as there's been ongoing conversation about this in #316.

[2022-02-02 10:44] #363 closed

[2022-02-02 10:57] chimosky commented on #364
Thanks for pointing that out, for now if you can change the link to our [matrix](https://matrix.to/#/#sugar:matrix.org) channel I'd appreciate it and merge. Thanks!

[2022-02-02 11:30] chimosky commented on #353
Currently the idea is to update the existing `ionicons.min.css` version and that includes using the file, if you think there's a better way then you can open a PR and add why you think that's better to your commit message as it'll be easier for us to test and review and move the convo forward.

[2022-02-02 11:45] ishubham21 commented on #364
I'm on it

[2022-02-02 15:05] ishubham21 commented on #364
Made a PR - https://github.com/sugarlabs/www-sugarlabs/pull/365

[2022-02-03 08:26] quozl commented on #353
Sorry. I don't understand the question.  I agree with @chimosky that it would be clearer if we saw a pull request, which you can mark as draft if it is not intended for merging.  The issue here (https://github.com/sugarlabs/www-sugarlabs/issues/353) is that an old version is being used.  Removing it would fix it, as would updating it.  If removing it is proposed, I'd like to see reasons.

[2022-02-03 08:28] #358 closed

[2022-02-03 08:34] quozl opened #366 "Slow load due to CDN"
Page load using Firefox in developer tools console mode shows some resources are not used from our server; this creates external dependencies and additional domain name resolution time.

* [ ] https://code.jquery.com/jquery-2.2.4.min.js (https://github.com/sugarlabs/www-sugarlabs/issues/349),
* [ ] https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js
* [ ] https://cdnjs.cloudflare.c

[2022-02-03 10:46] #364 closed

[2022-02-03 13:26] ishubham21 commented on #366
I'm on it.

[2022-02-03 13:31] ishubham21 commented on #366
How about I include minified versions of the files like `bootstrap.js` and `bootstrap.css` alongside addressing the issue?

[2022-02-04 15:52] nikkuAg commented on #353
Hey @quozl @chimosky,

I have updated the changes for this issue in PR #354.
Please review it.

[2022-02-04 23:23] #366 closed

[2022-02-05 09:35] #353 closed

[2022-02-05 12:30] nikkuAg commented on #349
Hey @chimosky,

Can you please review the PR which is regarding updating jquery to the newest version.
PR: #369

[2022-02-05 14:46] S-kus opened #370 ""Footer icons" are overlapping with "contribute to website""
Footer icons `div` is overlapping with `#contributor` and it's also getting left-aligned for different screen sizes i.e. not responsive in the correct manner. As shown below:

![Screenshot from 2022-02-05 20-09-35 (1)](https://user-images.githubusercontent.com/86892991/152646547-95b4524a-f288-4bd7-8258-b69456c075c8.png)

![Screenshot from 2022-02-05 20-09-39](https://user-images.githubusercontent.

[2022-02-05 16:14] Raeskaa commented on #370
hey can you center that "contribute to website" thing down the footer icons div @S-kus

[2022-02-05 16:39] S-kus commented on #370
Hello @Raeskaa, Could you please review my pull request #371? I have corrected it.

[2022-02-05 17:28] Raeskaa commented on #370
@S-kus Yeah sure!

[2022-02-05 21:55] #370 closed

[2022-03-25 22:03] quozl commented on #349
You forgot a "fixes #349".  :grin:

[2022-03-25 22:03] #349 closed

[2022-03-25 23:11] quozl opened #374 "Site not rendering on Firefox"
Merging https://github.com/sugarlabs/www-sugarlabs/pull/373 broke the site for Firefox, spinner stays in front of content, and console shows
[code]

[2022-03-25 23:12] quozl commented on #374
Master branch has been reset to dbd8f2bec6bca8f77b1f8f8769fa65e37c294b08.

[2022-03-25 23:13] quozl commented on #374
@nikkuAg, please fix and redo jQuery upgrade, and test on Firefox?

[2022-07-26 09:52] ABHISHEK-PANDEY2 opened #375 "Bug : Input field covers sugar labs logo on width 1215px - 1280px"
The input field covers up the logo when rendered on width 1215px - 1280px

![image](https://user-images.githubusercontent.com/95560057/180978136-03d72ae7-4ffb-42d4-b6b2-5122ecf2f776.png)

[2022-08-21 04:43] prayatharth commented on #375
Hey There ! Can I try Fix it?

[2022-08-24 11:27] chimosky commented on #375
Hey @prayatharth please feel free to open a PR with your fix, also take a look at our [contributing guide](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#contributing) which has some helpful information.

Looking forward to your PR!

[2022-09-03 05:43] kartikjoshi267 commented on #375
Hey there, I would like to fix this issue! Shall I go ahead?

[2022-09-03 05:49] quozl commented on #375
Thanks.  As per previous response, please read our contributing guide
and make a pull request.

[2022-09-04 08:00] #375 closed

[2022-09-04 08:04] quozl opened #380 "Remove search"
The search box regularly does not render in the correct position; at the moment, it renders just above and to the right of the Sugar Labs logo.  The search function does nothing particularly useful, it delegates to Google Search.  It would be best to leave searching to the better user experience of search engines.

* remove the search box,
* remove the search feature.

[2022-09-04 08:06] #89 closed

[2022-09-06 00:55] chimosky commented on #380
Agreed, the search feature isn't needed.

[2022-09-10 10:51] aritroCoder commented on #374
Is this open? I can try to fix this issue

[2022-09-10 14:22] chimosky commented on #374
Hey @aritroCoder feel free to work on the issue, you should also take a look at our [contributing guide](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md).

Looking forward to your PR!

[2022-09-11 10:55] aritroCoder commented on #374
Hello, I have installed `ruby `and `ruby bundler`, now  when I try to run `bundle install` I get  some kind of error( screenshot attached). I searched some stackoverflow articles but they did not exactly help
![image](https://user-images.githubusercontent.com/92646038/189523673-74e62f6b-f99c-4f49-8b2c-e63a89b7e645.png)
by the the I am running this in ubuntu if that helps in some way

[2022-09-11 11:44] quozl commented on #374
That's an internet problem.  Diagnose why your computer cannot reach that URL.

[2022-09-19 10:29] Jyoti28Dhikale commented on #345
hey! is this issue still opened?

[2022-09-19 11:00] quozl commented on #345
@Jyoti28Dhikale, thanks for asking.  Please review pull request https://github.com/sugarlabs/www-sugarlabs/pull/387.

[2022-09-21 15:15] Jyoti28Dhikale commented on #345
@quozl  Hello! can you please elaborate what should I do in Remove sidebar social media icons #387

[2022-09-21 22:58] quozl commented on #345
Sure.  By engaging with Sugar Labs on GitHub, I had presumed you wish to contribute to coding.

Our [Guide to Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) lists the tasks that we think of as contributing to coding.  Please read and understand that document, and ask any questions to clarify.

For this particular issue #345 on the web site repository, the ne